<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="SSI-html" path="*.html" verb="*" modules="ServerSideIncludeModule" scriptProcessor="C:\Windows\System32\inetsrv\iis_ssi.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
