<section id="add-user">
    <!--breadcrumbs -->
  
    <ul class="breadcrumbs clearfix">
        <li><a href="#user-list">Kasutajad</a> <span class="divider">/</span></li>
        <li class="active">Kasutaja lisamine</li>
    </ul>
    <div class="pagename">
        <h1><a href="#user-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Kasutaja lisamine</h1>
    </div>
    <form class="form-horizontal">
        <fieldset>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Nimi</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Perekonnanimi</label>
                <div class="controls">
                    <input id="text1" name="textinput" type="text" placeholder="" class="input-xlarge">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Isikukood</label>
                <div class="controls">
                    <input id="text2" name="textinput" type="text" placeholder="" class="input-xlarge">
                </div>
            </div>

           <div class="control-group">
                <label class="control-label" for="selectbasic">Roll</label>
                <div class="controls">
                    <select id="selectbasicDisable" name="selectbasic" class="selectpicker show-tick">
                        <option value="1">Eksamineeritav</option>
                        <option>Advokatuuri kantselei töötaja</option>
                        <option>Kutsesobivuskomisjoni liige</option>
                        <option>Administraator</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="selectbasic1">Eksami liik</label>
                <div class="controls">
                    <select id="add-user-exam-type" name="selectbasic1" class="selectpicker show-tick">
                        <option>Vandeadvokaadi abi eksam</option>
                        <option>Vandeadvokaadi eksam</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                    <label class="control-label" for="inputDecisionDate">Juhatuse otsuse kuupäev</label>
                    <div class="controls">
                         <div class="input-append date" id="dp3" data-date="08.10.2013" data-date-format="dd.mm.yyyy">

				            <input class="input-xlarge" size="16" type="text" id = "add-user-inputDate" value="08.10.2013">
				            <span class="add-on"><i class="icon-calendar"></i></span>

			              </div>
                    </div>
                </div>
            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
                <label class="control-label" for="selectbasic">Aktiivne</label>
                <div class="controls">
                    <div class="make-switch" data-on="primary" data-on-label="Jah" data-off-label="Ei">
                        <input type="checkbox" checked>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Button (Double) -->
            <div class="control-group">
                <div class="controls">
                    <a href="#user-list" name="button1id" class="btn btn-default">Katkesta</a>
                    <a href="#user-list-added-user" name="button2id" class="btn btn-primary">Lisa</a>
                </div>
            </div>

        </fieldset>
    </form>
</section>
