
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top" style="height: 23px;">
            <div class="navbar-inner">
                <div id="" style="width: 997px; margin: 0 auto;">
                    <div class="nav-collapse collapse">
<!--                         <ul class="nav head-nav">
                            <li class="active">
                                <a href="javascript:void(0);">EKSAMIKESKKOND</a>
                            </li>
                        </ul> -->
                        <ul class="nav head-nav pull-right">
                            <li><a href="#">Administraator Leo Kikerpuu</a></li>
                            <li><a class="tip icon-off" href="#" data-toggle="tooltip" data-original-title="Välju" data-placement="bottom"></a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div id="header-container" class="admin header-container clearfix">
            <div class="header-inner">
                <a href="/est/avaleht">
                    <img class="logo" src="img/logo3.png" alt="">
                </a>
                <div class="pagename">
                    <h1>Eksamikeskkond</h1>
                </div>
<!--         <div class="search">
          <form action="/est/otsing" method="get">
            <input type="text" name="q" value="" placeholder="Sisesta otsingusõna">
            <a href="#" onclick="$(this).parent('form').submit();return false;" class="search-button"></a>
          </form>
        </div> -->
      <div class="main-menu">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner ">
            <ul class="nav">
              <li class="active">
                <a href="#user-list">
                  <span>Kasutajad                    </span>
                </a>
              </li>
              <li class="">
                <a href="#exam-test-list">
                  <span>Eksamid                    </span>
                </a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Seaded <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#settings-userrights">Juurdepääsud</a></li>
                    <li><a href="#settings-exam-conditions">Sooritamise tingimused</a></li>
                    <li><a href="#settings-writings-case">Kaasusülesanded</a></li>
                    <li><a href="#settings-notifications">Teavitused</a></li>
                    <li><a href="#exam-test-questions">Testi küsimused</a></li>
                    <li><a href="#exam-writings">Kaasusülesanded</a></li>
                    <li><a href="#settings-log">Logi</a></li>
                </ul>
            </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </header>
