<section class="content" id="exam-test-list">

    <!--<ul class="breadcrumbs clearfix">
        <li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li class="active">Kirjalikud eksamid</li>
    </ul>-->
    
  <form class="form-inline">
        <fieldset>
            <div class="well">
                <span class="inline-group">
                    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <label class="control-label" for="dp3">Kuupäev</label> 
                        <input class="span2" size="16" type="text" value="" placeholder="Vali kuupäev">
                        <span class="add-on" onclick=""><i class="icon-calendar"></i></span>
                    </div>
                </span>
                <span class="inline-group">
                      <select id="select3" name="selectkoht" class="selectpicker show-tick">
                        <option value="">Vali staatus</option>
                        <option value="20">Registreerimine pole veel alanud</option>
                        <option value="20">Registreerimine on alanud</option>
                        <option value="20">Registreerimine on lõppenud</option>
                        <option value="20">Eksam on alanud</option>
                        <option value="20">Eksam on lõppenud</option>
                    </select>
                </span>
                <div class="filterbuttons">
                    <span class="span1"><a class="btn text-right" href="#" onclick="showOnPage($('#exam-test-list-table tr')); return false;">Tühjenda</a></span>
                    <span class="span1"><a class="btn btn-primary pull-right" href="#" onclick="hideOnPage($('#exam-test-list-table tr:gt(2)')); return false;">Otsi</a></span>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="row tablebefore">
        <small>Kokku eksameid 5</small>
        <div class="add-item pull-right">
            <a href="#exam-add-exam" class="btn btn-primary"><i class="icon-plus-sign"></i> Lisa eksam</a>
        </div>
    </div>
    <table class="table datatable datatable-nr" id="exam-test-list-table">
                   <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Toimumise<br>kuupäev</th>
                            <th>Staatus</th>
                            <th>Eksamineeritavaid</th>
                            <th>Reg. tähtaeg</th>
			                <th class="js-no-sort"></th>
                            <th class="js-no-sort"></th>
                            <th class="js-no-sort"></th>
		                </tr>
                  </thead>
                  <tbody>
		                  <tr class="inactive">
                            <td></td>
                            <td>27.12.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.09.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                            <td class="narrow">
                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                            </td>
                            <td class="narrow">

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>27.12.2013</td>
                            <td>Registreerimine pole veel alanud</td>
			                <td>40</td>
			                <td>27.09.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                            <td class="narrow">
                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                            </td>
                            <td class="narrow">

                            </td>
                        </tr>
		                <tr>
                            <td></td>
                            <td>22.01.2013</td>
                            <td>Registreerimine on lõppenud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                            <td class="narrow">
                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                            </td>
                            <td class="narrow">
                              <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#exam-test-list" data-toggle="tooltip" title="Koosta küsimustik"></a></span>
                            </td>
                        </tr>
			            <tr class="inactive">
                            <td></td>
                            <td>22.01.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                            <td class="narrow">
                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                            </td>
                            <td class="narrow">

                            </td>
                        </tr>
		                <tr class="inactive">
                            <td></td>
                            <td>22.01.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                            <td class="narrow">
                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                            </td>
                            <td class="narrow">

                            </td>
                        </tr>
                </tbody>
              </table>
    <!--<table class="table sortable" >
   <thead>
        <tr>
                <th>Toimumise
                    <br>
                    kuupäev</th>
                <th>Kella-
                    <br>
                    aeg</th>
            <th>Toimumiskoht</th>
      <th>Aega testiks</th>
      <th>Aega kaasuseks</th>
      <th>Kohti ruumis</th>
      <th>Reg. tähtaeg</th>
			<th></th>
      <th></th>
      <th></th>
		</tr>
  </thead>
  <tbody>
		  <tr>
            <td>27.12.2013</td>
            <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2
                    <br>
      Rävala pst 3, Tallinn ruum 3
            </td>
     <td>90 min</td>
     <td>360 min</td>
			<td>60</td>
			<td>27.09.2013</td>
        <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
            </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#exam-test-list" data-toggle="tooltip" title="Koosta küsimustik"></a></span>
    </td>
        </tr>
        <tr>
            <td>27.12.2013</td>
            <td>10:00</td>
				<td>Rävala pst 3, Tallinn ruum 2
					<br>
				Rävala pst 3, Tallinn ruum 3

            </td>
    <td>90 min</td>
    <td>360 min</td>
			<td>60</td>
			<td>27.09.2013</td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
				  <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#myModal1" role="button" data-toggle="modal" data-toggle="tooltip" title="Koosta küsimustik"></a></span>
            </td>
        </tr>
		<tr>
            <td>27.01.2013</td>
            <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2
                    <br>
      Rävala pst 3, Tallinn ruum 3
            </td>
   <td>90 min</td>
   <td>360 min</td>
			<td>60</td>
			<td>27.12.2013</td>
      <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#myModal1" role="button" data-toggle="modal" data-toggle="tooltip" title="Koosta küsimustik"></a></span>
            </td>
        </tr>
			<tr>
            <td>27.07.2013</td>
            <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2
                    <br>
      Rävala pst 3, Tallinn ruum 3
            </td>
 <td>90 min</td>
 <td>360 min</td>
			<td>40</td>
			<td>27.12.2013</td>
      <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#myModal2" role="button" data-toggle="modal" data-toggle="tooltip" title="Koosta küsimustik"></a></span>
            </td>
        </tr>
		<tr>
            <td>27.01.2013</td>
            <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2
                    <br>
      Rävala pst 3, Tallinn ruum 3
            </td>
 <td>90 min</td>
 <td>360 min</td>
			<td>60</td>
			<td>27.12.2013</td>
<td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
    </td>
    <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
            </td>
    <td></td>
        </tr>
</tbody>
    </table>-->

	<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModal1Label">Teade</h3>
		</div>
		<div class="modal-body">
			

			<span style="color: red">Eksami genereerimine ebaõnnestus!</span>
			<br />
			<p>Põhjused:</p>
			<ul>
				<li>Valdkonnas "Eraõigus ja tsiviilkohtumenetlus" pole piisavalt aktiivseid kaasusülesandeid</li>
				<li>Valdkonnas "Karistusõigus ja kriminaalmenetlus" pole piisavalt aktiivseid küsimusi</li>
			</ul>
				
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Sulge</button>
	</div>
	</div>
	<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="H1">Teade</h3>
		</div>
		<div class="modal-body">
				Kirjaliku eksami küsimustiku genereerimine õnnestus!
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Sulge</button>
	</div>
	</div>
</section>
