<section id="exam-test-list">

	<!-- #include file="_adminmenu.html" -->
    <!-- @include _adminmenu -->

	<form class="form-horizontal">
		<fieldset>
			<legend>Kirjalike eksamite nimekiri</legend>
			<div class="row">
				<div class="span4">

					<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<label class="control-label" for="dp3">Eksami kuupäev&nbsp;&nbsp;</label>
						<input class="span2" size="16" type="text" value="12-02-2012">
						<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">

						<label class="control-label " for="textinput1">Eksami toimumiskoht</label>

						<div class="controls controls-row">
							<input id="text1" name="textinput1" type="text" placeholder="Eksami toimumiskoht" class="input-medium">
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div class="span4">
					<div class="control-group">

						<label class="control-label" for="textinput2">Eksami kellaaeg</label>

						<div class="controls">
							<input id="textinput" name="textinput2" type="text" placeholder="Eksami kellaaeg" class="input-medium">
						</div>
					</div>
				</div>
				
				<div class="span1 offset7 pull-right">
					<!-- Button -->
					<a class="btn btn-primary" href="#exam-test-list-search">Otsi</a>
				</div>
			</div>
		</fieldset>
	</form>

	<div class="control-group pull-right">
                <div class="controls">
                    <div class="input-prepend">
                         <a href="#exam-add-exam" class="btn">Lisa Eksam</a>
                        <span class="add-on"><i class="glyphicon glyphicon-plus-sign"></i></span>
                    </div>
                </div>
            </div>

	<table class="table table-bordered">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Kellaaeg</th>
            <th>Toimumiskoht</th>
            <th>Testi kestvus</th>
			<th>Kaasuse kestvus</th>
			<th>Max osalejate arv</th>
			<th>Reg. lõppkuupäev</th>
			<th></th>
		</tr>
        <tr>
            <td>27.12.2013</td>
            <td>10:00</td>
            <td>
				<ul class="nav nav-pills">
					<li>Rävala pst 3, Tallinn ruum 2</li>
					<li>Rävala pst 3, Tallinn ruum 3</li>
				</ul>
            </td>
			<td>90 minutit</td>
			<td>360 minutit</td>
			<td>60</td>
			<td>27.09.2013</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#exam-change-exam">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')">Kustuta</a></li>
				  <li ><a href="#oral-exam-generated-list">Genereeri suulise eksami järjekord</a></li>
				</ul>
            </td>
        </tr>
		<tr>
            <td>27.01.2013</td>
            <td>10:00</td>
            <td>
				<ul class="nav nav-pills">
					<li>Rävala pst 3, Tallinn ruum 2</li>
					<li>Rävala pst 3, Tallinn ruum 3</li>
				</ul>
            </td>
			<td>90 minutit</td>
			<td>360 minutit</td>
			<td>60</td>
			<td>27.12.2013</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#exam-change-exam">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')">Kustuta</a></li>
				  <li><a href="#myModal1" role="button"  data-toggle="modal">Genereeri kirjaliku eksami küsimustik</a></li>
				</ul>
            </td>
        </tr>
		<tr>
            <td>27.01.2013</td>
            <td>10:00</td>
            <td>
				<ul class="nav nav-pills">
					<li>Rävala pst 3, Tallinn ruum 2</li>
					<li>Rävala pst 3, Tallinn ruum 3</li>
				</ul>
            </td>
			<td>90 minutit</td>
			<td>360 minutit</td>
			<td>60</td>
			<td>27.12.2013</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#exam-change-exam">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')">Kustuta</a></li>
				  <li class="disabled"><a> </a></li>
				</ul>
            </td>
        </tr>
    </table>
	 <p>
            <small>Kokku: <span id="etl">3</span> kirjet</small>
        </p>

	<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModal1Label">Teade</h3>
		</div>
		<div class="modal-body">
			

				<span style="color:red">Eksami genereerimine ebaõnnestus!</span> 
			<br />
			<p>Põhjused:</p>
			<ul>
				<li>Valdkonnas "Eraõigus ja tsiviilkohtumenetlus" pole piisavalt aktiivseid kaasusülesandeid</li>
				<li>Valdkonnas "Karistusõigus ja kriminaalmenetlus" pole piisavalt aktiivseid küsimusi</li>
			</ul>
				
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Sulge</button>
	</div>
	</div>

</section>
