<section id="exam-question-add">

	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#exam-test-list">Kirjalik eksam</a></li>
				<li><a href="#oral-exam-list">Suuline eksam</a></li>
				<li class="active"><a href="#exam-test-questions">Testi küsimused</a></li>
				<li><a href="#">Kaasusülesanded</a></li>
			</ul>
		</div>
	</div>

	<!--Breadcrumbs -->
	<ul class="breadcrumb">
		<li><a href="#exam-add-exam">Testi küsimuste nimekiri</a> <span class="divider">/</span></li>
		<li><a>Testi küsimuse lisamine</a> </li>
	</ul>


	<div class="span7">
		<form class="form-horizontal">
			<fieldset>

				<!-- Form Name -->
				<legend>Testi küsimuse lisamine</legend>

				
				TODO


				<!-- Button -->
				<div class="form-actions" style="background: none; border: none;">
					<a class="btn" href="#exam-test-questions" id="A1">Katkesta</a>
					<a class="btn btn-primary" href="#exam-test-questions-added">Lisa</a>
				</div>
			</fieldset>

		</form>
	</div>


</section>
