<section id="exam-add-exam">

            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->

<!--	<ul class="nav nav-pills">
		<li class="active"><a href="#exam-test-list">Eksamite nimekiri</a></li>
		<li ><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
	</ul>

	<!--breadcrumbs -->
	<ul class="breadcrumbs">
		<li><a href="#exam-test-list">Eksamite nimekiri</a> <span class="divider">/</span></li>
		<li><a>Kirjaliku eksami lisamine</a> </li>
	</ul>



		<form class="form-horizontal">
			<fieldset>

				<!-- Form Name -->
				<legend>Kirjaliku eksami lisamine</legend>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">
						<label class="control-label" for="dp3">Kuupäev</label>

						<div class="controls">
						<div class="input-append date" id="Div3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							
							<input class="span2" size="16" type="text" value="">
							<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
						</div></div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">

						<label class="control-label" for="">Kellaaeg</label>

						<div class="controls">
							<input id="text2" name="textinput" type="text" placeholder="Kellaaeg" class="input-large">
						</div>
					</div>
				</div>
				<!-- Text input-->

				<div id="r1" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Toimumiskoht ja Ruum</label>

						<div class="controls">
							<input id="text3" name="textinput" type="text" placeholder="Toimumiskoht ja ruum 1" class="input-large">
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div id="r2" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Max osalejate arv ruumis</label>

						<div class="controls">
							<input id="text4" name="textinput" type="text" placeholder="Max osalejate arv ruumis 1" class="input-large">
						</div>
					</div>
				</div>


				<div class="hidden" id="showMe">
				<div id="Div4" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Toimumiskoht ja ruum</label>

						<div class="controls">
							<input id="text1" name="textinput" type="text" placeholder="Toimumiskoht ja ruum 2" class="input-large">&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent().parent().parent())">X</button>
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div id="Div5" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Max osalejate arv ruumis</label>

						<div class="controls">
							<input id="text7" name="textinput" type="text" placeholder="Max osalejate arv ruumis 2" class="input-large">&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent().parent().parent())">X</button>
						</div>
					</div>
				</div>
				</div>

				<div class="span7">
					<div class="control-group">

						<div class="controls">
							<div class="input-prepend">
								<button onclick="shownOnPage2($('#showMe'),'showOnPage')" class="btn">Lisa eksami toimumiskoht</button>
								<span class="add-on"><i class="icon-plus-sign"></i></span>
							</div>
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">

						<label class="control-label" for="">Testi kestvus</label>

						<div class="controls">
							<input id="text5" name="textinput" type="text" placeholder="Testi kestvus minutites" class="input-large">
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">

						<label class="control-label" for="">Kaasuse kestvus</label>

						<div class="controls">
							<input id="text6" name="textinput" type="text" placeholder="Kaasuse kestvus minutites" class="input-large">
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">
						<label class="control-label" for="dp3">Eksamile reg. lõppkuupäev</label>

						<div class="controls">
						<div class="input-append date" id="Div1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							
							<input class="span2" size="16" type="text" value="">
							<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
						</div></div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">
						<label class="control-label" for="dp3">Eksami tühistamise kp</label>
						<div class="controls">
						<div class="input-append date" id="Div2" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							
							<input class="span2" size="16" type="text" value="">
							<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
						</div>
					</div></div>
				</div>


				<!-- Button -->
				<div class="span7">
					<div class="control-group">
				<div class="form-actions" style="background: none; border: none;">
					<a class="btn" href="#exam-test-list" id="A1">Katkesta</a>
					<a class="btn btn-primary" href="#exam-test-list-added">Lisa</a>
				</div></div></div>
			</fieldset>

		</form>
	


</section>
