<section id="exam-writings">

    <ul class="breadcrumbs clearfix">
        <li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li class="active">Kaasusülesanded</li>
    </ul>
    <div class="pagename">
        <h2>Kaasusülesanded</h2>
    </div>
    
    <form class="form-inline">
        <fieldset>
            <div class="well">
                <span class="inline-group">
                    <label class="control-label" for="dp3">Kaasusülesande valdkond</label>
                    <select id="select2" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Riigi põhikord,avalik õigusja halduskohtumenetlus</option>
                        <option>Eraõigus ja tsiviilkohtumenetlus</option>
                        <option>Karistusõigus ja kriminaalmenetlus</option>
                        <option>Vandeadvokaadi abi</option>
                    </select>

                </span>
                <span class="inline-group">
                    <label class="control-label " for="textinput1">Küsimuse staatus</label>
                    <select id="select4" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Aktiivne</option>
                        <option>Mitte aktiivne</option>
                        <option>Testkaasus</option>
                    </select>
                </span>
                <a class="btn btn-primary pull-right" href="#" onclick="hideOnPage($('#exam-writings-results tr:gt(2)')); return false;">Filtreeri</a>
            </div>
            <div class="row">
                <div class="span4">
                    <small>Kokku kaasusülesandeid 5</small>
                </div>
                <div class=" pull-right">
                    <a href="#exam-writings-add" class="btn btn-primary"><i class="icon-plus-sign"> Lisa kaasus</i>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>


    <table class="table sortable" id="exam-writings-results">
        <thead>
            <tr>
                <th>Jrk. nr</th>
                <th>Kaasuseülesande nr</th>
                <th>Kaasuse valdkond</th>
                <th>Staatus</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Kaasusülesanne 1</td>
                <td>Eraõigus ja tsiviilkohtumenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#exam-writings-change" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr class="inactive">
                <td>2.</td>
                <td>Kaasusülesanne 2</td>
                <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                <td>Mitte Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-eye-open" href="#exam-writings-disabled" data-toggle="tooltip" title="Vaata"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Kaasusülesanne 3</td>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#exam-writings-change" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Kaasusülesanne 4</td>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#exam-writings-change" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
