<section id="test-disabled-test">

		            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->

	<!--Breadcrumbs -->
	<!--	<ul class="breadcrumb">
		<li><a href="#exam-add-exam">Testi küsimuste nimekiri</a> <span class="divider">/</span></li>
		<li><a>Testi küsimuse lisamine</a> </li>
	</ul>-->



	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<legend>Testi küsimuse vaatamine</legend>
			<div class="control-group">
				<label class="control-label" for="">Küsimuse valdkond</label>
				<div class="controls">
					<select disabled="disabled" id="select3" name="selectbasic" class="selectpicker">
						<option>Riigi põhikord,avalik õigusja halduskohtumenetlus</option>
						<option>Eraõigus ja tsiviilkohtumenetlus</option>
						<option>Karistusõigus ja kriminaalmenetlus</option selected>
						<option>Advokatuur ja advokaadi kutsetegevus</option>
					</select>
				</div>
			</div>


			<div class="control-group">

				<label class="control-label " for="">Küsimus:</label>

				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse teksti</textarea>
					<br />
					<small>4000</small>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label " for="">Vastused:</label>
			</div>



			<div class="control-group">

				<label class="control-label " for="">A</label>

				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused A</textarea>
					<br />
					<small>1000</small>
				</div>
			</div>


			<div class="control-group">

				<label class="control-label " for="">B</label>

				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused B</textarea>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label " for="">C</label>
				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused C</textarea>&nbsp;&nbsp;
							
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label " for="">D</label>
				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused D</textarea>&nbsp;&nbsp;
							
					<br />
					<small>1000</small>
				</div>
			</div>

			<div id="ET_C" class="hidden">
				<label class="control-label " for="">E</label>
				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused E</textarea>&nbsp;&nbsp;
							
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="hidden">
				<label class="control-label " for="">F</label>
				<div class="controls controls-row">
					<textarea disabled="disabled" class="questionarea" rows="5">Muudetava küsimuse vastused F</textarea>&nbsp;&nbsp;
							
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="radios6">
					Õige vastus on:
				</label>
				<div class="controls">

					<label class="radio" for="radios3-0">
						<input disabled="disabled" type="radio" name="radios6" id="radios33" value="Option one">
						A
					</label>
					<br />
					<label class="radio" for="radios3-1">
						<input disabled="disabled" type="radio" name="radios6" id="radios3-1" value="Option two" checked>
						B
					</label>
					<br />
					<label id="C_C" class="radio" for="radios3-2">
						<input disabled="disabled" type="radio" name="radios6" id="radios3-2" value="Option three">
						C
					</label>

					<label id="D_C" class="radio" for="radios3-3">
						<br />
						<input disabled="disabled" type="radio" name="radios6" id="radios3-3" value="Option four">
						D
					</label>

					<label id="ER_C" class="hidden" for="radios3-4">
						<br />
						<input disabled="disabled" type="radio" name="radios6" id="radio1" value="Option five">
						E
					</label>

					<label id="F_C" class="hidden" for="radios3-5">
						<br />
						<input disabled="disabled" type="radio" name="radios6" id="radio2" value="Option six">
						F
					</label>
				</div>
			</div>

			
			<div class="control-group">
				<div class="controls">
					<label class="checkbox inline" for="checkboxes-0">
						<input disabled="disabled" type="checkbox" name="checkboxes" class="check-lg" id="checkbox2" value="1">
					</label>
					<span class="help-inline">Testkeskkonna küsimus</span>
					<br />
					<label class="checkbox inline" for="checkboxes-0">
						<input disabled="disabled" type="checkbox" name="checkboxes" class="check-lg" id="checkbox6" value="1" checked>
					</label>
					<span class="help-inline">Kohustuslik küsimus</span>
					<div class="control-group pull-right">
						<a class="btn" href="#exam-test-questions" id="A1">Tagasi</a>
					</div>
			</div>


		</fieldset>


	</form>



</section>
