<section id="test-disabled-test">

		            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->

	<!--Breadcrumbs -->
		<ul class="breadcrumbs">
		<li><a href="#exam-test-questions">Testi küsimuste nimekiri</a> <span class="divider">/</span></li>
		<li>Testi küsimuse vaatamine </li>
	</ul>



	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
				<div class="pagename">
                <h1>Testi küsimuse vaatamine</h1>
				</div>			<table>
				<tr>
					<td>
						<label>Küsimuse valdkond:</label></td>
					<td>Riigi põhikord,avalik õigusja halduskohtumenetlus</td>
				</tr>
				<tr>
					<td>
						<br />
						<label>Küsimus:</label></td>
					<td><span class="confirmtext">Käsipant, samuti õiguste pant lõpeb...</span>
					<td>
				</tr>

				<tr>
					<td>
						<label>Vastused:</label>
					</td>
					<td><br />
						<label class="radio" for="radios3-0">
							<input disabled="disabled" checked type="radio" name="radios6" id="radios33" value="Option one">
							A: pandiga tagatud nõude loovutamise <span class="confirmtext"><-- ÕIGE VASTUS</span>
						</label>
						<br />
						<label class="radio" for="radios3-1">
							<input disabled="disabled" type="radio" name="radios6" id="radios3-1" value="Option two">
							B: pandi registrist kustutamisel
						</label>

						<label id="C" class="radio" for="radios3-2">
							<br />
							<input disabled="disabled" type="radio" name="radios6" id="radios3-2" value="Option three">
							C: pandi eseme üleandmisel
						</label>

						<label id="D" class="radio" for="radios3-3">
							<br />
							<input disabled="disabled" type="radio" name="radios6" id="radios3-3" value="Option four">
							D: kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest
						</label>
					</td>
				</tr>
				<tr>
					<td><br /><br />See küsimus on märgitud kui:&nbsp;&nbsp;</td>
					<td><br /><br /><span class="confirmtext">Testkeskkonna küsimus</span></td>
				</tr>
			</table>
			<div class="control-group">
				
					<div class="control-group pull-right">
						<a class="btn" href="#exam-test-questions" id="A1">Tagasi</a>
					</div>
			</div>


		</fieldset>


	</form>



</section>
