<section id="exam-answeres">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />
    <ul class="breadcrumb">
        <li><a href="#user-list">Kasutajate nimekiri</a> <span class="divider">/</span></li>
        <li><a href="#student-exam-info">Aadu Aas eksamite info</a> <span class="divider">/</span></li>
        <li class="active">27.10.2012 eksami vastused</li>
    </ul>
    <!-- #include file="\_includes\_comission\_user_exam.html" -->
    <h3>Aadu Aas</h3>
    <ul class="nav nav-tabs">
        <li class="dropdown">
            <a class="dropdown-toggle"
                data-toggle="dropdown"
                href="#">Dropdown
        <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <!-- links -->
            </ul>
        </li>
    </ul>
    <p>Kirjaliku eksami kuupäev 27.01.2012</p>
    <div class="span9">

        <form class="form-horizontal" novalidate ng-controller="QuestionListCtrl">
            <fieldset ng-repeat="test in tests | limitTo:12">


                <!-- STABLE VERSION -->
                <div class="control-group">
                    <label class="control-label " for="{{test.question}}" id="question{{$index + 1}}">{{$index + 1}}. {{test.question}}</label>

                    <div class="controls">
                        <label class="radio testquestion" for="{{value}}" ng-repeat="(key, value) in test.answers">
                            <input type="radio" name="{{test.question}}" id="{{value}}" value="{{key}}" checked="checked" ng-model="tests">
                            {{key}}: {{value}}
                        </label>

                    </div>
                    <hr>
                </div>
            </fieldset>
        </form>
    </div>

</section>
