<section class="content" id="exam-writings">

    <!--<ul class="breadcrumbs clearfix">
        <li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li class="active">Kaasusülesanded</li>
    </ul>-->
    <div class="pagename">
        <h1>Kaasusülesanded</h1>
    </div>
    
    <form class="form-inline">
        <fieldset>
            <div class="well">
                <span class="inline-group">
                    <label class="control-label" for="dp3">Kaasusülesande valdkond</label>
                    <select id="select2" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Riigi põhikord,avalik õigusja halduskohtumenetlus (0)</option>
                        <option>Eraõigus ja tsiviilkohtumenetlus (1)</option>
                        <option>Karistusõigus ja kriminaalmenetlus (0)</option>
                        <option>Vandeadvokaadi abi (3)</option>
                    </select>

                </span>
                <span class="inline-group">
                    <label class="control-label " for="textinput1">Küsimuse staatus</label>
                    <select id="select4" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Aktiivne</option>
                        <option>Mitte aktiivne</option>
                        <option>Testkaasus</option>
                    </select>
                </span>
                <div class="pull-right">
                    <span class="span1"><a class="btn" href="#" onclick="showOnPage($('#exam-writings-results tr'));  return false;">Tühjenda</a></span>
                    <span class="span1"><a class="btn btn-primary pull-right" href="#" onclick="hideOnPage($('#exam-writings-results tr:gt(2)')); return false;">Otsi</a></span>
                </div>
            </div>
            <div class="row">
                
                <div class="span11">
                    
                    <small>Kokku kaasusülesandeid 4</small>
                </div>
                <div class=" pull-right">
                    <a href="#exam-writings-add" class="btn btn-primary"><i class="icon-plus-sign"></i> Lisa kaasus
                    </a>
                </div>
            </div>
        </fieldset>
    </form>


    <table class="table sortable" id="exam-writings-results">
        <thead>
            <tr>
                <th>Jrk. nr</th>
                <th>Kaasuseülesande nr</th>
                <th>Kaasuse valdkond</th>
                <th>Staatus</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Kaasusülesanne 1</td>
                <td>Eraõigus ja tsiviilkohtumenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-writings-confirm" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr class="inactive">
                <td>2.</td>
                <td>Kaasusülesanne 2</td>
                <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                <td>Mitte Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-writings-disabled" data-toggle="tooltip" title="Vaata"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Kaasusülesanne 3</td>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-writings-confirm" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Kaasusülesanne 4</td>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>Aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-writings-confirm" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
