  <!--<ul class="breadcrumbs clearfix">
    <li><a href="#user-list">Kasutajad</a> <span class="divider">/</span></li>
    <li><a href="#change-user">Aadu Aas</a> <span class="divider">/</span></li>
  </ul>-->

  <section class="content" id="exam-answeres">
    <div class="pagename">
      <h1><a href="#user-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Aadu Aas </h1>
    </div>


    <div class="well clearfix" style="margin-bottom: 30px;">
      <h4 class="wellhead">Vandeadvokaadi abi eksam 02.01.2014</h4>
      <div id="nav-wizard">
        <ul class='nav-wizard'>
          <li class="completed"><a href='#step1' data-toggle="tab">Testi tulemus</a></li> 
          <li class='active'><a href='#step2' data-toggle="tab">Kaasusülesande tulemus</a></li> 
          <li><a>Suulise eksami tulemus</a></li> 
          <li><a>Eksamikomisjoni otsus</a></li> 
        </ul>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Kirjalik eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.01.2014</p>
          <p><small>Valdkond: </small>Eraõigus ja tsiviilkohtumenetlus</p>
          <p><small>Testi tulemus:</small> 75% arvestatud</p>
          <p><small>Kaasuse tulemus:</small> 9</p>
        </div>
        <div class="span4">
          <h4>Suuline eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.02.2014</p>
          <p><small>Tulemus:</small> 9</p>
        </div>
        <div class="span4">
          <h4>Otsus</h4>
          <hr class="closer">
          <p><small>Kuupäev:</small> 08.10.2013</p>
          <p><small>Otsuse nr:</small> 12</p>
          <p><small>Isikusobivus:</small> Sobib</p>
          <p><small>Eksamikomisjoni otsus:</small> Sooritatud</p>
        </div>
      </div>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li  ><a href="#persona" data-toggle="tab">Isikuandmed</a></li> <!-- class="active" -->
        <li><a href="#0" data-toggle="tab">Registreering</a></li>
        <li><a href="#1" data-toggle="tab">Testi vastused</a></li>
        <li><a href="#2" data-toggle="tab">Kaasusülesande lahendus</a></li>
        <li><a href="#3" data-toggle="tab">Otsus</a></li>
        <li><a href="#4" data-toggle="tab">Kõik eksamid</a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane" id="persona">
          <form class="form-horizontal">
            <fieldset>

              <!-- Text input-->

              <div class="control-group">
                <label class="control-label" for="textinput">Isikukood</label>
                <div class="controls">
                  <a href="#" class="editableinline" id="new_forename" data-type="text" data-name="forename" data-original-title="Muuda">1234567890</a>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="textinput">Nimi</label>
                <div class="controls">
                  <a href="#" class="editableinline" id="new_forename" data-type="text" data-name="forename" data-original-title="Muuda">Aadu</a> &nbsp; <a href="#" class="editableinline" id="new_forename" data-type="text" data-name="forename" data-original-title="Muuda">Aas</a>
                </div>
              </div>

              <!-- Text input-->


              <div class="control-group">
                <label class="control-label" for="selectbasic">Roll</label>
                <div class="controls">
                  <select id="selectbasicDisable" name="selectbasic" class="selectpicker show-tick">
                    <option value="1">Eksamineeritav</option>
                    <option>Advokatuuri kantselei töötaja</option>
                    <option>Kutsesobivuskomisjoni liige</option>
                    <option>Administraator</option>
                  </select>
                </div>
              </div>

              <!-- Select Basic -->
              <div class="control-group">
                <label class="control-label" for="selectbasic1">Eksami liik</label>
                <div class="controls">
                  <select id="add-user-exam-type" name="selectbasic1" class="selectpicker show-tick">
                    <option>Vandeadvokaadi abi eksam</option>
                    <option>Vandeadvokaadi eksam</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputDecisionDate">Juhatuse otsuse kuupäev</label>
                <div class="controls">
                  <a href="#" class="editableinline" id="dob" data-type="date" data-pk="1" data-url="/post" data-title="Select date">15/05/1984</a>
                </div>
              </div>
              <!-- Multiple Checkboxes (inline) -->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Aktiivne</label>
                <div class="controls">
                  <div class="make-switch" data-on="primary" data-on-label="Jah" data-off-label="Ei">
                    <input type="checkbox" checked>
                  </div>
                </div>
              </div>

              <hr>

              <!-- Button (Double) -->
              <div class="form-actions" style="background: none; border: none;">
                <a href="#user-list" name="button1id" class="btn btn-default">Katkesta</a>
                <a href="#" name="" class="btn btn-default">Kustuta kasutaja</a>
                <a href="#user-list-added-user" name="button2id" class="btn btn-primary">Salvesta muudatused</a>
              </div>

            </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="0">
          <form class="form-horizontal">
            <fieldset>

              <!--Select-->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Eksami liik</label>
                <div class="controls">
                  <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
                    <option>Vandeadvokaadi eksam</option>
                    <option>Vandeadvokaadi abi eksam</option>
                  </select>
                </div>
              </div>

              <!-- Multiple Checkboxes (inline) -->
              <div class="control-group">
                <label class="control-label" for="checkboxes">Korduseksam</label>
                <div class="controls">
                  <label class="checkbox inline" for="checkboxes-1">
                    <input type="checkbox" name="checkboxes" id="checkboxes-1" checked>
                  </label>
                  <span class="help-inline">Jah</span>
                </div>
              </div>

              <!-- Select Basic -->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Kaasuse valdkond</label>
                <div class="controls">
                  <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
                    <option>Eraõigus ja tsiviilkohtu menetlus</option>
                    <option>Riigi põhikord, avalik õigus ja halduskohtumenetlus</option>
                    <option>Karistusõigus ja kriminaalmenetlus</option>
                  </select>
                </div>
              </div>


              <!-- Select Basic -->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Toimumisaeg</label>
                <div class="controls">
                  <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
                    <option>23.01.2014 kl 14.00</option>
                    <option>30.01.2014 kl 13.00</option>
                  </select>
                </div>
              </div>

              <!-- Select Basic -->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Toimumiskoht</label>
                <div class="controls">
                  <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
                    <option>Tallinn, Rävala pst 30, ruum 3 (30 kohta, vabu 2)</option>
                    <option>Tallinn, Rävala pst 30, ruum 2 (15 kohta, vabu 5)</option>
                  </select>
                </div>
              </div>

              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="textinput">E-posti aadress</label>
                <div class="controls">
                  <span class="help-inline"><a class="editableinline" id="new_email" data-type="text" data-name="email" data-original-title="Muuda">nimi@server.ee</a></span>
                </div>
              </div>

              <hr>

              <!-- Button -->
              <div class="form-actions" style="background: none; border: none;">
                <a type="button" class="btn" href="#change-user">Katkesta</a>
                <a type="button" class="btn" href="javascript:void(0);">Tühista registreering</a>
                <a class="btn btn-primary" href="javascript:void(0);">Salvesta muudatused</a>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="1">
          <div class="row">
            <div class="span8 pull-left">
              <span class="label label-success"><i class="icon-ok"></i></span> Eksamineeritava vastus &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>Paksu tekstiga</b>&nbsp;&nbsp;Õige vastus
            </div>
            <div class="pull-right">
              <div class="label simple ">Testi tulemus:
                <a href="#" class="editable" id="outcome" data-type="select" data-emptytext="Vali tulemus" data-value="1" data-name="outcome" ></a> 
              </div>
            </div>
          </div>
          <div class="row">
            <form class="form-horizontal left-less-intent">
              <fieldset style="margin-top: 20px;">
                <legend>1. Eraõigus ja tsiviilkohtumenetlus</legend>

                <div class="control-group">
                  <label for="Käsipant, samuti õiguste pant lõpeb" id="question1"><b>1.1 Käsipant, samuti õiguste pant lõpeb pandiga tagatud nõude loovutamisel </b></label>

                  <div class="controls">
                    <label class="radio testquestion" for="Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada">
                     <span class="label label-success"><i class="icon-ok"></i></span> <b>Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada</b>
                   </label>
                   <label class="radio testquestion" for="kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest"> <span class="label label-empty">&nbsp;</span>
                    kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest 
                  </label>
                  <label class="radio testquestion" for="pandi registrist kustutamisel"><span class="label label-empty">&nbsp;</span>
                    pandi registrist kustutamisel
                  </label>
                  <label class="radio testquestion" for="pandi eseme üleandmisel"><span class="label label-empty">&nbsp;</span>
                    pandi eseme üleandmisel
                  </label>
                </div>
                <hr>
              </div>
              <div class="control-group">
                <label for="Käsipant, samuti õiguste pant" id="question2"><b>1.2 Nõude aegumine peatub</b></label>

                <div class="controls">

                  <label class="radio testquestion" for="hagiavalduse esitamisega"><span class="label label-empty">&nbsp;</span>
                    <b>hagiavalduse esitamisega</b>
                  </label>

                  <label class="radio testquestion" for="nõude tunnustamisega kohustatud isiku poolt"><span class="label label-empty">&nbsp;</span>
                    nõude tunnustamisega kohustatud isiku poolt
                  </label>

                  <label class="radio testquestion" for="läbirääkimiste pidamisega läbirääkimiste toimumise ajaks"><span class="label label-success"><i class="icon-ok"></i></span>
                   läbirääkimiste pidamisega läbirääkimiste toimumise ajaks
                 </label>

                 <label class="radio testquestion" for="nõude loovutamisega"> <span class="label label-empty">&nbsp;</span>
                   nõude loovutamisega
                 </label>
               </div>

               <hr>
             </div>
             <div class="control-group">
              <label for="Käsipant, samuti õiguste pant lõpeb" id="Label1"><b>1.3 Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada</b></label>

              <div class="controls">
                <label class="radio testquestion" for="10 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  10 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>

                <label class="radio testquestion" for="15 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  <b>15 päeva jooksul alates otsuse apellandile kättetoimetamisest</b>
                </label>

                <label class="radio testquestion" for="20 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-success"><i class="icon-ok"></i></span>
                  20 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>


                <label class="radio testquestion" for="25 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  25 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>
              </div>
              <hr>
            </div>
            <div class="control-group">
              <label for="Käsipant, samuti õiguste pant lõpeb" id="Label2"><b>1.4 Müügilepingu sõlmimisega</b></label>

              <div class="controls">

                <label class="radio testquestion" for="tekib ostjal õigus nõuda müügieseme omandi ülekandmist">
                  <span class="label label-empty">&nbsp;</span>
                  tekib ostjal õigus nõuda müügieseme omandi ülekandmist
                </label>

                <label class="radio testquestion" for="läheb müügieseme omand üle ostjale juhul, kui ta on müügihinna täielikult tasunud">
                  <span class="label label-empty">&nbsp;</span>
                  läheb müügieseme omand üle ostjale juhul, kui ta on müügihinna täielikult tasunud
                </label>

                <label class="radio testquestion" for="läheb müügieseme omand üle ostjale, välja arvatud juhul, kui on kokku lepitud omandireservatsioonis">
                  <span class="label label-empty">&nbsp;</span>
                  läheb müügieseme omand üle ostjale, välja arvatud juhul, kui on kokku lepitud omandireservatsioonis
                </label>

                <label class="radio testquestion" for="täidab ostja oma ostuhinna tasumise kohustuse">
                  <span class="label label-success"><i class="icon-ok"></i></span>
                  <b>täidab ostja oma ostuhinna tasumise kohustuse</b>
                </label>
              </div>
              <hr>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
    <div class="tab-pane" id="2">
      <div class="row">
        <div class="label simple pull-right">
          <span>Kaasusülesande lahenduse hinne:</span>
          <a href="#" class="kaasus2" id="A1" data-type="select" data-emptytext="Vali tulemus" data-value="0" data-name="outcome" ></a>
        </div>
      </div><br />
      <div class="span4">
        <p class="pull-right">45/50</p>
        <h4>Test</h4>
        <div class="pull-right">
          <table class="table">
            <tr>
              <th>eraõigus ja<br />
                tsiviilkohtumenetlus</th>
                <td>14</td>
              </tr>
              <tr>
                <th>riigi põhikord, avalik õigus ja<br />
                  halduskohtumenetlus</th>
                  <td>13</td>
                </tr>
                <tr>
                  <th>karistusõigus ja<br />
                    kriminaalmenetlus</th>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th>Advokatuur</th>
                    <td>3</td>
                  </tr>
                </table>
              </div>
              <h4>Kaasuse kommentaarid</h4>
              <div class="accordion" id="comment-accordion">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse1">Aadu Luberg, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse1" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <textarea rows="6">Kutsesobivuskomisjoni liikme kommentaar</textarea>

                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse2">Mari-Ann Simovart, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse2" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <textarea rows="6">Kutsesobivuskomisjoni liikme kommentaar 2</textarea>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse3">Lisa oma kommentaar
                    </a>
                  </div>
                  <div id="comment-accordion-collapse3" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <textarea rows="6"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-primary" data-toggle="button">Salvesta</button>
              </div>
            </div>
            <div class="span8">
              <div class="row">
                <div class="span8">
                  <div class="accordion" id="case-accordion">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseOne">Kaasusülesanne eraõiguse ja tsiviilkohtumenetluse valdkonnas</a>
                      </div>
                      <div id="case-accordion-collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla. </p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p>Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque.  </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseTwo">Kaasuse näidislahendus</a>
                      </div>
                      <div id="case-accordion-collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.</p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p> Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. </p>
                        </div> <!-- end accordion inner -->
                      </div> <!-- end accordion-body collapse -->
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseThree">Aadu Aas kaasusülesande lahendus</a>
                      </div>
                      <div id="case-accordion-collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.

                          </p>
                          <p>
                            Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.

                          </p>
                          <p>
                            Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.

                          </p>
                          <p>
                            Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.

                          </p>
                          <p>
                            Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. 

                          </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                  </div> <!-- end accordion -->
                </div>
              </div>
            </div>
          </div>
          <!-- end tab pane 3 -->
          <div class="tab-pane" id="3">
            <div class="row">
              <form class="form-horizontal">
                <fieldset>
                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="selectDate">Kuupäev</label>
                    <div class="controls">
                      <a href="#" class="editableinline" id="selectDate" data-type="date" data-name="kp" data-original-title="Muuda">08.10.2013</a>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Kutsesobivuskomisjoni koosseis</label>
                    <div class="controls">
                     <a href="#" class="committee" data-type="checklist" data-value="1,3,4,6,8" data-original-title="Vali liikmed"></a>
                   </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Eksami liik</label>
                  <div class="controls">
                    <span>Vandeadvokaadi eksam</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Valdkond</label>
                  <div class="controls">
                    <span>Eraõigus ja tsiviilkohtumenetlus</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Testi tulemus</label>
                  <div class="controls">
                    <span>75%</span>
                  </div>
                </div>
                        <!--<div class="control-group">
                            <label class="control-label">Kaasuse tulemus</label>
                            <div class="controls">
                                <span>80%</span>
                            </div>
                          </div>-->
                          <div class="control-group">
                            <label class="control-label" for="selectCaseGrade">Kaasusülesande lahenduse hinne</label>
                            <div class="controls">
                              <select name="selectCaseGrade" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectOralGrade">Suulise eksami hinne</label>
                            <div class="controls">
                              <select id="selectOralGrade" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectSuitability">Isikusobivus</label>
                            <div class="controls">
                              <select id="selectSuitability" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>Sobiv</option>
                                <option>Mittesobiv</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectDecision">Eksami sooritamise otsus</label>
                            <div class="controls">
                              <select id="selectDecision" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>Sooritatud</option>
                                <option>Mittesooritatud</option>
                              </select>
                            </div>
                          </div>
                          <hr />


                          <!-- Button (Double) -->
                          <div class="form-actions" style="background: none; border: none;">
                            <a href="#exam-answeres" name="" class="btn btn-default">Katkesta</a>
                            <a href="#" name="" onclick="location.hash = '#exam-answeres';" class="btn btn-primary">Salvesta muudatused</a>
                          </div>

                          
                        </fieldset>
                      </form>
                    </div>
                  </div> <!-- end tab pane 4 -->
                  <div class="tab-pane" id="4">
                    <form class="form-inline">
                      <fieldset>
                        <div class="well">

                          <span class="inline-group">
                            <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                              <option>Vali eksami liik</option>
                              <option>Eksamineeritav</option>
                              <option>Administraator</option>
                              <option>Kutsesobivuskomisjoni liige</option>
                              <option>Advokatuuri kantselei töötaja</option>
                            </select>
                          </span>
                          <span class="inline-group">
                            <select id="select1" name="select1" class="selectpicker show-tick">
                              <option>Vali soorituse staatus</option>
                              <option>Test sooritatud</option>
                              <option>Kaasus esitatud</option>
                              <option>Eksam sooritatud</option>
                            </select>
                          </span>
                          <span class="inline-group">
                            <input type="checkbox" id="" name="exam-second">
                            <label for="xam-second">Korduseksam</label>

                          </span>
                          <span class="pull-right">
                            <a class="btn" href="#">Tühjenda</a>
                            <a class="btn btn-primary" href="#user-list">Filtreeri</a>
                          </span>
                        </div>
                        <div class="row">
                          <div class="span4">
                            <small>Kokku eksameid 4</small>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    <table class="table sortable">
                      <tr>
                        <th>Kirjaliku <br> eksami kuupäev</th>
                        <th>Suulise <br> eksami kuupäev</th>
                        <th>Eksami liik</th>
                        <th>Soorituse staatus</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td>27.06.2012</td>
                        <td>27.06.2012</td>
                        <td>Vandeadvokaadi abi</td>
                        <td>Sooritatud</td>

                        <td>
                          <span class="icon-button"><a class="tip icon-chevron-right" href="#users-change-exam-info" data-toggle="tooltip"  data-original-title="Jätka"></a></span>
                          <span class="icon-button"><a class="tip icon-remove" onclick="#users-student-exam-info-canceled-registration" data-toggle="tooltip" title="" data-original-title="Tühista registreering"></a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>27.01.2012</td>
                        <td>27.06.2012</td>
                        <td>Vandeadvokaadi abi</td>
                        <td>Sooritatud</td>

                        <td>
                          <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-answeres" data-toggle="tooltip" data-original-title="Jätka"></a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>03.07.2012</td>
                        <td>03.07.2012</td>
                        <td>Vandeadvokaadi abi</td>
                        <td>Sooritatud</td>

                        <td>
                          <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-answeres" data-toggle="tooltip" data-original-title="Jätka"></a></span>
                        </td>
                      </tr>
                      <tr>
                        <td>03.02.2012</td>
                        <td>03.07.2012</td>
                        <td>Vandeadvokaadi abi</td>
                        <td>Sooritatud</td>

                        <td>
                          <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-answeres" data-toggle="tooltip" data-original-title="Jätka"></a></span>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div> <!-- end tab content -->
              </div> <!-- end tab -->



            </section>

    <!--         <div class="control-group pull-right">

          <div class="controls">
            <a id="singlebutton" href="#student-exam-info" name="singlebutton" type="button" class="btn btn-default">Tagasi</a>
            <a id="singlebutton" href="#exam-result" name="singlebutton" type="button" class="btn btn-primary">Sisesta eksami tulemus</a>
          </div>
        </div> -->
