<section id="exam-test-questions">

    <ul class="breadcrumbs clearfix">
        <li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li class="active">Testi küsimused</li>
    </ul>
    <div class="pagename">
        <h2>Testi küsimused</h2>
    </div>

    <form class="form-inline">
        <fieldset>
            <div class="well">
                <span class="inline-group">
                    <label class="control-label" for="dp3">Küsimuse valdkond</label>
                    <select id="select2" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Riigi põhikord, avalik õigusja halduskohtumenetlus</option>
                        <option>Eraõigus ja tsiviilkohtumenetlus</option>
                        <option>Karistusõigus ja kriminaalmenetlus</option>
                        <option>Advokatuur ja advokaadi kutsetegevus</option>
                    </select>

                </span>
                <span class="inline-group">
                    <label class="control-label " for="textinput1">Küsimuse staatus</label>
                    <select id="select4" name="selectbasic" class="span3 selectpicker">
                        <option>Vali</option>
                        <option>Aktiivne</option>
                        <option>Mitteaktiivne</option>
                        <option>Testkeskkonna küsimus</option>
                    </select>
                </span>
                <a class="btn btn-primary pull-right" href="#" onclick="hideOnPage($('#exam-test-questions-results tr:gt(2)')); return false;">Filtreeri</a>
            </div>
            <div class="row">
                <div class="span11">
                    <small>Kokku küsimusi 5</small>
                </div>
                <div class=" pull-right">
                    <a href="#exam-question-add" class="btn btn-primary"><i class="icon-plus-sign"> Lisa testi küsimus</i>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>

    <table class="table sortable" id="exam-test-questions-results">
        <thead>
            <tr>
                <th>Jrk. nr</th>
                <th>Küsimuse valdkond</th>
                <th>Testi küsimus</th>
                <th>Staatus</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Eraõigus ja tsiviilkohtumenetlus</td>
                <td>Käsipant, samuti õiguste pant lõpeb</td>
                <td>Aktiivne</td>
                 <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#test-change-test" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>

            </tr>
            <tr>
                <td>2</td>
                <td>Eraõigus ja tsiviilkohtumenetlus</td>
                <td>Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse</td>
                <td>Aktiivne</td>
                 <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#test-change-test" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                <td>Euroopa Inimõiguste Kohus jätab läbi vaatamata individuaalkaebusei</td>
                <td>Aktiivne</td>
                 <td class="narrow">
                    <span class="icon-button"><a class="tip icon-edit" href="#test-change-test" data-toggle="tooltip" title="Muuda"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
            <tr class="inactive">
                <td>4</td>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>Kriminaalmenetlust võib alustada</td>
                <td>Mitte aktiivne</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-eye-open" href="#test-disabled-test" data-toggle="tooltip" title="Vaata"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-trash" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
