<section id="exam-test-questions-search">
				            <!-- #include file="_includes/_administrator/_admin_exams-MENU.html" -->
            <!-- @include _includes/_administrator/_admin_exams-MENU -->

	<!--Breadcrumbs -->
<!--	<ul class="breadcrumb">
		<li><a href="#exam-test-questions">Testi küsimuste nimekiri</a> <span class="divider">/</span></li>
	</ul>-->

	<form class="form-horizontal">
		<fieldset>
			<legend>Testi küsimuste nimekiri</legend>
			<div class="row">
				
                <div class="span4">
                    <div class="control-group">

                        <label class="control-label" for="">Küsimuse valdkond</label>
                        <div class="controls">
                            <select id="select3" name="selectbasic" class="span3 selectpicker">
                                <option>Riigi põhikord,avalik õigusja halduskohtumenetlus</option>
                                <option>Eraõigus ja tsiviilkohtumenetlus</option>
                                <option>Karistusõigus ja kriminaalmenetlus</option>
								<option>Advokatuur ja advokaadi kutsetegevus</option>
                            </select>
                        </div>
                    </div>
                </div>

				<div class="span4 offset2">
                    <div class="control-group">

                        <label class="control-label" for="">Küsimuse staatus</label>
                        <div class="controls">
                            <select id="select1" name="selectbasic" class="span3 selectpicker">
                                <option>Aktiivne</option>
                                <option>Mitte aktiivne</option>
								<option>Testkeskkonna küsimus</option>
                            </select>
                        </div>
                    </div>
                </div>

				<div class="span1 offset7 pull-right">
					<!-- Button -->
					<a class="btn btn-primary" href="#exam-test-questions-search">Otsi</a>
				</div>
			</div>
		</fieldset>
	</form>

	<div class="control-group pull-right">
                <div class="controls">
                    <div class="input-prepend">
                         <a href="#exam-question-add" class="btn">Lisa testi küsimus</a>
                        <span class="add-on"><i class="glyphicon glyphicon-plus-sign"></i></span>
                    </div>
                </div>
            </div>

	<table class="table table-bordered">
        <tr>
            <th>Jrk. nr</th>
            <th>Küsimuse valdkond</th>
            <th>Testi küsimus</th>
            <th>Staatus</th>
			<th>Tegevus</th>
		</tr>
        <tr>
            <td>1</td>
            <td>Eraõigus ja tsiviilkohtumenetlus</td>
            <td>Käsipant, samuti õiguste pant lõpeb</td>
			<td>Aktiivne</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#test-change-test">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etqs')">Kustuta</a></li>
				</ul>
            </td>
        </tr>
		<tr>
            <td>2</td>
            <td>Eraõigus ja tsiviilkohtumenetlus</td>
            <td>Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse</td>
			<td>Aktiivne</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#test-change-test">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etqs')">Kustuta</a></li>
				</ul>
            </td>
        </tr>
		<tr>
            <td>3</td>
            <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
            <td>Euroopa Inimõiguste Kohus jätab läbi vaatamata individuaalkaebusei</td>
			<td>Aktiivne</td>
            <td>
				<ul class="nav nav-pills">
				  <li><a href="#test-change-test">Muuda</a></li>
				  <li><a onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etqs')">Kustuta</a></li>
				</ul>
            </td>
        </tr>

	
    </table>
	 <p>
            <small>Kokku: <span id="etqs">3</span> kirjet</small>
        </p>
</section>
