<section id="exam-change-exam">

	            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->


<!--	<ul class="nav nav-pills">
		<li><a href="#exam-test-list">Eksamite nimekiri</a></li>
		<li class="active"><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
	</ul>-->

	<ul class="breadcrumbs clearfix">
		<li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li><a href="#exam-test-list">Kirjalikud eksamid</a> <span class="divider">/</span></li>
		<li>Kirjalik eksam 12.02.2012 kell 10:00</li>
	</ul>
        
        <div class="pagename">
            <h1><a href="#exam-test-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>        Kirjalik eksam 12.02.2012 kell 10:00</h1>
		</div>

        <div class="well clearfix"  style="padding-bottom:0px;">
          <!--<h3>Kirjalikule eksamile registreerimine ei ole veel alanud</h3>-->
          <ul class="nav nav-pills">
            <li class="active"><a href="#exam-change-exam" style="font-weight:bold;">Registreerimine <br />ei ole veel alanud</a></li>
            <li class="active" ><a href="#exam-reg-on-exam" style="color: #dddddd;">Registreerimine <br />on alanud</a></li>
            <li class="active"><a href="#" style="color: #dddddd">Registreerimine <br />on lõppenud</a></li>
            <li class="active"><a href="#" style="color: #dddddd">Eksam <br />on alanud</a></li>
            <li class="active"><a href="#" style="color: #dddddd">Eksam <br />on lõppenud</a></li>
          </ul>
       
        <div class="row">
            <div class="span4"><h3>Eksami aeg</h3></div>
            <div class="span3" style="margin-left:-20px;"><h3>Registreerimine</h3></div>
            <div class="span3" style="margin-left:65px;"><h3>Toimumiskohad</h3></div>
            
		    <form>
			    <fieldset>
                    <div class="span3" style="margin-left:-20px;">
				        <!-- Text input-->
				        <div class="span5">
					       <div class="span2">
                               <label for="text">Kuupäev</label>
                            </div>
                            <div class="span2" style="margin-left:-10px;">
                                <a href="#" class="js-place" id="text" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">12-02-2012</a> 
                            </div>
				        </div>

				        <!-- Text input-->
				        <div class="span5">
					        <div class="span2">
                                <label for="text2">Kellaaeg</label>
                            </div>
                            <div class="span2" style="margin-left:-10px;">
                                 <a href="#" class="js-place" id="text2" data-type="text" data-name="koht" data-original-title="Kellaaeg">10:00</a>
						     </div>
				        </div>

                        <!-- Text input-->
				        <div class="span5">
					        <div class="span2">
						        <label for="">Testi kestvus</label>
                            </div>
						    <div class="span2" style="margin-left:-10px;">
                                <a href="#" class="js-place" id="text5" data-type="text" data-name="koht" data-original-title="Testi kestvus minutites">90 minutit</a>
						    </div>
				        </div>

                        <!-- Text input-->
			            <div class="span5">
			                <div class="span2">
			                    <label for="">Kaasuse kestvus</label>
                            </div>
			                <div class="span2" style="margin-left:-10px;">
                                <a href="#" class="js-place" id="text6" data-type="text" data-name="koht" data-original-title="Kaasuse kestvus minutites">360 minutit</a>
			                </div>
			            </div>

                        <!-- Text input-->
				        <div class="span5">
					        <div class="span2">
						        <label for="">Kaasuse algusaeg</label>
                            </div>
						    <div class="span2" style="margin-left:-10px;">
							    <a href="#" class="js-place" id="text8" data-type="text" data-name="koht" data-original-title="Kellaaeg">11:30</a>
						    </div>
					    </div>
				       
                 </div>
                <div class="span3" style="margin-left:60px;">
                    <!-- Text input-->
				    <div class="span5">
					    <div class="span2">
						    <label for="dp3">Alguskuupäev</label>
                         </div>
						<div class="span2" style="margin-left:-10px;">
                            <a href="#" class="js-place" id="A2" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">12-02-2012</a>
						</div>
				    </div>

                    <!-- Text input-->
				    <div class="span5">
					    <div class="span2">
						    <label for="dp3">Lõppkuupäev</label>
                        </div>
						<div class="span2" style="margin-left:-10px;">
						    <a href="#" class="js-place" id="A3" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">15-02-2012</a>
                        </div>
				    </div>

                    <!-- Text input-->
				    <div class="span5">
					    <div class="span2">
						    <label for="dp3">Annulleerimise<br /> lõppkuupäev</label>
                        </div>
						<div class="span2" style="margin-left:-10px;">
						    <a href="#" class="js-place" id="A4" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">12-02-2012</a>
					    </div>
				    </div>
                </div>
                <div class="span3" style="margin-left:105px;">
                    <div class="span5">
                        <div class="span3" style="margin-left:-20px;">
                            <a href="#" class="place" id="A5" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 2</a>
                        </div>
                        <div class="span2" style="margin:0 0 5px -10px;">
                            <span>Kohti:</span>
                            0/<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                            <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                        </div>
                    </div>
            
                    <div class="span5">
                         <div class="span3" style="margin-left:-20px;">
                             <a href="#" class="place" id="A7" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 3</a>
                         </div>
                        <div class="span2" style="margin:0 0 5px -10px;">
                            <span>Kohti:</span>
                            0/<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                            <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                        </div>
                    </div>
            
                    <div class="hidden" id="showMe">
				        <div id="Div4" class="span10" style="margin:10px 0 0 -1px;">
					        <select id="select3" name="selectkoht" class="selectpicker show-tick">
                                <option value="">Vali toimumiskoht</option>
                                <option value="20">Rävala pst 3, Tallinn ruum 2</option>
                                <option value="20">Rävala pst 3, Tallinn ruum 3</option>
                            </select>
							<input id="text1" name="textinput" type="text" placeholder="Kohtade arv" class="input-small">&nbsp;&nbsp;
							<button class="btn btn-primary" onclick=""><i class="icon-chevron-down"></i></button>
                            <button class="btn" onclick="hideOnPage($(this).parent().parent())"><i class="icon-remove"></i></button>
				        </div>
			        </div>

                        <div class="span7" style="margin:10px 0 0 -1px;">
                            <a href="javascript:shownOnPage2($('#showMe'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa toimumiskoht</a>
				        </div>
                </div>
                   
            <div class="row">
                 <!-- Button -->
				    <div class="span7" style="margin-top:10px;">
				        
					        
				        
				    </div>
                    </div>
            <div class="span7 pull-right">
                <div class="form-actions" style="background: none; border: none;">
                    <a class="btn" href="#exam-test-list" id="A1">Tühista eksam</a>
                    <a class="btn btn-primary" href="#exam-change-exam">Salvesta muudatused</a>
                    <a href="#exam-change-exam" class="btn btn-primary"><span class="tip icon-sort-by-attributes"></span> Koosta küsimused</a>
                </div>
            </div>
        
            </fieldset>    
	    </form>
        </div>
    </div>
    <!--<div class="row">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#pane1" data-toggle="tab">Rävala pst 3, Tallinn ruum 2</a></li>
            <li><a href="#pane2" data-toggle="tab">Rävala pst 3, Tallinn ruum 3</a></li>
          </ul>
          <div class="tab-content">
            <div id="pane1" class="tab-pane active">
                 <form class="form-inline">
                        <fieldset>
                            <div class="well">
                                <div class="pagename">
                                    <h4>Eksamineeritavad</h4>
				                </div>
                                <span class="inline-group">
                                    <select id="select1" name="select1" class="selectpicker show-tick">
                                        <option>Vali eksami liik</option>
                                        <option>Vandeadvokaadi eksam</option>
                                        <option>Vandeadvokaadi abi eksam</option>
                                    </select>
                                </span>
                                <span class="inline-group">
                                    <select id="select2" name="select2" class="selectpicker show-tick">
                                        <option>Vali soorituse staatus</option>
                                        <option>Registreerunud</option>
                                        <option>Test sooritatud</option>
                                        <option>Kaasus esitatud</option>
                                        <option>Eksam sooritatud</option>
                                    </select>
                                </span>
                                <span class="pull-right">
                                    <a class="btn" href="#exam-change-exam">Tühjenda</a>
                                    <a class="btn btn-primary" href="#exam-change-exam">Otsi</a>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                    <div class="span4">Kokku eksamineeritavaid 0</div>
            </div>
            <div id="pane2" class="tab-pane">
                    <form class="form-inline">
                        <fieldset>
                            <div class="well">
                                <div class="pagename">
                                    <h4>Eksamineeritavad</h4>
				                </div>
                                <span class="inline-group">
                                    <select id="select4" name="select4" class="">
                                        <option>Vali eksami liik</option>
                                        <option>Vandeadvokaadi eksam</option>
                                        <option>Vandeadvokaadi abi eksam</option>
                                    </select>
                                </span>
                                <span class="inline-group">
                                    <select id="select5" name="select5" class="">
                                        <option>Vali soorituse staatus</option>
                                        <option>Registreerunud</option>
                                        <option>Test sooritatud</option>
                                        <option>Kaasus esitatud</option>
                                        <option>Eksam sooritatud</option>
                                    </select>
                                </span>
                                <span class="pull-right">
                                    <a class="btn" href="#exam-change-exam">Tühjenda</a>
                                    <a class="btn btn-primary" href="#exam-change-exam">Otsi</a>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                    <div class="span4">Kokku eksamineeritavaid 0</div>
            </div>
          </div>
        </div>
	</div>-->
</section>
