<section id="test-change-test">

		            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->


		<ul class="breadcrumbs clearfix">
		<li><a href="#exam-test-questions">Testi küsimuste nimekiri</a> <span class="divider">/</span></li>
		<li>Testi küsimuse muutmine </li>
	</ul>



	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
				<div class="pagename">
                <h1>Testi küsimuse muutmine</h1>
				</div>
			<div class="control-group">
				<label class="control-label" for="">Küsimuse valdkond</label>
				<div class="controls">
					<select id="select3" name="selectbasic" class="selectpicker">
						<option>Riigi põhikord,avalik õigusja halduskohtumenetlus</option>
						<option>Eraõigus ja tsiviilkohtumenetlus</option>
						<option>Karistusõigus ja kriminaalmenetlus</option>
						<option>Advokatuur ja advokaadi kutsetegevus</option>
					</select>
				</div>
			</div>


			<div class="control-group">

				<label class="control-label " for="">Sisesta küsimus:</label>

				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">Käsipant, samuti õiguste pant lõpeb...</textarea>
					<br />
					<small>4000</small>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label " for="">Sisesta Vastused:</label>
			</div>



			<div class="control-group">

				<label class="control-label " for="">A</label>

				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">pandiga tagatud nõude loovutamise</textarea>
					<br />
					<small>1000</small>
				</div>
			</div>


			<div class="control-group">

				<label class="control-label " for="">B</label>

				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">pandi registrist kustutamisel</textarea>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label " for="">C</label>
				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">pandi eseme üleandmisel</textarea>&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent());hideOnPage($('#C_C'))">X</button>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label " for="">D</label>
				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest</textarea>&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent());hideOnPage($('#D_C'))">X</button>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div id="ET_C" class="hidden">
				<label class="control-label " for="">E</label>
				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">Muudetava küsimuse vastused E</textarea>&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent());hideOnPage($('#ER_C'))">X</button>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="hidden">
				<label class="control-label " for="">F</label>
				<div class="controls controls-row">
					<textarea class="questionarea" rows="5">Muudetava küsimuse vastused F</textarea>&nbsp;&nbsp;
							<button class="btn" onclick="hideOnPage($(this).parent().parent());hideOnPage($('#F_C'))">X</button>
					<br />
					<small>1000</small>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="radios6">
					Õige vastus on:
				</label>
				<div class="controls">

					<label class="radio" for="radios3-0">
						<input type="radio" name="radios6" id="radios33" value="Option one" checked>
						A
					</label>
					<br />
					<label class="radio" for="radios3-1">
						<input type="radio" name="radios6" id="radios3-1" value="Option two" >
						B
					</label>
					<br />
					<label id="C_C" class="radio" for="radios3-2">
						<input type="radio" name="radios6" id="radios3-2" value="Option three">
						C
					</label>

					<label id="D_C" class="radio" for="radios3-3">
						<br />
						<input type="radio" name="radios6" id="radios3-3" value="Option four">
						D
					</label>

					<label id="ER_C" class="hidden" for="radios3-4">
						<br />
						<input type="radio" name="radios6" id="radio1" value="Option five">
						E
					</label>

					<label id="F_C" class="hidden" for="radios3-5">
						<br />
						<input type="radio" name="radios6" id="radio2" value="Option six">
						F
					</label>
				</div>
			</div>

			<div class="control-group ">
				<div class="controls">
					<div class="input-prepend">
						<button onclick="shownOnPage2($('#ER_C'),'radio');shownOnPage2($('#ET_C'),'control-group')" class="btn">Lisa Vastusevariant</button>
						<span class="add-on"><i class="icon-plus-sign"></i></span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox inline" for="checkboxes-0">
						<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox2" value="1"  checked>
					</label>
					<span class="help-inline">Testkeskkonna küsimus</span>
					<br />
					<label class="checkbox inline" for="checkboxes-0">
						<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox6" value="1">
					</label>
					<span class="help-inline">Kohustuslik küsimus</span>
					<div class="control-group pull-right">
						<a class="btn" href="#exam-test-questions" id="A1">Katkesta</a>
						<a class="btn btn-primary" href="#exam-question-confirm">Salvesta</a>
					</div>
			</div>
		</div>


		</fieldset>


	</form>



</section>
