<section class="content" id="exam-change-exam">
 
<!--    <ul class="nav nav-pills">
                <li><a href="#exam-test-list">Eksamite nimekiri</a></li>
                <li class="active"><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
        </ul>-->
 
        <!---<ul class="breadcrumbs clearfix">
                <li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
       <li><a href="#exam-test-list">Kirjalikud eksamid</a> <span class="divider">/</span></li>
                <li>Eksam 12.02.2012</li>
        </ul>-->
    
 
  <div class="pagename">
    <h1><a href="#exam-test-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Eksam 12.02.2012</h1>
  </div>
 
  <div class="well clearfix">
    <h4 class="wellhead">Registreerimine on alanud.</h4>
    <div id="nav-wizard">
      <ul class="nav-wizard">
        <li class="active"><a href="#exam-change-exam">Registreerimine</a></li>
        <li><a href="#exam-reg-on-exam">Kirjalik eksam</a></li>
        <li><a href="#oral-change-exam">Suuline eksam</a></li>
        <li><a href="#exam-finish-exam">Eksam on lõppenud</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="span4">
                <h4>Registreerimine</h4>
                <hr class="closer">

                <p>02.10.2013 - 02.12.2013</p>
                <p><small>Vandeadvokaadi: </small>20</p>
                <p><small>Vandeadvokaadi abi: </small>25</p>
                <p><small>Vabu kohti: </small>15</p>
            </div>
            <div class="span4">
                <h4>Kirjalik eksam</h4>
                <hr class="closer">

                <p><small>Kaasus esitatud: </small>-</p>
                <p><small>Test sooritamata: </small>-</p>
                <p><small>Testile mitteilmunud: </small>-</p>
                <p><small>Testilt kõrvaldatud: </small>-</p>
                <p><small>Kaasusele mitteilmunud: </small>-</p>
                <p><small>Kaasuselt kõrvaldatud: </small>-</p>
            </div>
            <div class="span4">
                <h4>Suuline eksam</h4>
                <hr class="closer">

                <p><small>Kohti: </small>45</p>
                <p><small>Vandeadvokaadi sooritanud: </small>-/20</p>
                <p><small>Vandeadvokaadi abi sooritanud: </small>-/25</p>
            </div>
      <form>
       <fieldset>
        <div class="row pull-right">
          <div class="form-actions" style="background: none; border: none;">
            <a class="btn" href="#exam-test-list" id="A1">Tühista eksam</a>
            <a href="#exam-change-exam" class="btn btn-primary"><span class="tip icon-sort-by-attributes"></span> Koosta küsimustik</a>
          </div>
        </div>
      </fieldset>    
    </form>
  </div>
</div>
<div class="row">
  <div class="tabbable">
    <ul class="nav nav-tabs">
 
      <li><a href="#reg1" data-toggle="tab">Üldinfo</a></li>
      <li><a href="#reg2" data-toggle="tab">Eksamineeritavad</a></li>
      <!--<li><a href="#reg4" data-toggle="tab">Küsimused</a></li>-->
      <!--<li><a href="#p5" data-toggle="tab">Kõik eksamid</a></li>-->
    </ul>
    <div class="tab-content">
 
      <div id="reg1" class="tab-pane">
       <div class="row addoral hidden" id="showMeAdd">
        <form class="form-horizontal">
         <fieldset>
             <h1 class="addoralheader">Lisa suuline eksam</h1>

             <!-- Text input-->
             <div class="control-group">
                <label class="control-label" for="dp3">Kuupäev</label>
 
                <div class="controls">
                   <div class="input-append date" id="Div3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
 
                    <input class="span2" size="16" type="text" value="" placeholder="Kuupäev">
                    <span class="add-on" onclick=""><i class="icon-calendar"></i></span>
                  </div>
                </div>
              </div>
 
            <!-- Text input-->
             <div class="control-group">
 
              <label class="control-label" for="">Kellaaeg</label>
 
              <div class="controls">
               <input id="inputError" name="textinput" type="text" placeholder="Kellaaeg" class="span2">
 
              </div>
            </div>
            
           <!-- Text input-->
             <div class="control-group">
              <label class="control-label" for="">Komisjoni koosseis</label>
              <div class="controls">
                   <a href="#" class="committee" data-type="checklist" data-value="" data-original-title="Vali liikmed"></a>
              </div>
            </div>
              
            <!-- Dropdown & Text input-->
                
                 <div class="control-group">
                    <label class="control-label" for="selectbasic">Lisa toimumiskoht</label>
                    <div class="controls">
                        <div class="span8" style="margin-left:0px;">
                            <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                                <option value="">Vali toimumiskoht</option>
                                <option value="20">IT Kolledž, Mäealuse 4c Tallinn</option>
                                <option value="20">Rävala pst 3, Tallinn</option>
                            </select>
                            <select id="select1" name="selectbasic2" class="selectpicker show-tick reducedwidth">
                                <option value="">Vali ruum</option>
                                <option value="20">302</option>
                                <option value="20">303</option>
                            </select>
                            <input id="text4" name="textinput" type="text" placeholder="Kohtade arv" class="input reducedwidth">
                            <a class="btn btn-primary" href="#exam-add-exam">Lisa</a>
                        </div>
                    </div>
                </div>
              
 
            <!--Text-->
                <div class="control-group">
                    <div class="row">
                        <label class="control-label" for="">Toimumiskoht 1</label>
 
                        <div class="controls">
                            <div class="span6" style="margin-left:0px;">
                                <span>IT Kolledž, Mäealuse 4c Tallinn</span>
                                <span><small>ruum: </small>302</span>
                                <span><small>kohti: </small>20</span>
                                <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label" for="">Toimumiskoht 2</label>
 
                        <div class="controls">
                            <div class="span6" style="margin-left:0px;">
                                    <span>IT Kolledž, Mäealuse 4c Tallinn</span>
                                    <span><small>ruum: </small>302</span>
                                    <span><small>kohti: </small>20</span>
                                    <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                                </div>
                        </div>
                    </div>
                 </div>
                <div class="control-group">
						<label class="control-label" for=""></label>
						<div class="controls small-line">
							<small>Kohti kokku: 40</small>
						</div>
					</div>
        <!-- Button -->
            <div class="control-group">
                <div class="form-actions span4" style="background: none; border: none;">
                    <a class="btn" href="javascript:hideOnPage($('#showMeAdd'),'hideOnPage')" id="A2">Katkesta</a>
                    <a class="btn btn-primary" href="javascript:hideOnPage($('#showMeAdd'),'hideOnPage')">Lisa</a>
                </div>
           </div>
          </fieldset>
 
        </form>
    </div>
<div class="row pull-right">
  <a href="javascript:shownOnPage2($('#showMeAdd'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa suuline eksam</a>
</div>
<form class="form-inline">
 <fieldset>
  <div class="row">
   <legend>Kirjalik eksam 12.02.2012</legend>
   <div class="span4" style="margin-left: 0;">
    <h5>Eksami aeg</h5>
    <hr class="closer">
    <label for="text"><small>Päev: </small></label>
    <span><a href="#" class="js-place" id="A22" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">12-02-2012</a></span>
    <br>
    <label for="text"><small>Kell: </small></label>
    <span><a href="#" class="js-place" id="A23" data-type="text" data-name="koht" data-original-title="Kellaaeg">10:00</a></span>
    <br>
    <label for="text"><small>Test kestab: </small></label>
    <span><a href="#" class="js-place" id="A24" data-type="text" data-name="koht" data-original-title="Testi kestvus minutites">1,5 tundi</a></span>
    <br>
    <label for="text"><small>Kaasus kestab: </small></label>
    <span><a href="#" class="js-place" id="A25" data-type="text" data-name="koht" data-original-title="Kaasuse kestvus minutites">5 tundi</a></span>
    <br>
    <label for="text"><small>Kaasus algab kell: </small></label>
    <span><a href="#" class="js-place" id="A26" data-type="text" data-name="koht" data-original-title="Kellaaeg">13:00</a></span>
    <br>
  </div>
  <div class="span4">
   <h5>Registreerimine</h5>
   <hr class="closer">
   <label for="text"><small>Algab: </small></label>
   <span><a href="#" class="js-place" id="A6" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">01-02-2012</a></span>
   <br>
   <label for="text"><small>Lõpeb: </small></label>
   <span><a href="#" class="js-place" id="A8" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">11-02-2012</a></span>
   <br>
   <label for="text"><small>Saab tühistada kuni: </small></label>
   <span><a href="#" class="js-place" id="A9" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">11-02-2012</a></span>
   <br>
 </div>
 <div class="span4">
   <h5>Toimumiskohad</h5>
   <hr class="closer">
   <label for="text"><small>Aadress: </small></label>
   <span><a href="#" class="place" id="A10" data-type="select" data-name="koht" data-original-title="Toimumiskoht">IT Kolledž, Raja 4c Tallinn</a>
     <a class="icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
   
     <br />   
   
    
                               <!--<div class="hidden" id="showMe">
                                                    <div id="Div4" class="span6" style="margin-left:40px;">
                                                            <select id="select3" name="selectkoht" class="selectpicker show-tick">
                                           <option value="">Vali toimumiskoht</option>
                                           <option value="20">Rävala pst 3, Tallinn ruum 2</option>
                                           <option value="20">Rävala pst 3, Tallinn ruum 3</option>
                                       </select>
                                                                    <input id="text1" name="textinput" type="text" placeholder="Kohtade arv" class="input-small">&nbsp;&nbsp;
                                                                    <button class="btn btn-primary" onclick=""><i class="icon-chevron-down"></i></button>
                                       <button class="btn" onclick="hideOnPage($(this).parent().parent())"><i class="icon-remove"></i></button>
                                                    </div>
                                            </div>
 
                               <div class="span6" style="margin:0 0 5px 40px;">
                                   <a href="javascript:shownOnPage2($('#showMe'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa toimumiskoht</a>
                                 </div>-->
                                  <br>
     <label for="text"><small>Aadress: </small></label>
   <span><a href="#" class="place" id="A11" data-type="select" data-name="koht" data-original-title="Toimumiskoht">IT Kolledž, Raja 4c Tallinn</a>
     <a class="icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
 
   <br>
   <label for="text"><small>Ruum: </small></label>
   <span>2 (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
     <a class="icon-remove" onclick="hideOnPage($(this).parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
   </span>
   <hr class="closer">
      <label for="text"><small>Kohti kokku: 40</small></label>
     <span class="pull-right">
         <small>Lisa: </small><a href="#" class="js-toimumiskoht" data-type="address" data-pk="1" data-original-title="Lisa toimumiskoht"></a>
    </span>
                                </div>
                              </div>
                              <div class="row suuline" style="margin-top: 30px;">
                                <legend>Suuline eksam 13.02.2012 <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista suuline eksam"></a></legend>
                                <div class="span4" style="margin-left: 0;">
                                  <h5>Eksami aeg</h5>
                                  <hr class="closer">
                                  <label for="text"><small>Päev</small></label>
                                  <a href="#" class="js-place" id="A3" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">13-02-2012</a>
                                  <br>
                                  <label for="text2"><small>Kell</small></label>
                                  <a href="#" class="js-place" id="A4" data-type="text" data-name="koht" data-original-title="Kellaaeg">10:00</a>
                                  <br>
                                </div>
                                
                               <div class="span4">
                                  <h5>Komisjon 1</h5>
                                  <hr class="closer">
                                  
                                  <label for="dp3"><small>Aadress:</small></label>
                                  <a href="#" class="place" id="A17" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> Rävala pst 3, Tallinn</a>
                                  <br>
                                  <label for=""><small>Ruum: </small></label>
                                  <a href="#" class="place" id="A18" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> 3</a> (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
                                  <br>
                                  <label for=""><small>Kutsesobivuskomisjoni koosseis:</small></label>
                                  <br>
                                  <a href="#" class="committee" data-type="checklist" data-value="2,4,5,6,8" data-original-title="Vali liikmed"></a>
                              </div>
 
                              <div class="span4">
                                  <h5>Komisjon 2 <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a></h5>
                                  <hr class="closer">
                                  
                                  <label for="dp3"><small>Aadress:</small></label>
                                  <a href="#" class="place" id="A5" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> Rävala pst 3, Tallinn</a>
                                  <br>
                                  <label for=""><small>Ruum: </small></label>
                                  <a href="#" class="place" id="A7" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> 3</a> (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>)
                                  <br />                                    
                                  <label for=""><small>Kutsesobivuskomisjoni koosseis:</small></label>
                                  <br>
                                  <a href="#" class="committee" data-type="checklist" data-value="1,3,4,6,8" data-original-title="Vali liikmed"></a>

                                  <!--<h5>Toimumiskoht 2</h5>
                                  <hr class="closer">
                                  <label for="dp3"><small>Aadress:</small></label>
                                  <a href="#" class="place" id="A5" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> Rävala pst 3, Tallinn</a>
                                  <br>
                                  <div class="row-fluid">
                                    <div class="span5">
                                      <label for=""><small>Ruum: </small></label>
                                      <a href="#" class="place" id="A7" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> 3</a>
                                    </div>
                                    <div class="span7">
                                      <small>Kohti:</small>
                                      <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                      <a class="icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                                    </div>
                                  </div>
 
                                  <div class="row-fluid">
                                    <div class="span5">
                                      <label for=""><small>Ruum: </small></label>
                                      <a href="#" class="place" id="A11" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> 3</a>
                                    </div>
                                    <div class="span7">
                                      <small>Kohti:</small>
                                      <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                      <a class="icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                                    </div>
                                  </div>
                                  
                                    <div class="row-fluid">
                                        <div class="span5"></div>
                                        <div class="span7">
                                            <small style="margin-left:32px;">Lisa: </small><a href="#" class="js-toimumiskoht" data-type="address" data-pk="1" data-original-title="Lisa toimumiskoht"></a>
                                        </div>
                                    </div>
 
                                <hr class="closer">
                                <label for="dp3"><small>Kohti kokku 40</small></label>
                                <br>
                                
                              </div>-->
                            </div>
                        </div>
                            <div class="row suuline" style="margin-top: 30px;">
                              <legend>Suuline eksam 13.02.2012 <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista suuline eksam"></a></legend>
                              <div class="span4" style="margin-left: 0;">
                                <h5>Eksami aeg</h5>
                                <hr class="closer">
                                <label for="text"><small>Päev</small></label>
                                <a href="#" class="js-place" id="A12" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">13-02-2012</a>
                                <br>
                                <label for="text2"><small>Kell</small></label>
                                <a href="#" class="js-place" id="A13" data-type="text" data-name="koht" data-original-title="Kellaaeg">10:00</a>
                                <br>
                              </div>
                              
                              <div class="span4">
                                  <h5>Komisjon 1
                                    <span class="pull-right">
                                       <small>Lisa: </small><a href="#" class="js-toimumiskoht" data-type="address" data-pk="1" data-original-title="Lisa toimumiskoht"></a>
                                    </span>
                                  </h5>
                                  <hr class="closer">
                                  
                                  <label for="dp3"><small>Aadress:</small></label>
                                  <a href="#" class="place" id="A19" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> Rävala pst 3, Tallinn</a>
                                  <br>
                                  <label for=""><small>Ruum: </small></label>
                                  <a href="#" class="place" id="A20" data-type="select" data-name="koht" data-original-title="Toimumiskoht"> 3</a> (<a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">5</a>)
                                  <br>
                                  <label for=""><small>Kutsesobivuskomisjoni koosseis:</small></label>
                                  <br>
                                  <a href="#" class="committee" data-type="checklist" data-value="1,3,4,6,8" data-original-title="Vali liikmed"></a>
                              </div>
                              
                            </div>
 
 
                          <div class="row">
                            <hr>
                            <div class="form-actions" style="background: none; border: none;">
                              <a class="btn btn-primary pull-right" href="#exam-reg-on-exam">Salvesta muudatused</a>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>  
 
                    <div id="reg2" class="tab-pane">
                      <div class="tabbable">
                        <ul class="nav nav-pills">
                          <li class="active"><a href="#koik12" data-toggle="tab">Kõik</a></li>
                          <li><a href="#kohad12" data-toggle="tab">Toimumiskohtade järgi</a></li>
                        </ul>
                        <div class="tab-content">
                          <div id="koik12" class="tab-pane active">
                            <form class="form-inline">
                              <fieldset>
                                <div class="well">
                                  <span class="inline-group">
                                    <label for="textinput1">Nimi</label>
                                    <input id="text5" name="textinput1" type="text">
                                  </span>
                                  <span class="inline-group">
                                    <select id="select4" name="selectbasic" class="selectpicker show-tick">
                                      <option>Eksami liik valimata</option>
                                      <option>Vandeadvokaadi eksam</option>
                                      <option>Vandeadvokaadi abi eksam</option>
                                    </select>
                                  </span>
                                  <span class="inline-group pull-right">
                                    <a class="btn" href="#oral-change-gen-exam">Tühjenda</a>
                                    <a class="btn btn-primary" href="#oral-change-gen-exam">Otsi</a>
                                  </span>
                                </div>
                                <div class="row">
                                  <small>Kokku eksamineeritavaid 4</small>
                                </div>
                              </fieldset>
                            </form>
                            <table class="table sortable">
                             <thead>
                              <tr class="sort">
                                <th>Eesnimi</th>
                                <th>Perekonnanimi</th>
                                <th>Eksami liik</th>
                                <th>Toimumiskoht</th>
                                <th>Staatus</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Jarko</td>
                                <td>Taal</td>
                                <td>Vandeadvokaadi abi</td>
                                <td>Rävala pst 3, Tallinn ruum 2</td>
                                <td>Registreerunud</td>
                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#user-examinant"></a></span></td>
                                <td class="narrow">
                                  <span class="icon-button"><a class="tip icon-remove" href="#exam-change-exam" data-toggle="tooltip" title="Tühista registreering"></a></span>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                        <div id="kohad12" class="tab-pane">
                     
                  <div class="row">
                    <table class="table sortable draggable">
                      <thead>
                        <tr class="sort">
                          <th>Eesnimi</th>
                          <th>Perekonnanimi</th>
                          <th>Eksami liik</th>
                          <th>Staatus</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="js-fixed">
                          <td colspan="7"><b>12.02.2012 / ruum 302 / Rävala pst 3, Tallinn</b></td>
                        </tr>
                   <tr>
                    <td>Jarko</td>
                    <td>Taal</td>
                    <td>Vandeadvokaadi</td>
                    <td>Registreerunud</td>
                    <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#user-examinant"></a></span></td>
                    <td class="narrow">
                        <span class="icon-button"><a class="tip icon-remove" href="#exam-change-exam"  data-toggle="tooltip" title="Tühista registreering"></a></span>
                    </td>
                  </tr>
                   
                 </tbody>
               </table>
              </div>
           </div>
         </div>
       </div>
     </div>
     <!--<div id="reg4" class="tab-pane">
 
     </div>-->
            <!--<div id="p5" class="tab-pane">
               <table class="table sortable" id="exam-test-list-table">
                  <thead>
                       <tr>
                           <th>Toimumise<br>kuupäev</th>
                           <th>Staatus</th>
                           <th>Eksamineeritavaid</th>
                           <th>Reg. tähtaeg</th>
                                        <th></th>
                           <th></th>
                           <th></th>
                                </tr>
                 </thead>
                 <tbody>
                                  <tr class="inactive">
                           <td>27.12.2013</td>
                           <td>Lõppenud</td>
                                        <td>40</td>
                                        <td>27.09.2013</td>
                           <td class="narrow">
                              <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                           </td>
                       </tr>
                       <tr>
                           <td>27.12.2013</td>
                           <td>Registreerimine pole veel alanud</td>
                                        <td>40</td>
                                        <td>27.09.2013</td>
                           <td class="narrow">
                              <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                           </td>
                       </tr>
                                <tr>
                           <td>22.01.2013</td>
                           <td>Registreerimine on alanud</td>
                                        <td>40</td>
                                        <td>27.12.2013</td>
                           <td class="narrow">
                              <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                           </td>
                       </tr>
                                    <tr class="inactive">
                           <td>22.01.2013</td>
                           <td>Lõppenud</td>
                                        <td>40</td>
                                        <td>27.12.2013</td>
                           <td class="narrow">
                              <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                           </td>
                       </tr>
                                <tr class="inactive">
                           <td>22.01.2013</td>
                           <td>Lõppenud</td>
                                        <td>40</td>
                                        <td>27.12.2013</td>
                           <td class="narrow">
                              <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                           </td>
                       </tr>
               </tbody>
             </table>
           </div>-->
          </div>
        </div>
      </div>
    </section>