<section id="exam-test-list"  >

	<!-- #include file="_adminmenu.html" -->

  <ul class="breadcrumbs clearfix">
    <li><a href="#user-list">Eksamid</a> <span class="divider">/</span></li>
    <li class="active">Kirjalikud eksamid</li>
  </ul>
  <div class="pagename">
    <h2>Kirjalikud eksamid</h2>
  </div>
  <form class="form-inline">
    <fieldset>
      <div class="well">
        <span class="inline-group">
        <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
          <label class="control-label" for="dp3">Eksami kuupäev</label>
          <input class="span2" size="16" type="text" value="12-02-2012">
          <span class="add-on" onclick=""><i class="icon-calendar"></i></span>
        </div>
        </span>
        <span class="inline-group">
        <label class="control-label " for="textinput1">Toimumiskoht</label>
        <input id="text1" name="textinput1" type="text" class="input-medium">
        </span>
        <a class="btn btn-primary pull-right" href="#exam-test-list-search">Filtreeri</a>
      </div>
      <div class="row">
        <div class="span4">
                    <small>Kokku eksameid 4</small>
                </div>
                <div class=" pull-right">
                    <a  href="#exam-add-exam" class="btn btn-primary"> <i class="icon-plus-sign">  Lisa eksam  </i>
                    </a>
                </div>
            </div>
    </fieldset>
  </form>

  <table class="table sortable">
   <thead>
    <tr>
      <th>Toimumise <br> kuupäev</th>
      <th>Kella- <br> aeg</th>
      <th>Toimumiskoht</th>
      <th>Aega testiks</th>
      <th>Aega kaasuseks</th>
      <th>Kohti ruumis</th>
      <th>Reg. tähtaeg</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>27.12.2013</td>
      <td>10:00</td>
      <td>
      Rävala pst 3, Tallinn ruum 2 <br>
      Rävala pst 3, Tallinn ruum 3
     </td>
     <td>90 min</td>
     <td>360 min</td>
     <td>60</td>
     <td>27.09.2013</td>
        <td class="narrow">
      <span class="icon-button"> <a class="tip icon-edit" href="#exam-change-exam" data-toggle="tooltip" title="Muuda"></a> </span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-trash" onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etls')" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#oral-exam-generated-list" data-toggle="tooltip" title="Genereeri kirjaliku eksami küsimustik"></a></span>
    </td>
  </tr>
  <tr>
    <td>27.12.2013</td>
    <td>10:00</td>
    <td>
      Rävala pst 3, Tallinn ruum 2 <br>
      Rävala pst 3, Tallinn ruum 3

    </td>
    <td>90 min</td>
    <td>360 min</td>
    <td>60</td>
    <td>27.09.2013</td>
    <td class="narrow">
      <span class="icon-button"> <a class="tip icon-edit" href="#exam-change-exam" data-toggle="tooltip" title="Muuda"></a> </span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-trash" onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#oral-exam-generated-list" data-toggle="tooltip" title="Genereeri kirjaliku eksami küsimustik"></a></span>
    </td>
  </tr>
  <tr>
    <td>27.01.2013</td>
    <td>10:00</td>
    <td>
      Rävala pst 3, Tallinn ruum 2 <br>
      Rävala pst 3, Tallinn ruum 3
   </td>
   <td>90 min</td>
   <td>360 min</td>
   <td>60</td>
   <td>27.12.2013</td>
      <td class="narrow">
      <span class="icon-button"> <a class="tip icon-edit" href="#exam-change-exam" data-toggle="tooltip" title="Muuda"></a> </span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-trash" onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#myModal1" role="button"  data-toggle="modal" data-toggle="tooltip" title="Genereeri kirjaliku eksami küsimustik"></a></span>
    </td>
</tr>
<tr>
  <td>27.07.2013</td>
  <td>10:00</td>
  <td>
    Rävala pst 3, Tallinn ruum 2 <br>
      Rävala pst 3, Tallinn ruum 3
 </td>
 <td>90 min</td>
 <td>360 min</td>
 <td>40</td>
 <td>27.12.2013</td>
      <td class="narrow">
      <span class="icon-button"> <a class="tip icon-edit" href="#exam-change-exam" data-toggle="tooltip" title="Muuda"></a> </span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-trash" onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#myModal2" role="button"  data-toggle="modal" data-toggle="tooltip" title="Genereeri kirjaliku eksami küsimustik"></a></span>
    </td>
</tr>
<tr>
  <td>27.01.2013</td>
  <td>10:00</td>
  <td>
    Rävala pst 3, Tallinn ruum 2 <br>
      Rävala pst 3, Tallinn ruum 3
 </td>
 <td>90 min</td>
 <td>360 min</td>
 <td>60</td>
 <td>27.12.2013</td>
<td class="narrow">
      <span class="icon-button"> <a class="tip icon-edit" href="#exam-change-exam" data-toggle="tooltip" title="Muuda"></a> </span>
    </td>
    <td class="narrow">
      <span class="icon-button"><a class="tip icon-trash" onclick="hideOnPage($(this).parent().parent().parent().parent());decreaseCount('#etl')" data-toggle="tooltip" title="Kustuta"></a></span>
    </td>
    <td></td>
</tr>
</tbody>
</table>

<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModal1Label">Teade</h3>
 </div>
 <div class="modal-body">


  <span style="color:red">Eksami genereerimine ebaõnnestus!</span> 
  <br />
  <p>Põhjused:</p>
  <ul>
    <li>Valdkonnas "Eraõigus ja tsiviilkohtumenetlus" pole piisavalt aktiivseid kaasusülesandeid</li>
    <li>Valdkonnas "Karistusõigus ja kriminaalmenetlus" pole piisavalt aktiivseid küsimusi</li>
  </ul>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Sulge</button>
</div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="H1">Teade</h3>
 </div>
 <div class="modal-body">
  Kirjaliku eksami küsimustiku genereerimine õnnestus!
</div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Sulge</button>
  </div>
</div>
</section>
