
<section class="content" id="new-student-exam-info">
    <!--breadcrumbs -->
    <br />
    <br />
    <br />

    <ul class="breadcrumbs clearfix">
        <li><a href="#user-list-added-user">Kasutajate nimekiri</a> <span class="divider">/</span></li>
        <li class="active">Uus nimi eksamite info</li>
    </ul>

    <h3>Uus nimi </h3>
    <h5>Eksamite nimekiri</h5>
    <i>Kirjalikud eksamid</i>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Staatus</th>
            <th>Eksami liik</th>
            <th>Tegevus</th>
        </tr>
        
        
    </table>
     <br />
    <br />
    <i>Suulised eksamid</i>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Staatus</th>
            <th>Eksami liik</th>
            <th>Tegevus</th>
        </tr>
       
    </table>
     <div class="row-fluid">
                <div class="control-group span3 offset9">
                    <div class="controls">
                            <a type="button" href="#user-list-added-user" class="btn btn-default">
                                Tagasi
                            </a>
                    </div>
                </div>
            </div>
</section>

