<section id="oral-exam-list-search">


		<!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->



	<ul class="breadcrumbs">
		<li>>Suuliste eksamite nimekiri <span class="divider">/</span></li>
	</ul>


	<form class="form-horizontal">
		<fieldset>
				<div class="pagename">
                <h1>Suuliste eksamite nimekiri</h1>
				</div>
			<div class="row">
				<div class="span4">

					<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<label class="control-label" for="dp3">Eksami kuupäev&nbsp;&nbsp;</label>
						<input class="span2" size="16" type="text" value="12-02-2012">
						<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">

						<label class="control-label " for="textinput1">Eksami toimumiskoht</label>

						<div class="controls controls-row">
							<input id="text1" name="textinput1" type="text" placeholder="Eksami toimumiskoht" class="input-medium">
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div class="span4">
					<div class="control-group">

						<label class="control-label" for="textinput2">Eksami kellaaeg</label>

						<div class="controls">
							<input id="textinput" name="textinput2" type="text" placeholder="Eksami kellaaeg" class="input-medium">
						</div>
					</div>
				</div>
				
				<div class="span1 offset7 pull-right">
					<!-- Button -->
					<a class="btn btn-primary" href="#oral-exam-list-search">Otsi</a>
				</div>
			</div>
		</fieldset>
	</form>

	<div class="control-group pull-right">
                <div class="controls">
                    <div class="input-prepend">
                        <a href="#oral-exam-add" class="btn">Lisa Eksam</a>
                        <span class="add-on"><i class="icon-plus-sign"></i></span>
                    </div>
                </div>
            </div>

	<table class="table">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Kellaaeg</th>
            <th>Toimumiskoht</th>
            <th>Kutsesobivuskomisjoni koosseis</th>
			<th>Max arv</th>
			<th>Tegevus</th>
		</tr>
        <tr>
            <td>03.02.2013</td>
            <td>10:00</td>
            <td>Rävala pst 3, Tallinn ruum 2</td>
			<td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
			<td>10</td>
            <td>
				<ul class="nav nav-pills">
					<li><a href="#oral-exam-generated-list">Genereeritud järjekord</a></li>
 					<li class="disabled"></li>
				</ul>
            </td>
        </tr>
		
    </table>
	 <p>
            <small>Kokku: 1 kirjet</small>
        </p>

</section>