<section id="oral-exam-add">

			            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->


	<ul class="breadcrumbs clearfix">
		<li><a href="#oral-exam-list">Eksamid</a> <span class="divider">/</span></li>
        <li><a href="#oral-exam-list">Suulised eksamid</a> <span class="divider">/</span></li>
		<li>Suulise eksami lisamine</li>
	</ul>



		<form class="form-horizontal">
			<fieldset>

				<!-- Form Name -->
				<div class="pagename">
                <h1><a href="#oral-exam-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Suulise eksami lisamine</h1>
				</div>
				<!-- Text input-->
				<div class="span7">
					<div class="control-group">
						<label class="control-label" for="dp3">Kuupäev</label>

						<div class="controls">
							<div class="input-append date" id="Div3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">

								<input class="span2" size="16" type="text" value="" placeholder="Kuupäev">
								<span class="add-on" onclick=""><i class="icon-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div class="span7">
					<div class="control-group">

						<label class="control-label" for="">Kellaaeg</label>

						<div class="controls">
							<input id="text2" name="textinput" type="text" placeholder="Kellaaeg" class="input-large">
						</div>
					</div>
				</div>
				<!-- Text input-->

				<div id="r1" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Toimumiskoht ja ruum</label>

						<div class="controls">
							<input id="text3" name="textinput" type="text" placeholder="Toimumiskoht ja ruum" class="input-large">
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div id="r2" class="span7">
					<div class="control-group">
						<label class="control-label" for="">Kutsesobivuskomisjoni koosseis</label>
						<div class="controls">

							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox2" value="1">
							</label>
							<span class="help-inline">Aadu Luberg</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox6" value="1">
							</label>
							<span class="help-inline">Enno Loonurm</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkboxes-0" value="1">
							</label>
							<span class="help-inline">Gunnar Vaikmaa</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox8" value="1">
							</label>
							<span class="help-inline">Heli Sepp</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox3" value="1">
							</label>
							<span class="help-inline">Mari-Ann Simovart</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox7" value="1">
							</label>
							<span class="help-inline">Meeli Kaur</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox4" value="1">
							</label>
							<span class="help-inline">Toomas Tamme</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox5" value="1">
							</label>
							<span class="help-inline">Toomas Taube</span>
							<br />
							<label class="checkbox inline" for="checkboxes-0">
								<input type="checkbox" name="checkboxes" class="check-lg" id="checkbox1" value="1">
							</label>
							<span class="help-inline">Urmas Ustav</span>
							
							

							
							
						</div>


					</div>
				</div>

				<div id="Div1" class="span7">
					<div class="control-group">

						<label class="control-label" for="">Eksamineeritavate arv</label>

						<div class="controls">
							<input id="text1" name="textinput" type="text" placeholder="Eksamineeritavate arv" class="input-large">
						</div>
					</div>
				</div>

				<!-- Button -->
				<div class="span7">
					<div class="control-group">
				<div class="form-actions" style="background: none; border: none;">
					<a class="btn" href="#oral-exam-list" id="A1">Katkesta</a>
					<a class="btn btn-primary" href="#oral-exam-list">Lisa</a>
				</div>		</div>
				</div>
			</fieldset>

		</form>
	


</section>
