<section id="oral-exam-list">

    <ul class="breadcrumbs clearfix">
        <li><a href="#oral-exam-list">Eksamid</a> <span class="divider">/</span></li>
        <li class="active">Suulised eksamid</li>
    </ul>
    <div class="pagename">
        <h2>Suulised eksamid</h2>
    </div>
    <form class="form-inline">
        <fieldset>
            <div class="well">
                <span class="inline-group">
                    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <label class="control-label" for="dp3">Eksami kuupäev</label>
                        <input class="span2" size="16" type="text" value="12-02-2012">
                        <span class="add-on" onclick=""><i class="icon-calendar"></i></span>
                    </div>
                </span>
                <span class="inline-group">
                    <label class="control-label " for="textinput1">Toimumiskoht</label>
                    <input id="text1" name="textinput1" type="text" class="input-medium">
                </span>
                <a class="btn btn-primary pull-right" href="#" onclick="hideOnPage($('#oral-exam-list-table tr:gt(2)')); return false;">Otsi</a>
            </div>
            <div class="row">
                <div class="span4">
                    <small>Kokku eksameid 5</small>
                </div>
                <div class=" pull-right">
                    <a href="#oral-exam-add" class="btn btn-primary"><i class="icon-plus-sign"></i> Lisa eksam
                    </a>
                </div>
            </div>
        </fieldset>
    </form>

    <table class="table sortable" id="oral-exam-list-table">
        <thead>
            <tr>
                <th>Eksami kuupäev</th>
                <th>Kellaaeg</th>
                <th>Toimumiskoht</th>
                <th>Kutsesobivuskomisjoni koosseis</th>
                <th>Max arv</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 3</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
            <tr>
                <td>10.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
            <tr>
                <td>10.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 3</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
            <tr>
                <td>25.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#oral-exam-generated-list" title="Genereeritud järjekord"></a></span>
                </td>
            </tr>
            <tr>
                <td>25.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 3</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#oral-exam-generated-list" title="Genereeritud järjekord"></a></span>
                </td>
            </tr>
            <tr>
                <td>17.02.2013</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-sort-by-attributes" href="#oral-exam-generated-list" title="Genereeritud järjekord"></a></span>
                </td>
            </tr>
            <tr>
                <td>17.02.2012</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 3</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
            <tr>
                <td>10.02.2012</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 2</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
            <tr>
                <td>10.02.2012</td>
                <td>10:00</td>
                <td>Rävala pst 3, Tallinn ruum 3</td>
                <td>Urmas Ustav,Aadu Lumberg, Mari-Ann Maasikas, Tarmo Taare,Toomas Taube</td>
                <td>10</td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-chevron-right" href="#oral-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                </td>
                <td class="narrow">
                    <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                </td>
                <td class="narrow"></td>
            </tr>
        </tbody>
    </table>

</section>
