<section id="oral-change-exam">

	            <!-- #include file="_adminmenu.html" -->
            <!-- @include _adminmenu -->


<!--	<ul class="nav nav-pills">
		<li><a href="#exam-test-list">Eksamite nimekiri</a></li>
		<li class="active"><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
	</ul>-->

	<!---<ul class="breadcrumbs clearfix">
		<li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li><a href="#exam-test-list">Kirjalikud eksamid</a> <span class="divider">/</span></li>
		<li>Eksam 12.02.2012</li>
	</ul>-->
        
        <div class="pagename">
            <h1><a href="#exam-test-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>        Eksam 12.02.2012</h1>
		</div>

        <div class="well clearfix">
          <!--<h3>Kirjalikule eksamile registreerimine ei ole veel alanud</h3>-->
          <div id="nav-wizard">
              <ul class="nav-wizard">
                <li><a href="#exam-change-exam">Registreerimine</a></li>
                <li><a href="#exam-reg-on-exam">Kirjalik eksam</a></li>
                <li class="active"><a href="#oral-change-exam">Suuline eksam</a></li>
              </ul>
         </div>
         <div class="span12"><h4>Kirjalik eksam on alanud.</h4></div>
        <div class="row" style="margin-left:10px;">
            <div class="span6">
                <h3>Kirjalik eksam</h3>
                <p><small>Kuupäev:</small> 12.02.2012</p>
                <p><small>Kellaaeg: </small>10:00</p>
                <p><small>Testi kestvus:</small> 90 minutit</p>
                <p><small>Kaasuse algusaeg:</small> 11:30</p>
                <p><small>Kaasuse kestvus:</small> 360 minutit</p>
            </div>
            <!--<div class="span4">
                <h3>Registreerimine</h3>
                <p><small>Alguskuupäev:</small> 12.02.2012</p>
                <p><small>Lõppkuupäev: </small>15.02.2012</p>
                <p><small>Tühistamise kuupäev:</small> 12.02.2012</p>
            </div>-->
            <div class="span4">
                <h3>Toimumiskohad</h3>
                <p>Rävala pst 3, Tallinn ruum 2 <small>kohti:</small> 19/20</p>
                <p>Rävala pst 3, Tallinn ruum 3 <small>kohti:</small> 19/20</p>
            </div>
		    <!--<form>
			    <fieldset>
                    <div class="span6">
                        <div class="form-actions" style="background: none; border: none;margin:40px 0 -20px 0;">
                            <a class="btn" href="#exam-test-list" id="A1">Tühista eksam</a>
                            <a href="#exam-change-exam" class="btn btn-primary"><span class="tip icon-sort-by-attributes"></span> Koosta küsimustik</a>
                        </div>
                    </div>
            </fieldset>    
	    </form>-->
        </div>
    </div>
    <div class="row">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            
            <li><a href="#p11" data-toggle="tab">Üldinfo</a></li>
            <li><a href="#p12" data-toggle="tab">Eksamineeritavad</a></li>
            <li><a href="#p14" data-toggle="tab">Küsimused</a></li>
            <li><a href="#p15" data-toggle="tab">Kõik eksamid</a></li>
          </ul>
          <div class="tab-content">
            
            <div id="p11" class="tab-pane">
		       <div class="well clearfix hidden" id="showMeAdd2" style="padding-bottom:0px;">
                <form class="form-horizontal">
			        <fieldset>
                        <div class="span4">
				            <!-- Text input-->
				            <div class="span2">
					            <div class="control-group">
						            <label class="control-label" for="dp3">Kuupäev</label>

						            <div class="controls">
							            <div class="input-append date" id="Div3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">

								            <input class="span2" size="16" type="text" value="" placeholder="Kuupäev">
								            <span class="add-on" onclick=""><i class="icon-calendar"></i></span>
							            </div>
						            </div>
					            </div>
				            </div>

				            <!-- Text input-->
				            <div class="span7">
					            <div class="control-group">

						            <label class="control-label" for="">Kellaaeg</label>

						            <div class="controls">
							            <input id="inputError" name="textinput" type="text" placeholder="Kellaaeg" class="input-small">
      
						            </div>
					            </div>
				            </div>
				         </div>
                        <div class="span4">
                            <!-- Dropdown & Text input-->
				            <div class="span8">
                                <div class="control-group">
                                    <label class="control-label" for="selectbasic">Lisa toimumiskoht</label>
                                    <div class="controls">
                                        <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                                            <option value="">Vali toimumiskoht</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 2</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 3</option>
                                        </select>
                                        <input id="text4" name="textinput" type="text" placeholder="Kohtade arv" class="input-small">
					                    <a class="btn btn-primary" href="#exam-add-exam">Lisa</a>
						            </div>
			                    </div>
                            </div>
                
                            <!--Text-->
				            <div class="span7">
					            <div class="control-group">
						            <div>
                                        <label class="control-label" for="">Toimumiskoht 1</label>

						                <div class="controls">
                                            <div class="row">
							                    <div class="span3">Rävala pst 3, Tallinn ruum 2</div>
                                                <span>20 kohta</span>
                                                <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                                            </div>
				                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label" for="">Toimumiskoht 2</label>

						                <div class="controls">
                                            <div class="row">
							                    <div class="span3">Rävala pst 3, Tallinn ruum 2</div>
                                                <span>20 kohta</span>
                                                <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
                                            </div>
				                        </div>
                                    </div>
				                </div>
                            </div>
                        </div>
				            <!-- Button -->
				            <div class="span7">
					            <div class="control-group">
				            <div class="form-actions" style="background: none; border: none;">
					            <a class="btn" href="javascript:hideOnPage($('#showMeAdd2'),'hideOnPage')" id="A2">Katkesta</a>
					            <a class="btn btn-primary" href="javascript:hideOnPage($('#showMeAdd2'),'hideOnPage')">Lisa</a>
				            </div>		</div>
				            </div>
			        </fieldset>

		        </form>
            </div>
            <div class="row pull-right">
                <a href="javascript:shownOnPage2($('#showMeAdd2'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa suulise eksami päev</a>
			</div>
                <form>
                   <fieldset>
                         <legend>Kirjalik eksam 12.02.2012</legend>
                              <div class="span4">
				                <div class="span4">
					               <div class="span2">
                                       <label for="text"><small>Kuupäev</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                        12-02-2012
                                    </div>
				                </div>

				        
				                <div class="span4">
					                <div class="span2">
                                        <label for="text2"><small>Kellaaeg</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                         10:00
						             </div>
				                </div>

                        
				                <div class="span4">
					                <div class="span2">
						                <label for=""><small>Testi kestvus</small></label>
                                    </div>
						            <div class="span2" style="margin-left:-10px;">
                                        90 minutit
						            </div>
				                </div>

                        
			                    <div class="span4">
			                        <div class="span2">
			                            <label for=""><small>Kaasuse kestvus</small></label>
                                    </div>
			                        <div class="span2" style="margin-left:-10px;">
                                        360 minutit
			                        </div>
			                    </div>

                        
				                <div class="span4">
					                <div class="span2">
						                <label for=""><small>Kaasuse algusaeg</small></label>
                                    </div>
						            <div class="span2" style="margin-left:-10px;">
							            11:30
						            </div>
					            </div>
				       
               
                        
				                <div class="span4">
					                <div class="span2">
						                <label for="dp3"><small>Registreerimise alguskuupäev</small></label>
                                     </div>
						            <div class="span2" style="margin-left:-10px;">
                                        01-02-2012
						            </div>
				                </div>

                        
				                <div class="span4">
					                <div class="span2">
						                <label for="dp3"><small>Registreerimise lõppkuupäev</small></label>
                                    </div>
						            <div class="span2" style="margin-left:-10px;">
						                11-02-2012
                                    </div>
				                </div>

                        
				                <div class="span4">
					                <div class="span2">
						                <label for="dp3"><small>Registreerimise tühistamise kuupäev</small></label>
                                    </div>
						            <div class="span2" style="margin-left:-10px;">
						                11-02-2012
					                </div>
				                </div>
                       </div>
                       <div class="span6">
                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 1</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                Rävala pst 3, Tallinn ruum 2
                                        <small>&nbsp;Kohti:</small>
                                        20
                                        
					                </div>
                                </div>

                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 2</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                Rävala pst 3, Tallinn ruum 3
                                        <small>&nbsp;Kohti:</small>
                                        20
                                        
					                </div>
                                </div>
                        
                                
                                <div class="span4">
                                    <div class="span2">
                                        <label for="dp3"><small>Kohti kokku</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
						                40
					                </div>
                                </div>
                        
                           </div>     
                
                        <legend>Suuline eksam 13.02.2012</legend>
				            <div class="span4">
				                <div class="span4">
					               <div class="span2">
                                       <label for="text"><small>Kuupäev</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                        <a href="#" class="js-place" id="A3" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">13-02-2012</a> 
                                    </div>
				                </div>
                    
                           
				                <div class="span4">
					                <div class="span2">
                                        <label for="text2"><small>Kellaaeg</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                         <a href="#" class="js-place" id="A4" data-type="text" data-name="koht" data-original-title="Kellaaeg">10:00</a>
						             </div>
				                </div>
                           </div>
                            <div class="span6">
                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 1</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                <a href="#" class="place" id="A5" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 4</a>
                                        <small>&nbsp;Kohti:</small>
                                        <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                        <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
					                </div>
                                </div>

                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 2</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                <a href="#" class="place" id="A7" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 5</a>
                                        <small>&nbsp;Kohti:</small>
                                        <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                        <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
					                </div>
                                </div>
                        
                                <div class="hidden" id="showMe5">
				                    <div id="Div2" class="span6" style="margin-left:40px;">
					                    <select id="select1" name="selectkoht" class="selectpicker show-tick">
                                            <option value="">Vali toimumiskoht</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 2</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 3</option>
                                        </select>
							            <input id="text2" name="textinput" type="text" placeholder="Kohtade arv" class="input-small">&nbsp;&nbsp;
							            <button class="btn btn-primary" onclick=""><i class="icon-chevron-down"></i></button>
                                        <button class="btn" onclick="hideOnPage($(this).parent().parent())"><i class="icon-remove"></i></button>
				                    </div>
			                    </div>

                                <div class="span6" style="margin:0 0 5px 40px;">
                                    <a href="javascript:shownOnPage2($('#showMe5'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa toimumiskoht</a>
				                </div>
                                <div class="span4">
                                    <div class="span2">
                                        <label for="dp3"><small>Kohti kokku</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
						                40
					                </div>
                                </div>
                        
                       </div>
                       <legend>Suuline eksam 14.02.2012</legend>
				            <div class="span4">
				                <div class="span4">
					               <div class="span2">
                                       <label for="text"><small>Kuupäev</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                        <a href="#" class="js-place" id="A17" data-type="date" data-pk="1" data-url="/post" data-title="Kuupäev">14-02-2012</a> 
                                    </div>
				                </div>
                    
                           
				                <div class="span4">
					                <div class="span2">
                                        <label for="text2"><small>Kellaaeg</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
                                         <a href="#" class="js-place" id="A18" data-type="text" data-name="koht" data-original-title="Kellaaeg">13:00</a>
						             </div>
				                </div>
                           </div>
                            <div class="span6">
                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 1</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                <a href="#" class="place" id="A19" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 4</a>
                                        <small>&nbsp;Kohti:</small>
                                        <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                        <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
					                </div>
                                </div>

                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 2</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                <a href="#" class="place" id="A20" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 5</a>
                                        <small>&nbsp;Kohti:</small>
                                        <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">20</a>
                                        <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
					                </div>
                                </div>

                                <div class="span6">
                                    <div class="span2">
                                        <label for="dp3"><small>Toimumiskoht 3</small></label>
                                    </div>
                                    <div class="span4" style="margin-left:-10px;">
						                <a href="#" class="place" id="A21" data-type="select" data-name="koht" data-original-title="Toimumiskoht">Rävala pst 3, Tallinn ruum 6</a>
                                        <small>&nbsp;Kohti:</small>
                                        <a href="#" class="js-place" data-type="text" data-pk="1" data-url="/post" data-title="Kohtade arv">10</a>
                                        <a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent())" data-toggle="tooltip" title="" data-original-title="Tühista toimumiskoht"></a>
					                </div>
                                </div>
                        
                                <div class="hidden" id="showMe4">
				                    <div id="Div5" class="span6" style="margin-left:40px;">
					                    <select id="select2" name="selectkoht" class="selectpicker show-tick">
                                            <option value="">Vali toimumiskoht</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 2</option>
                                            <option value="20">Rävala pst 3, Tallinn ruum 3</option>
                                        </select>
							            <input id="text3" name="textinput" type="text" placeholder="Kohtade arv" class="input-small">&nbsp;&nbsp;
							            <button class="btn btn-primary" onclick=""><i class="icon-chevron-down"></i></button>
                                        <button class="btn" onclick="hideOnPage($(this).parent().parent())"><i class="icon-remove"></i></button>
				                    </div>
			                    </div>

                                <div class="span6" style="margin:0 0 5px 40px;">
                                    <a href="javascript:shownOnPage2($('#showMe4'),'showOnPage')" class="btn"><i class="icon-plus-sign"></i> Lisa toimumiskoht</a>
				                </div>
                                <div class="span4">
                                    <div class="span2">
                                        <label for="dp3"><small>Kohti kokku</small></label>
                                    </div>
                                    <div class="span2" style="margin-left:-10px;">
						                50
					                </div>
                                </div>
                        
                       </div>
                        <div class="span6">
                            <hr>
                            <div class="form-actions" style="background: none; border: none; margin:-20px 0 -20px 0;">
                                <a class="btn btn-primary" href="#exam-reg-on-exam">Salvesta muudatused</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
               </div>   
            
            <div id="p12" class="tab-pane">
                <div class="span12">
                    <div class="tabbable">
                      <ul class="nav nav-pills">
                        <li class="active"><a href="#koik2" data-toggle="tab">Kõik</a></li>
                        <li><a href="#kohad2" data-toggle="tab">Toimumiskohad</a></li>
                      </ul>
                      <div class="tab-content">
                          <div id="koik2" class="tab-pane active">
                              <table class="table table-striped table-condensed sortable">
            					<thead>
                                    <tr class="sort">
                                        <th>Eesnimi</th>
                                        <th>Perekonnanimi</th>
                                        <th>Eksami liik</th>
                                        <th>Toimumiskoht</th>
                                        <th>Staatus</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Aadu</td>
                                        <td>Aas</td>
                                        <td>Vandeadvokaadi abi eksam</td>
                                        <td>Rävala pst 3, Tallinn ruum 2</td>
                                        <td>Registreerunud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mait</td>
                                        <td>Metsanurk</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>Rävala pst 3, Tallinn ruum 3</td>
                                        <td>Registreerunud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                </tbody>
            				</table>
                          </div>
                          <div id="kohad2" class="tab-pane">
                              <div class="row">
    		                    <div class="span12">
                                    <div class="accordion">
            		                    <div class="accordion-group">
            			                    <div class="accordion-heading">
            				                    <a class="accordion-toggle" data-toggle="collapse" href="#exam1">12.02.2012   Rävala pst 3, Tallinn ruum 2</a>
            			                    </div>
            			                    <div id="exam1" class="accordion-body collapse">
            				                    <div class="accordion-inner">
            					                    <table class="table table-striped table-condensed sortable">
            						                    <thead>
                                                            <tr class="sort">
                                                                <th>Eesnimi</th>
                                                                <th>Perekonnanimi</th>
                                                                <th>Eksami liik</th>
                                                                <th>Staatus</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Aadu</td>
                                                                <td>Aas</td>
                                                                <td>Vandeadvokaadi abi eksam</td>
                                                                <td>Registreerunud</td>
                                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#exam-answeres"></a></span></td>
                                                                <td class="narrow">
                                                                     <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
            					                    </table>
            				                    </div>
            			                    </div>
            			                    <div class="accordion-heading">
                                              <a class="accordion-toggle" data-toggle="collapse" href="#exam2">12.02.2012   Rävala pst 3, Tallinn ruum 3</a>
            			                    </div>
            			                    <div id="exam2" class="accordion-body collapse">
            				                    <div class="accordion-inner">
            					                    <table class="table table-striped table-condensed sortable">
                                                        <thead>
                                                            <tr class="sort">
                                                                <th>Eesnimi</th>
                                                                <th>Perekonnanimi</th>
                                                                <th>Eksami liik</th>
                                                                <th>Staatus</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Mait</td>
                                                                <td>Metsanurk</td>
                                                                <td>Vandeadvokaadi eksam</td>
                                                                <td>Registreerunud</td>
                                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#exam-answeres"></a></span></td>
                                                                <td class="narrow">
                                                                     <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
            					                    </table>
            				                    </div>
            			                    </div>
            		                    </div>
            	                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
	            </div>
            </div>
            <div id="p14" class="tab-pane">

            </div>
            <div id="p15" class="tab-pane">
                <table class="table sortable" id="exam-test-list-table">
                   <thead>
                        <tr>
                            <th>Toimumise<br>kuupäev</th>
                            <th>Staatus</th>
                            <th>Eksamineeritavaid</th>
                            <th>Reg. tähtaeg</th>
			                <th></th>
                            <th></th>
                            <th></th>
		                </tr>
                  </thead>
                  <tbody>
		                  <tr class="inactive">
                            <td>27.12.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.09.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>27.12.2013</td>
                            <td>Registreerimine pole veel alanud</td>
			                <td>40</td>
			                <td>27.09.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                        </tr>
		                <tr>
                            <td>22.01.2013</td>
                            <td>Registreerimine on alanud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                        </tr>
			            <tr class="inactive">
                            <td>22.01.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                        </tr>
		                <tr class="inactive">
                            <td>22.01.2013</td>
                            <td>Lõppenud</td>
			                <td>40</td>
			                <td>27.12.2013</td>
                            <td class="narrow">
                               <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-change-exam" data-toggle="tooltip" title="Jätka"></a></span>
                            </td>
                        </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</section>
