<section id="settings-log">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />

    <form class="form-inline">
        <fieldset>
            <!-- Form Name -->
            <legend>Logi</legend>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Kuupäev</th>
                        <th>Kellaaeg</th>
                        <th>Tegevus</th>
                        <th>Kasutaja</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        02.xx.xxxx
                        <td>00:00
                        </td>
                        <td>Eksamile registreerimine
                        </td>
                        <td>Aadu Aas
                        </td>
                    <tr>
                        <td>02.xx.xxxx</td>
                        <td>
                            00:00
                        </td>
                        <td>Kasutaja Aadu Aas loomine
                        </td>
                        <td>Administraator1
                    </tr>
                    <tr>
                        <td>02.xx.xxxx</td>
                        <td>
                            00:00
                        </td>
                        <td>Eksamiküsimuse sisestamineTere
                        </td>
                        <td>Administraator1
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</section>
