<section id="settings-exam-conditions">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />
    <form class="form-inline">
        <fieldset>

            <!-- Form Name -->
            <legend>Eksami küsitavate küsimuste arv ja sooritamise tingimused</legend>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Aktiivsete küsimuste koguarv</th>
                        <th>Järgmisel eksamil kasutatavate küsimuste arv</th>
                        <th>Mis õigesti vastatud küsimuste arv valdkondade lõikes testi positiivseks sooritamiseks</th>
                        <th>Min õigesti vastatud küsimuste koguarv testi positiivseks sooritamiseks</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        Eraõigus ja tsiviilkohtumenetlus
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">20</a></p>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input id="textinput" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input id="text1" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk 53 %
                                </div>
                            </div>
                        </td>
                        <td rowspan="4" >
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <!-- Text input-->
                                <div class="control-group span4">
                                    <label class="control-label" for="textinput"></label>
                                    <div class="controls offset1">
                                        <input id="text8" name="textinput" type="text" value="35" placeholder="" class="input-mini">
                                        ehk 70 %
                                    </div>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">21</a></p>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input id="text2" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input id="text5" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk 53 %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Karistusõigus ja kriminaalmenetlus</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">17</a></p>
                        </td>
                        <td>

                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input id="text3" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input id="text6" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk 53 %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Advokatuur</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">9</a></p>
                        </td>
                        <td>

                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input id="text4" name="textinput" type="text" value="9" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input id="text7" name="textinput" type="text" value="3" placeholder="" class="input-mini">
                                    ehk 60 %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>KOKKU</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">67</a></p>
                        </td>
                        <td>
                            <p class="text-center">50</p>
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Button (Double) -->
            <div class="control-group pull-right">
                <label class="control-label" for="button1id"></label>
                <div class="controls">
                    <a id="button2id" type="button" href="#settings-exam-conditions" class="btn btn-primary">Salvesta</a>
                </div>
            </div>
        </fieldset>
    </form>
</section>
