<section class="content" id="settings-locations">
    <div class="pagename">
      <h1>Toimumiskohad</h1>
    </div>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#location0" data-toggle="tab">Toimumiskohad</a></li> <!-- class="active" -->
        <li ><a href="#location1" data-toggle="tab">Ruumid</a></li>
        
      </ul>


      <div class="tab-content">
        <div class="tab-pane  active" id="location0">
          <form class="form-horizontal">
            <fieldset>

              <table class="table sortable">
                <thead>
                  <tr class="sort">
                    <th style="width:400px;">Aadress</th>
                    <th style="width:400px;">Nimetus</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a class="locations" id="A1" data-type="text" data-name="location" data-original-title="Muuda">Rävala pst 3, Tallinn</a></td>
                    <td><a class="locationsname" id="A2" data-type="text" data-name="location" data-original-title="Muuda">Eesti Advokatuur</a></td>
                    <td class="narrow">
                      <span class="icon-button"><a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="" data-original-title="Kustuta"></a></span>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="locations" id="A3" data-type="text" data-name="location" data-original-title="Muuda">Raja 4c, Tallinn</a></td>
                    <td><a class="locationsname" id="A4" data-type="text" data-name="location" data-original-title="Muuda">IT Kolledž</a></td>
                    <td class="narrow">
                      <span class="icon-button"><a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="" data-original-title="Kustuta"></a></span>
                    </td>
                  </tr>
                    <tr>
                    <td><a class="locations" id="A5" data-type="text" data-name="location" data-original-title="Muuda"></a></td>
                    <td><a class="locationsname" id="A6" data-type="text" data-name="location" data-original-title="Muuda"></a></td>
                    <td class="narrow">
                      <span class="icon-button"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="form-actions pull-right" style="background: none; border: none;">
                    <a type="button" class="btn" href="#settings-locations">Tühista</a>
                    <a class="btn btn-primary" href="#settings-locations">Salvesta</a>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="location1">
          <form class="form-horizontal">
            <fieldset>

              <table class="table sortable">
                <thead>
                  <tr class="sort">
                    <th style="width:300px;">Toimumiskoht</th>
                    <th style="width:250px;">Ruum</th>
                    <th style="width:250px;">Kohtade<br /> arv</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a class="place2be" id="A7" data-type="select" data-name="location" data-original-title="Muuda">Eesti Advokatuur, Rävala pst 3, Tallinn</a></td>
                    <td><a class="room" id="A8" data-type="text" data-name="location" data-original-title="Muuda">303</a></td>
                    <td><a class="nr" id="A13" data-type="text" data-name="location" data-original-title="Muuda">20</a></td>
                    <td class="narrow">
                      <span class="icon-button"><a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="" data-original-title="Kustuta"></a></span>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="place2be" id="A9" data-type="select" data-name="location" data-original-title="Muuda">IT Kolledž, Raja 4c, Tallinn</a></td>
                    <td><a class="room" id="A10" data-type="text" data-name="location" data-original-title="Muuda">316</a></td>
                    <td><a class="nr" id="A14" data-type="text" data-name="location" data-original-title="Muuda">40</a></td>
                    <td class="narrow">
                      <span class="icon-button"><a class="tip icon-remove" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="" data-original-title="Kustuta"></a></span>
                    </td>
                  </tr>
                    <tr>
                    <td><a class="place2be" id="A11" data-type="select" data-name="location" data-original-title="Muuda"></a></td>
                    <td><a class="room" id="A12" data-type="text" data-name="location" data-original-title="Muuda"></a></td>
                    <td><a class="nr" id="A15" data-type="text" data-name="location" data-original-title="Muuda"></a></td>
                    <td class="narrow">
                      <span class="icon-button"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="form-actions pull-right" style="background: none; border: none;">
                    <a type="button" class="btn" href="#settings-locations">Tühista</a>
                    <a class="btn btn-primary" href="#settings-locations">Salvesta</a>
              </div>
            </fieldset>
          </form>
        </div>
        
                </div> <!-- end tab content -->
              </div> <!-- end tab -->
</section>