<section class="content" id="settings-userrights">
    <!--breadcrumbs -->
    <br />
    <br />
    <br />

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Rollide haldamine</legend>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Eksamineeritav</th>
                        <th>Kutsesobivuskomisjoni liige</th>
                        <th>Advogatuuri kantselei töötaja</th>
                        <th>Admin</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        Eksamile registreerimine
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox1" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox2" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox3" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Eksami üldinfo sisestamine</td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox4" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox5" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox6" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox7" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Eksamiülesannete sisestamine</td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox8" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox9" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox10" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox11" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox12" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox13" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox14" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Multiple Checkboxes (inline) -->
                            <div class="control-group span3">
                                <label class="control-label" for="checkboxes"></label>
                                <div class="controls">
                                    <label class="checkbox inline" for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkbox15" value="1234">
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Button (Double) -->
            <div class="control-group pull-right">
                <label class="control-label" for="button1id"></label>
                <div class="controls">
                    <button id="button2id" name="button2id" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>
