<section id="settings-writings-case">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />



    <!-- Form Name -->
    <legend>Eksami küsitavate küsimuste arv ja sooritamise tingimused</legend>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Valdkond</th>
                <th class="span2">Kaasusülesanne</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                Eraõigus ja tsiviilkohtumenetlus
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">0</a></p>
                        </td>

            </tr>
            <tr>
                <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                <td>
                    <p class="text-center"><a href="#exam-test-questions">0</a></p>
                </td>

            </tr>
            <tr>
                <td>Karistusõigus ja kriminaalmenetlus</td>
                <td>
                    <p class="text-center"><a href="#exam-test-questions">1</a></p>
                </td>
            </tr>
            <tr>
                <td>Vandeadvokaadi abi</td>
                <td>
                    <p class="text-center"><a href="#exam-test-questions">0</a></p>
                </td>
            </tr>
            <tr>
                <td><b>KOKKU</b></td>
                <td>
                    <p class="text-center"><a href="#exam-test-questions">1</a></p>
                </td>
            </tr>
        </tbody>
    </table>

</section>
