<section id="settings-notifications">
    <!--breadcrumbs -->
    <br />
    <br />
    <br />

    <!-- Form Name -->
    <legend>Teavitused</legend>
    <ul class="unstyled">
        <li><a href="#settings-writing-registration-notification">Kirjaliku eksamile registreerimise teavitus</a></li>
        <li><a href="#settings-writing-reminder-notification">Kirjaliku eksamile meeldetuse teavitus</a></li>
        <li><a href="#settings-oral-exam-reminder">Suulise eksami toimumise teavitus</a></li>
        <li><a href="#settings-writing-exam-info">Kirjaliku eksami üldinfo</a></li>
        <li><a href="#settings-test-exam-info">Kaasusülesande üldinfo</a></li>
    </ul>
</section>
