<section id="settings-exam-conditions">
    <!--breadcrumbs -->
    <br />
    <br />
    <br />
    <form class="form-inline">
        <fieldset>

            <!-- Form Name -->
            <legend>Testi küsimuste arv ja sooritamise tingimused</legend>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Aktiivsete küsimuste koguarv</th>
                        <th>Järgmisel eksamil kasutatavate küsimuste arv</th>
                        <th>Mis õigesti vastatud küsimuste arv valdkondade lõikes testi positiivseks sooritamiseks</th>
                        <th>Min õigesti vastatud küsimuste koguarv testi positiivseks sooritamiseks</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        Eraõigus ja tsiviilkohtumenetlus
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">20</a></p>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input onkeyup="calculateTotal();calculatePercent('#v1t','#v1c','#v1p')" id="v1t" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input onkeyup="calculatePercent('#v1t','#v1c','#v1p')" id="v1c" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk <span id="v1p">53</span> %
                                </div>
                            </div>
                        </td>
                        <td rowspan="4" >
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <!-- Text input-->
                                <div class="control-group span4">
                                    <label class="control-label" for="textinput"></label>
                                    <div class="controls offset1">
                                        <input onkeyup="calculatePercent('#totalq','#totalc','#totalp')" id="totalc" name="textinput" type="text" value="35" placeholder="" class="input-mini">
                                        ehk <span id="totalp">70</span> %
                                    </div>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Riigi põhikord, avalik õigus ja halduskohtumenetlus</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">21</a></p>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input onkeyup="calculateTotal();calculatePercent('#v2t','#v2c','#v2p')"  id="v2t" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input onkeyup="calculatePercent('#v2t','#v2c','#v2p')" id="v2c" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk <span id="v2p">53</span> %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Karistusõigus ja kriminaalmenetlus</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">17</a></p>
                        </td>
                        <td>

                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input onkeyup="calculateTotal();calculatePercent('#v3t','#v3c','#v3p')" id="v3t" name="textinput" type="text" value="15" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span4">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input onkeyup="calculatePercent('#v3t','#v3c','#v3p')" id="v3c" name="textinput" type="text" value="8" placeholder="" class="input-mini">
                                    ehk <span id="v3p">53</span> %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Advokatuur</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">9</a></p>
                        </td>
                        <td>

                            <!-- Text input-->
                            <div class="control-group span2">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls">
                                    <input onkeyup="calculateTotal();calculatePercent('#v4t','#v4c','#v4p')" id="v4t" name="textinput" type="text" value="5" placeholder="" class="input-mini">
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Text input-->
                            <div class="control-group span">
                                <label class="control-label" for="textinput"></label>
                                <div class="controls offset1">
                                    <input onkeyup="calculatePercent('#v4t','#v4c','#v4p')" id="v4c" name="textinput" type="text" value="3" placeholder="" class="input-mini">
                                    ehk <span id="v4p">60</span> %
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>KOKKU</td>
                        <td>
                            <p class="text-center"><a href="#exam-test-questions">67</a></p>
                        </td>
                        <td>
                            <p class="text-center"><span id="totalq">50</span></p>
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>



            <!-- Button (Double) -->
            <div class="control-group pull-right">
                <label class="control-label" for="button1id"></label>
                <div class="controls">
                    <a id="button2id" type="button" href="#settings-exam-conditions" class="btn btn-primary">Salvesta</a>
                </div>
            </div>
        </fieldset>
    </form>
</section>
