<section id="student-exam-info">
    <!--breadcrumbs -->

    <ul class="breadcrumbs clearfix">
        <li><a href="#user-list">Kasutajad</a> <span class="divider">/</span></li>
        <li class="active">Aadu Aas eksamid</li>
    </ul>

    <div class="pagename">
        <h1><a href="#user-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Aadu Aas eksamid</h1>
    </div>

    <ul class="nav nav-tabs" id="exam-overview">
      <li class="active"><a href="#written-overview" data-toggle="tab">Kirjalikud eksamid</a></li>
      <li><a href="#oral-overview" data-toggle="tab">Suulised eksamid</a></li>
  </ul>

  <div class="tab-content">
      <div class="tab-pane active" id="written-overview">
        <table class="table">
            <tr>
                <th>Eksami kuupäev</th>
                <th>Staatus</th>
                <th>Eksami liik</th>
                <th></th>
            </tr>
            <tr>
                <td>27.06.2012</td>
                <td>Registreeritud</td>
                <td>Vandeadvokaadi abi eksam</td>
                <td>
                    <span class="icon-button"><a class="tip icon-edit" href="#users-change-exam-info" data-toggle="tooltip"  data-original-title="Muuda"></a></span>
                    <span class="icon-button"><a class="tip icon-trash" onclick="#users-student-exam-info-canceled-registration" data-toggle="tooltip" title="" data-original-title="Tühista registreering"></a></span>
                </td>
            </tr>
            <tr>
                <td>27.01.2012</td>
                <td>Sooritatud</td>
                <td>Vandeadvokaadi abi eksam</td>
                <td>
                    <span class="icon-button"><a class="tip icon-eye-open" href="#exam-answeres" data-toggle="tooltip" data-original-title="Vaata eksami vastuseid"></a></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="oral-overview">
        <table class="table">
            <tr>
                <th>Eksami kuupäev</th>
                <th>Staatus</th>
                <th>Eksami liik</th>
                <th></th>
            </tr>
            <tr>
                <td>03.07.2012</td>
                <td>Registreeritud</td>
                <td>Vandeadvokaadi abi eksam</td>
                <td>
                    <span class="icon-button"><a class="tip icon-edit" href="#exam-result" data-toggle="tooltip"  data-original-title="Sisesta eksami tulemus"></a></span>
                </td>
            </tr>
            <tr>
                <td>03.02.2012</td>
                <td>Sooritatud</td>
                <td>Vandeadvokaadi abi eksam</td>
                <td>
                    <span class="icon-button"><a class="tip icon-eye-open" href="#users-exam-result" data-toggle="tooltip" data-original-title="Vaata eksami vastuseid"></a></span>
                </td>
            </tr>
        </table>
    </div>
    </div>
</section>
