<section id="student-exam-info">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />

    <ul class="breadcrumb">
        <li><a href="#user-list">Kasutajate nimekiri</a> <span class="divider">/</span></li>
        <li class="active">Aadu Aas eksamite info</li>
    </ul>

    <h3>Aadu Aas</h3>
    <h5>Eksamite nimekiri</h5>
    <i>Kirjalikud eksamid</i>
    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Staatus</th>
            <th>Eksami liik</th>
            <th>Tegevus</th>
        </tr>
        <tr>
            <td>27.06.2012</td>
            <td>Registreeritud</td>
            <td>Vandeadvokaadi abi eksam</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#users-student-exam-info-canceled-registration" class="">Tühista registreering</a></li>

                </ul>
            </td>
        </tr>
        <tr>
            <td>27.01.2012</td>
            <td>Sooritatud</td>
            <td>Vandeadvokaadi abi eksam</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#exam-answeres" class="">Vaata eksami vastused</a></li>

                </ul>
            </td>
        </tr>
    </table>
     <br />
    <br />
    <i>Suulised eksamid</i>
    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Eksami kuupäev</th>
            <th>Staatus</th>
            <th>Eksami liik</th>
            <th>Tegevus</th>
        </tr>
        <tr>
            <td>03.07.2012</td>
            <td>Registreeritud</td>
            <td>Vandeadvokaadi abi eksam</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#exam-result" class="">Sisesta eksami tulemus</a></li>

                </ul>
            </td>
        </tr>
        <tr>
            <td>03.02.2012</td>
            <td>Sooritatud</td>
            <td>Vandeadvokaadi abi eksam</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#users-exam-result" class="">Vaata eksami tulemust</a></li>

                </ul>
            </td>
        </tr>
    </table>
     <div class="row-fluid">
                <div class="control-group span3 offset9">
                    <div class="controls">
                            <a type="button" href="#user-list" class="btn btn-default">
                                Tagasi
                            </a>
                    </div>
                </div>
            </div>
</section>
