<section id="users-list-deleted-aadu">
    <!--breadcrumbs -->
    <br />
    <br />
    <br />
    <ul class="breadcrumbs clearfix">
        <li class="active">Kasutajate nimekiri</li>
    </ul>


    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="row">
                <div class="span4">
                    <div class="control-group">

                        <label class="control-label" for="textinput1">Eesnimi        </label>
                        <div class="controls">
                            <input id="text1" name="textinput1" type="text" placeholder="Nimi" class="input-medium">
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="span4">
                    <div class="control-group">

                        <label class="control-label" for="textinput2">Perekonnanimi</label>

                        <div class="controls">
                            <input id="textinput" name="textinput2" type="text" placeholder="Perekonnanimi" class="input-medium">
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="selectbasic">Roll</label>
                        <div class="controls">
                            <select id="selectbasic" name="selectbasic" class="input-medium">
                                <option>--Vali--</option>
                                <option>Eksamineeritav</option>
                                <option>Administraator</option>
                                <option>Kutsesobivuskomisjoni liige</option>
                                <option>Advokatuuri kantselei töötaja</option>
                            </select>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="span4">

                        <div class="control-group">
                            <label class="control-label">Aktiivne</label>
                            <div class="controls">
                                <select id="select1" class="input-medium">
                                    <option>--Vali--</option>
                                    <option>Jah</option>
                                    <option>Ei</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span1 offset6 pull-right">

                        <a class="btn btn-primary" href="#user-list">Otsi</a>
                    </div>
                </div>
         
            <div class="row">
                <div class="control-group span3 offset9">
                    <div class="controls">
                        <div class="input-prepend">
                            <a type="button" href="#add-user" class="btn btn-small">Lisa kasutaja  <i class="icon-plus-sign"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table">
        <tr class="sort">
            <th>Eesnimi</th>
            <th>Perekonnanimi</th>
            <th>Roll</th>
            <th>Tegevus</th>
        </tr>
    </table>
    Kokku: 0 kirje(t)

</section>
