<section id="user-list-added-user">
    <!--Breadcrumbs -->
    <br />
    <br />
    <br />
    <ul class="breadcrumb">
        <li class="active">Kasutajate nimekiri</li>
    </ul>


    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="row">
                <div class="span4">
                    <div class="control-group">

                        <label class="control-label" for="textinput1">Nimi        </label>
                        <div class="controls">
                            <input id="text1" name="textinput1" type="text" placeholder="Nimi" class="input-medium">
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="span4">
                    <div class="control-group">

                        <label class="control-label" for="textinput2">Perekonnanimi</label>

                        <div class="controls">
                            <input id="textinput" name="textinput2" type="text" placeholder="Perekonnanimi" class="input-medium">
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label" for="selectbasic">Roll</label>
                        <div class="controls">
                            <select id="selectbasic" name="selectbasic" class="input-medium">
                                <option>Eksamineeritav</option>
                                <option>Administraator</option>
                                <option>Kutsesobivuskomisjoni liige</option>
                                <option>Advokatuuri kantselei töötaja</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">

                    <div class="control-group">
                        <label class="control-label">Aktiivne</label>
                        <div class="controls">
                            <select id="select1" class="input-medium">
                                <option>Jah</option>
                                <option>Ei</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span1 offset6 pull-right">

                    <a class="btn btn-primary" href="#">Otsi</a>
                </div>
            </div>

            <div class="row">
                <div class="control-group span3 offset9">
                    <div class="controls">
                        <div class="input-prepend">
                            <a type="submit" href="#add-user" class="btn btn-small">Lisa kasutaja  <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table table-bordered">
        <tr>
            <th>Nimi</th>
            <th>Perekonnanimi</th>
            <th>Roll</th>
            <th>Tegevus</th>
        </tr>
        <tr>
            <td>Aadu</td>
            <td>Aas</td>
            <td>Eksamineeritav</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#" class="">Muuda kasutaja</a></li>
                    <li><a href="#">Kustuta kasutaja</a></li>
                    <li><a href="#student-exam-info">Vaata eksamite infot</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Uus nimi</td>
            <td>Uus perekonnanimi</td>
            <td>Eksamineeritav</td>
            <td>
                <ul class="nav nav-pills">
                    <li><a href="#" class="">Muuda kasutaja</a></li>
                    <li><a href="#">Kustuta kasutaja</a></li>
                    <li><a href="#new-student-exam-info">Vaata eksamite infot</a></li>
                </ul>
            </td>
        </tr>
    </table>
</section>
