  <section class="content" id="user-admin">
    <div class="pagename">
      <h1><a href="#user-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Mait Metsanurk </h1>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active" ><a href="#admina" data-toggle="tab">Isikuandmed</a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="admina">
          <form class="form-horizontal">
            <fieldset>

              <!-- Text input-->

              <div class="control-group">
                <label class="control-label" for="textinput">Isikukood</label>
                <div class="controls">
                  <a href="#" class="editableinline" id="new_forename" data-type="text" data-name="forename" data-original-title="Muuda">1234567890</a>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="textinput">Nimi</label>
                <div class="controls">
                  <a href="#" class="editableinline" id="A1" data-type="text" data-name="forename" data-original-title="Muuda">Mait</a> &nbsp; <a href="#" class="editableinline" id="A2" data-type="text" data-name="forename" data-original-title="Muuda">Metsanurk</a>
                </div>
              </div>

              <!-- Text input-->


              <div class="control-group">
                <label class="control-label" for="selectbasic">Roll</label>
                <div class="controls">
                  <select id="selectbasicDisable" name="selectbasic" class="selectpicker show-tick">
                    <option value="1">Administraator</option>
                    <option>Advokatuuri kantselei töötaja</option>
                    <option>Kutsesobivuskomisjoni liige</option>
                    <option>Eksamineeritav</option>
                  </select>
                </div>
              </div>

              
              <!-- Multiple Checkboxes (inline) -->
              <div class="control-group">
                <label class="control-label" for="selectbasic">Aktiivne</label>
                <div class="controls">
                  <div class="make-switch" data-on="primary" data-on-label="Jah" data-off-label="Ei">
                    <input type="checkbox" checked>
                  </div>
                </div>
              </div>

              <hr>

              <!-- Button (Double) -->
              <div class="form-actions" style="background: none; border: none;">
                <a href="#user-list" name="button1id" class="btn btn-default">Katkesta</a>
                <a href="#" name="" class="btn btn-default">Kustuta kasutaja</a>
                <a href="#user-list-added-user" name="button2id" class="btn btn-primary">Salvesta muudatused</a>
              </div>

            </fieldset>
          </form>
        </div>
        
                </div> <!-- end tab content -->
              </div> <!-- end tab -->



            </section>

    <!--         <div class="control-group pull-right">

          <div class="controls">
            <a id="singlebutton" href="#student-exam-info" name="singlebutton" type="button" class="btn btn-default">Tagasi</a>
            <a id="singlebutton" href="#exam-result" name="singlebutton" type="button" class="btn btn-primary">Sisesta eksami tulemus</a>
          </div>
        </div> -->
