<section id="change-user">

    <ul class="breadcrumbs clearfix">
        <li><a href="#user-list">Kasutajad</a> <span class="divider">/</span></li>
        <li class="active">Kasutaja muutmine</li>
    </ul>
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Kasutaja muutmine</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Nimi</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" value="Aadu" class="input-xlarge">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Perekonnanimi</label>
                <div class="controls">
                    <input id="text1" name="textinput" type="text" value="Aaas" class="input-xlarge">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Isikukood</label>
                <div class="controls">
                    <input id="text2" name="textinput" type="text" value="38110119792" class="input-xlarge">
                </div>
            </div>

            <!-- Multiple Radios -->
<!--             <div class="control-group">
                <label class="control-label" for="radios">Roll</label>
                <div class="controls">
                    <label class="radio" for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="Eksamineeritav" checked="checked">
                        Eksamineeritav
                    </label>
                    <label class="radio" for="radios-1">
                        <input type="radio" name="radios" id="radios-1" checked value="Advokatuuri kantselei töötaja">
                        Advokatuuri kantselei töötaja
                    </label>
                    <label class="radio" for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="Kutsesobivuskomisjoni liige">
                        Kutsesobivuskomisjoni liige
                    </label>
                    <label class="radio" for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="Administraator">
                        Administraator
                    </label>
                </div>
            </div> -->

            <div class="control-group">
                <label class="control-label" for="selectbasic">Roll</label>
                <div class="controls">
                    <select id="selectbasicDisable" name="selectbasic" class="selectpicker show-tick">
                        <option>Eksamineeritav</option>
                        <option>Advokatuuri kantselei töötaja</option>
                        <option>Kutsesobivuskomisjoni liige</option>
                        <option>Administraator</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="selectbasic1">Eksami liik</label>
                <div class="controls">
                    <select id="selectbasicDisable1" name="selectbasic1" class="selectpicker show-tick">
                        <option>Vandeadvokaadi abi eksam</option>
                        <option>Vandeadvokaadi eksam</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDecisionDate">Juhatuse otsuse kuupäev</label>
                <div class="controls">
                   <div class="input-append date" id="dp3" data-date="08.10.2013" data-date-format="dd.mm.yyyy">
                        <input class="input-xlarge" size="16" type="text" value="08.10.2013">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="selectbasic">Aktiivne</label>
                <div class="controls">
                    <div class="make-switch" data-on="primary" data-on-label="Jah" data-off-label="Ei">
                        <input type="checkbox" checked>
                    </div>
                </div>
            </div>

            <hr>

        <!-- Button (Double) -->
            <div class="control-group">
                <div class="controls">
                    <a href="#user-list" name="button1id" class="btn btn-default">Katkesta</a>
                    <a href="#user-list" name="button2id" class="btn btn-primary">Muuda</a>
                </div>
            </div>

    </fieldset>
</form>
</section>
