<div class="control-group">
    <label class="control-label">Kutsesobivuskomisjoni otsuse nr</label>
    <div class="controls">
        <span>1</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Kutsesobivuskomisjoni koosseis</label>
    <div class="controls">
        <ul class="unstyled span2">
            <li>Aadu Luberg</li>
            <li>Mari-Ann Simovart</li>
            <li>Erki Vabamets</li>
            <li>Marko Aavik</li>
            <li>Jaan Naaber</li>
        </ul>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Eksamineeritava ees- ja perekonnanimi</label>
    <div class="controls">
        <span>Aadu Aas</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Eksami liik</label>
    <div class="controls">
        <span>Vandeadvokaadi eksam</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Valdkond</label>
    <div class="controls">
        <span>Eraõigus ja tsiviilkohtumenetlus</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Kirjaliku testi tulemus</label>
    <div class="controls">
        <span>70%</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Kirjaliku kaasuse tulemus</label>
    <div class="controls">
        <span>80%</span>
    </div>
</div>
