<section id="oral-exams">
    <div class="pagename">
        <h1>Suuliste eksamite nimekiri</h1>
    </div>
    <div class="span12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Aeg ja koht</th>
                    <th>Komisjoni koosseis</th>
                    <th>Eksamineeritavad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#oral-exam-edit">15.01.2014&nbsp;09:00<br/>Rävala pst. 3 Ruum 2&nbsp;<i class="glyphicon glyphicon-pencil"></i></a></td>
                    <td>Aadu Luberg, Mari-Ann Simovart, Erki Vabamets, Marko Aavik, Jaan Naaber</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
                <tr>
                    <td>14.01.2014&nbsp;09:00</td>
                    <td>Adu Luberg, Mari-Ann Simovart, Jüri Mägi</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
                <tr>
                    <td>14.01.2014&nbsp;09:00</td>
                    <td>Adu Luberg, Mari-Ann Simovart, Mart Tamm, Jüri Mägi</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
                <tr>
                    <td>15.07.2013&nbsp;09:00</td>
                    <td>Adu Luberg, Mari-Ann Simovart, Mart Tamm, Jüri Mägi</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
                <tr>
                    <td>14.07.2013&nbsp;09:00</td>
                    <td>Adu Luberg, Mari-Ann Simovart, Mart Tamm, Jüri Mägi</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
                <tr>
                    <td>14.07.2013&nbsp;09:00</td>
                    <td>Adu Luberg, Mari-Ann Simovart, Mart Tamm, Jüri Mägi</td>
                    <td><a href="#oral-exam">Nimekiri</a></td>
                </tr>
            </tbody>
        </table>
        <p>
            <small>Kokku: 6 kirjet</small>
        </p>
    </div>
</section>
