<section id="oral-change-gen-exam">

	           

<!--	<ul class="nav nav-pills">
		<li><a href="#exam-test-list">Eksamite nimekiri</a></li>
		<li class="active"><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
	</ul>-->

	<!---<ul class="breadcrumbs clearfix">
		<li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li><a href="#exam-test-list">Kirjalikud eksamid</a> <span class="divider">/</span></li>
		<li>Eksam 12.02.2012</li>
	</ul>-->
        
        <div class="pagename">
            <h1>Eksam 12.02.2012</h1>
		</div>

        <div class="well clearfix">
          <h4 class="wellhead">Järjekord on genereeritud.</h4>
          <!--<div id="nav-wizard">
              <ul class="nav-wizard">
                <li class="completed"><a href="">Registreerimine</a></li>
                <li class="completed"><a href="">Kirjalik eksam</a></li>
                <li class="active"><a href="">Suuline eksam</a></li>
                <li><a href="#oral-finish-exam">Eksam on lõppenud</a></li>
              </ul>
         </div>-->
        <div class="row">
            <div class="span4">
                <h4>Registreerimine</h4>
                <hr class="closer">

                <p>02.10.2013 - 02.12.2013</p>
                <p><small>Vandeadvokaadi: </small>20</p>
                <p><small>Vandeadvokaadi abi: </small>25</p>
                <p><small>Vabu kohti: </small>15</p>
            </div>
            <div class="span4">
                <h4>Kirjalik eksam</h4>
                <hr class="closer">

                <p><small>Kaasus esitatud: </small>25</p>
                <p><small>Test sooritamata: </small>15</p>
                <p><small>Testile mitteilmunud: </small>1</p>
                <p><small>Testilt kõrvaldatud: </small>1</p>
                <p><small>Kaasusele mitteilmunud: </small>1</p>
                <p><small>Kaasuselt kõrvaldatud: </small>0</p>
            </div>
            <div class="span4">
                <h4>Suuline eksam</h4>
                <hr class="closer">

                <p><small>Kohti: </small>45</p>
                <p><small>Vandeadvokaadi sooritanud: </small>-/20</p>
                <p><small>Vandeadvokaadi abi sooritanud: </small>-/25</p>
                <p><small>Otsus koostamata: </small>45</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Eksamineeritavad</h4>
        <hr />
                    <div class="tabbable">
                      <ul class="nav nav-pills">
                        <li class="active"><a href="#koik4" data-toggle="tab">Kõik</a></li>
                        <li><a href="#kohad4" data-toggle="tab">Toimumiskohad</a></li>
                      </ul>
                      <div class="tab-content">
                          <div id="koik4" class="tab-pane active">
                              <form class="form-inline">
                                <fieldset>
                                  <div class="well">
                                    <span class="inline-group">
                                      <label for="textinput1">Nimi</label>
                                      <input id="text1" name="textinput1" type="text" >
                                    </span>
                                    <span class="inline-group">
                                      <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                                        <option>Eksami liik valimata</option>
                                        <option>Vandeadvokaadi eksam</option>
                                        <option>Vandeadvokaadi abi eksam</option>
                                      </select>
                                    </span>
                                    <span class="inline-group">
                                      <select id="select1" name="select1" class="selectpicker show-tick">
                                        <option>Staatus valimata</option>
                                        <option>Testile mitteilmunud</option>
                                        <option>Testi lahendamiselt kõrvaldatud</option>
                                        <option>Kaasus esitatud</option>
                                        <option>Kaasusele mitteilmunud</option>
                                        <option>Kaasuse lahendamiselt kõrvaldatud</option>
                                        <option>Suulisele eksamile mitte ilmunud</option>
                                        <option>Eksam sooritamata</option>
                                        <option>Eksam sooritatud</option>
                                      </select>
                                    </span>
                                    <span class="inline-group pull-right">
                                        <a class="btn" href="#oral-change-gen-exam">Tühjenda</a>
                                        <a class="btn btn-primary" href="#oral-change-gen-exam">Otsi</a>
                                    </span>
                                  </div>
                                  <div class="row">
                                      <small>Kokku eksamineeritavaid 4</small>
                                  </div>
                                </fieldset>
                              </form>
                              <table class="table sortable">
            					<thead>
                                    <tr class="sort">
                                        <th>Eesnimi</th>
                                        <th>Perekonnanimi</th>
                                        <th>Eksami liik</th>
                                        <th>Toimumisaeg</th>
                                        <th>Toimumiskoht</th>
                                        <th>Staatus</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Aadu</td>
                                        <td>Aas</td>
                                        <td>Vandeadvokaadi abi eksam</td>
                                        <td>12.02.2012 10:00</td>
                                        <td>IT Kolledž, Mäealuse 4c Tallinn ruum 101</td>
                                        <td>Kaasus esitatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                        
                                    </tr>
                                    <tr class="inactive">
                                        <td>Peeter</td>
                                        <td>Pakiraam</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>15.02.2012 12:00</td>
                                        <td>Rävala pst 3 Tallinn, 4. korrus ruum 202</td>
                                        <td>Eksam sooritatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users-finish"></a></span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Mari</td>
                                        <td>Maasikas</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>14.02.2012 13:00</td>
                                        <td>Rävala pst 3 Tallinn, 4. korrus ruum 202</td>
                                        <td>Kaasus esitatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Mait</td>
                                        <td>Metsanurk</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>12.02.2012 10:00</td>
                                        <td>IT Kolledž, Mäealuse 4c Tallinn ruum 101</td>
                                        <td>Testile mitteilmunud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                        
                                    </tr>
                                </tbody>
            				</table>
                          </div>
                          <div id="kohad4" class="tab-pane">
                           
                                              <div class="span12">
                                               <table class="table sortable draggable">
                                                  <thead>
                                                    <tr class="sort">
                                                      <th></th>
                                                      <th>Eesnimi</th>
                                                      <th>Perekonnanimi</th>
                                                      <th>Eksami liik</th>
                                                      <th>Staatus</th>
                                                      <th></th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                <tr class="js-fixed">
                                                  <td colspan="7"><b>12.02.2012 / ruum 101 / IT Kolledz, Mäealuse 4, Tallinn</b></td>
                                              </tr>
                                              <tr>
                                                <td class="narrow handler"><span class="icon-button"><i class="icon-move"></i></span></td>
                                                <td>Aadu</td>
                                                <td>Aas</td>
                                                <td>Vandeadvokaadi abi eksam</td>
                                                <td>Kaasus esitatud</td>
                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                            </tr>
                                              <tr>
                                                <td class="narrow handler"><span class="icon-button"><i class="icon-move"></i></span></td>
                                                <td>Mait</td>
                                                <td>Metsanurk</td>
                                                <td>Vandeadvokaadi eksam</td>
                                                <td>Testile mitteilmunud</td>
                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                            </tr>
                                              
                                            
                                            <tr class="js-fixed">
                                              <td colspan="7" ><b>13.02.2012 / ruum 302 / Rävala pst 3, Tallinn</b></td>
                                          </tr>
                                            <tr>
                                                <td class="narrow handler"><span class="icon-button"><i class="icon-move"></i></span></td>
                                                <td>Mari</td>
                                                <td>Maasikas</td>
                                                <td>Vandeadvokaadi eksam</td>
                                                <td>Kaasus esitatud</td>
                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users"></a></span></td>
                                            </tr>
                                            <tr class="muted">
                                                <td class="narrow handler"><span class="icon-button"><i class="icon-move"></i></span></td>
                                                <td>Peeter</td>
                                                <td>Pakiraam</td>
                                                <td>Vandeadvokaadi eksam</td>
                                                <td>Eksam sooritatud</td>
                                                <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="#users-finish"></a></span></td>
                                            </tr>
                                            <tr class="js-fixed">
                                              <td colspan="7" ><b>15.02.2012 / ruum 302 / Rävala pst 3, Tallinn</b></td>
                                          </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                      </div>
                    </div>
            
    </div>
</section>
