<section id="oral-exam">
    
     <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="#oral-exam-list">Suuline eksam</a></li>
            </ul>
        </div>
    </div>


    <!--Breadcrumbs -->
    <ul class="breadcrumb">
        <li><a href="#oral-exam-list">Eksamite nimekiri</a> <span class="divider">/</span></li>
        <li>15.01.2014 eksamineeritavad</li>
    </ul>

    <div class="span12">
        <p><a href="#oral-exam-edit">Suuline eksam 15.01.2014&nbsp;09:00&nbsp;<i class="glyphicon glyphicon-pencil"></i></a></p>
        <p><b>Toimumiskoht:</b> Rävala pst. 3 Ruum 2</p>
        <p><b>Komision 1:</b> Aadu Luberg, Mari-Ann Simovart, Erki Vabamets, Marko Aavik, Jaan Naaber</p>
        <div>
            <b>Eksamineeritavad:</b>
            <ul class="unstyled">
                <li><a href="#user-exam">Tuuli Päike</a></li>
                <li><a href="#user-exam">Tea Klaas</a></li>
                <li><a href="#user-exam">Joonas Tikerpäe</a></li>
                <li><a href="#user-exam">Mailiis Tuul</a></li>
                <li><a href="#user-exam">Mari Murakas</a></li>
                <li><a href="#user-exam">Juhan Kask</a></li>
                <li><a href="#user-exam">Krõõt Soosaar</a></li>
                <li><a href="#user-exam">Kaisa Seinakas</a></li>
                <li><a href="#user-exam">Ilona Punane</a></li>
                <li><a href="#user-exam">Hannes Tuline</a></li>
                <li><a href="#user-exam">Tanel Mehine</a></li>
            </ul>
        </div>
        <p><a href="csv/Eksamineeritavad.csv">Genereeri CSV</a></p>
    </div>
</section>
