<section id="oral-finish-exam">
<!--	<ul class="nav nav-pills">
		<li><a href="#exam-test-list">Eksamite nimekiri</a></li>
		<li class="active"><a href="#examinant-statistics">Eksamineeritavate statistika</a></li>
	</ul>-->

	<!---<ul class="breadcrumbs clearfix">
		<li><a href="#exam-test-list">Eksamid</a> <span class="divider">/</span></li>
        <li><a href="#exam-test-list">Kirjalikud eksamid</a> <span class="divider">/</span></li>
		<li>Eksam 12.02.2012</li>
	</ul>-->
        
        <div class="pagename">
            <h1><a href="#oral-exam-list" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Eksam 12.02.2012</h1>
		</div>

        <div class="well clearfix">
          <h4 class="wellhead">Eksam on lõppenud.</h4>
          <div id="nav-wizard">
              <ul class="nav-wizard">
                <li class="completed"><a href="">Registreerimine</a></li>
                <li class="completed"><a href="">Kirjalik eksam</a></li>
                <li class="completed"><a href="#oral-change-gen-exam">Suuline eksam</a></li>
                <li class="active"><a href="#exam-finish-exam">Eksam on lõppenud</a></li>
              </ul>
         </div>
        <div class="row">
            <div class="span6">
                <h4>Kirjalik eksam</h4>
                <hr class="closer">

                <p><small>Kuupäev: </small>12.02.2012</p>
                <p><small>Kellaaeg: </small>10:00</p>
                <p><small>Sooritanud: </small>25</p>
                <p><small>Sooritamata: </small>15</p>
            </div>
            <div class="span4">
                <h4>Suuline eksam</h4>
                <hr class="closer">

                <p>13.02.2012 <small>kohti: </small>20</p>
                <p>14.02.2012 <small>kohti: </small>20</p>
                <p><small>Sooritatud: </small>25</p>
                <p><small>Sooritamata: </small>15</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            
            <li class="active"><a href="#p2d" data-toggle="tab">Eksamineeritavad</a></li>
          </ul>
          <div class="tab-content">
             
            
            <div id="p2d" class="tab-pane active">
                    <div class="tabbable">
                      <ul class="nav nav-pills">
                        <li class="active"><a href="#koik14" data-toggle="tab">Kõik</a></li>
                        <li><a href="#kohad14" data-toggle="tab">Toimumiskohad</a></li>
                      </ul>
                      <div class="tab-content">
                          <div id="koik14" class="tab-pane active">
                              <form class="form-inline">
                                <fieldset>
                                  <div class="well">
                                    <span class="inline-group">
                                      <label for="textinput1">Nimi</label>
                                      <input id="text1" name="textinput1" type="text" >
                                    </span>
                                    <span class="inline-group">
                                      <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                                        <option>Eksami liik valimata</option>
                                        <option>Vandeadvokaadi eksam</option>
                                        <option>Vandeadvokaadi abi eksam</option>
                                      </select>
                                    </span>
                                    <span class="inline-group">
                                      <select id="select1" name="select1" class="selectpicker show-tick">
                                        <option>Staatus valimata</option>
                                        <option>Testile mitteilmunud</option>
                                        <option>Testi lahendamiselt kõrvaldatud</option>
                                        <option>Kaasus esitatud</option>
                                        <option>Kaasusele mitteilmunud</option>
                                        <option>Kaasuse lahendamiselt kõrvaldatud</option>
                                        <option>Suulisele eksamile mitte ilmunud</option>
                                        <option>Eksam sooritamata</option>
                                        <option>Eksam sooritatud</option>
                                      </select>
                                    </span>
                                    <span class="inline-group pull-right">
                                        <a class="btn" href="#oral-change-gen-exam">Tühjenda</a>
                                        <a class="btn btn-primary" href="#oral-change-gen-exam">Otsi</a>
                                    </span>
                                  </div>
                                  <div class="row">
                                      <small>Kokku eksamineeritavaid 4</small>
                                  </div>
                                </fieldset>
                              </form>
                              <table class="table sortable">
            					<thead>
                                    <tr class="sort">
                                        <th>Eesnimi</th>
                                        <th>Perekonnanimi</th>
                                        <th>Eksami liik</th>
                                        <th>Toimumisaeg</th>
                                        <th>Toimumiskoht</th>
                                        <th>Staatus</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Aadu</td>
                                        <td>Aas</td>
                                        <td>Vandeadvokaadi abi eksam</td>
                                        <td>13.02.2012 10:00</td>
                                        <td>IT Kolledž, Mäealuse 4c Tallinn ruum 202</td>
                                        <td>Eksam sooritatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Peeter</td>
                                        <td>Pakiraam</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>15.02.2012 12:00</td>
                                        <td>Rävala pst 3 Tallinn, 4. korrus ruum 202</td>
                                        <td>Eksam sooritatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mari</td>
                                        <td>Maasikas</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>14.02.2012 13:00</td>
                                        <td>Rävala pst 3 Tallinn, 4. korrus ruum 202</td>
                                        <td>Eksam sooritatud</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mait</td>
                                        <td>Metsanurk</td>
                                        <td>Vandeadvokaadi eksam</td>
                                        <td>14.02.2012 13:00</td>
                                        <td>Rävala pst 3 Tallinn, 4. korrus ruum 202</td>
                                        <td>Eksam sooritamata</td>
                                        <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                        <td class="narrow">
                                                <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                        </td>
                                    </tr>
                                </tbody>
            				</table>
                          </div>
                          <div id="kohad14" class="tab-pane">
                            <div class="accordion">
            			        <div class="accordion-heading">
            				        <a class="accordion-toggle" data-toggle="collapse" href="#oral21">13.02.2012 / ruum 202 / IT Kolledž, Mäealuse 4c Tallinn</a>
            			        </div>
            			        <div id="oral21" class="accordion-body collapse">
            				        <div class="accordion-inner">
            					        <table class="table sortable">
            						        <thead>
                                                <tr class="sort">
                                                    <th>Eesnimi</th>
                                                    <th>Perekonnanimi</th>
                                                    <th>Eksami liik</th>
                                                    <th>Staatus</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Mait</td>
                                                    <td>Metsanurk</td>
                                                    <td>Vandeadvokaadi abi eksam</td>
                                                    <td>Eksam sooritamata</td>
                                                    <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                                    <td class="narrow">
                                                            <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
            					        </table>
            				        </div>
            			        </div>
                                <div class="accordion-heading">
            				        <a class="accordion-toggle" data-toggle="collapse" href="#oral22">13.02.2012 / ruum 203 / IT Kolledž, Mäealuse 4c Tallinn</a>
            			        </div>
            			        <div id="oral22" class="accordion-body collapse">
            				        <div class="accordion-inner">
            					        <table class="table sortable">
            						        <thead>
                                                <tr class="sort">
                                                    <th>Eesnimi</th>
                                                    <th>Perekonnanimi</th>
                                                    <th>Eksami liik</th>
                                                    <th>Staatus</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Aadu</td>
                                                    <td>Aas</td>
                                                    <td>Vandeadvokaadi abi eksam</td>
                                                    <td>Eksam sooritatud</td>
                                                    <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                                    <td class="narrow">
                                                            <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
            					        </table>
            				        </div>
            			        </div>
                                <div class="accordion-heading">
            				        <a class="accordion-toggle" data-toggle="collapse" href="#oral23">13.02.2012 / ruum 204 / Rävala pst 3 Tallinn, 4. korrus</a>
            			        </div>
            			        <div id="oral23" class="accordion-body collapse">
            				        <div class="accordion-inner">
            					        <table class="table sortable">
            						        <thead>
                                                <tr class="sort">
                                                    <th>Eesnimi</th>
                                                    <th>Perekonnanimi</th>
                                                    <th>Eksami liik</th>
                                                    <th>Staatus</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                                
                                                </tr>
                                            </tbody>
            					        </table>
            				        </div>
            			        </div>
            			        <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#oral24">14.02.2012 / ruum 202 / Rävala pst 3 Tallinn, 4. korrus</a>
            			        </div>
            			        <div id="oral24" class="accordion-body collapse">
            				        <div class="accordion-inner">
            					        <table class="table sortable">
                                            <thead>
                                                <tr class="sort">
                                                    <th>Eesnimi</th>
                                                    <th>Perekonnanimi</th>
                                                    <th>Eksami liik</th>
                                                    <th>Staatus</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Mari</td>
                                                    <td>Maasikas</td>
                                                    <td>Vandeadvokaadi eksam</td>
                                                    <td>Eksam sooritatud</td>
                                                    <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                                    <td class="narrow">
                                                            <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
            					        </table>
            				        </div>
            			        </div>
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#oral25">15.02.2012 / ruum 202 / Rävala pst 3 Tallinn, 4. korrus</a>
            			        </div>
            			        <div id="oral25" class="accordion-body collapse">
            				        <div class="accordion-inner">
            					        <table class="table sortable">
                                            <thead>
                                                <tr class="sort">
                                                    <th>Eesnimi</th>
                                                    <th>Perekonnanimi</th>
                                                    <th>Eksami liik</th>
                                                    <th>Staatus</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Peeter</td>
                                                    <td>Pakiraam</td>
                                                    <td>Vandeadvokaadi eksam</td>
                                                    <td>Eksam sooritatud</td>
                                                    <td class="narrow"><span class="icon-button"><a class="icon-chevron-right" href="../administrator_index.html#exam-answeres"></a></span></td>
                                                    <td class="narrow">
                                                            <span class="icon-button"><a class="tip icon-remove" href="#" onclick="hideOnPage($(this).parent().parent().parent()); return false;" data-toggle="tooltip" title="Kustuta"></a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
            					        </table>
            				        </div>
            			        </div>
            	            </div>
                          </div>
                      </div>
                    </div>
            </div>
            
          </div>
        </div>
    </div>
</section>
