

  <section class="content" id="users">
    <div class="pagename">
      <h1><a href="#oral-change-gen-exam" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Aadu Aas </h1>
    </div>


    <div class="well clearfix" style="margin-bottom: 30px;">
      <h4 class="wellhead">Vandeadvokaadi abi eksam 02.01.2014</h4>
      <div id="nav-wizard">
        <ul class='nav-wizard'>
          <li class="completed"><a href='#step1' data-toggle="tab">Testi tulemus</a></li> 
          <li class="completed"><a href='#step2' data-toggle="tab">Kaasusülesande tulemus</a></li> 
          <li class="active"><a>Suulise eksami tulemus</a></li> 
          <li><a>Eksamikomisjoni otsus</a></li> 
        </ul>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Kirjalik eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.01.2014</p>
          <p><small>Valdkond: </small>Eraõigus ja tsiviilkohtumenetlus</p>
          <p><small>Testi tulemus:</small> 75% arvestatud</p>
          <p><small>Kaasuse tulemus:</small> 9</p>
        </div>
        <div class="span4">
          <h4>Suuline eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.02.2014</p>
          <p><small>Tulemus:</small> -</p>
        </div>
        <div class="span4">
          <h4>Otsus</h4>
          <hr class="closer">
          <p><small>Kuupäev:</small> -</p>
          <p><small>Otsuse nr:</small> -</p>
          <p><small>Isikusobivus:</small> -</p>
          <p><small>Eksamikomisjoni otsus:</small> -</p>
        </div>
      </div>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        
        
        
        <li class="active"><a href="#2" data-toggle="tab">Kaasusülesande lahendus</a></li>
        <li><a href="#3" data-toggle="tab">Otsus</a></li>
        
      </ul>


      <div class="tab-content">
        
    <div class="tab-pane active" id="2">
      <div class="row">
        <div class="label simple pull-right">
          <span>Kaasusülesande lahenduse hinne:</span>
          <a href="#" class="kaasus" id="A3" data-type="select" data-emptytext="Vali tulemus" data-value="1" data-name="outcome" ></a>
        </div>
      </div><br />
      <div class="span4">
        <p class="pull-right">45/50</p>
        <h4>Test</h4>
        <div class="pull-right">
          <table class="table">
            <tr>
              <th>eraõigus ja<br />
                tsiviilkohtumenetlus</th>
                <td>14</td>
              </tr>
              <tr>
                <th>riigi põhikord, avalik õigus ja<br />
                  halduskohtumenetlus</th>
                  <td>13</td>
                </tr>
                <tr>
                  <th>karistusõigus ja<br />
                    kriminaalmenetlus</th>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th>Advokatuur</th>
                    <td>3</td>
                  </tr>
                </table>
              </div>
              <h4>Kaasuse kommentaarid</h4>
              <div class="accordion" id="comment-accordion">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse1">Aadu Luberg, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse1" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Kutsesobivuskomisjoni liikme kommentaar

                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse2">Mari-Ann Simovart, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse2" class="accordion-body collapse">
                    <div class="accordion-inner">
                      Kutsesobivuskomisjoni liikme kommentaar 2
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse3">Lisa oma kommentaar
                    </a>
                  </div>
                  <div id="comment-accordion-collapse3" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <textarea rows="6"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-primary" data-toggle="button">Salvesta</button>
              </div>
            </div>
            <div class="span8">
              <div class="row">
                <div class="span8">
                  <div class="accordion" id="case-accordion">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseOne">Kaasusülesanne eraõiguse ja tsiviilkohtumenetluse valdkonnas</a>
                      </div>
                      <div id="case-accordion-collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla. </p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p>Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque.  </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseTwo">Kaasuse näidislahendus</a>
                      </div>
                      <div id="case-accordion-collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.</p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p> Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. </p>
                        </div> <!-- end accordion inner -->
                      </div> <!-- end accordion-body collapse -->
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion" href="#case-accordion-collapseThree">Aadu Aas kaasusülesande lahendus</a>
                      </div>
                      <div id="case-accordion-collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.

                          </p>
                          <p>
                            Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.

                          </p>
                          <p>
                            Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.

                          </p>
                          <p>
                            Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.

                          </p>
                          <p>
                            Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. 

                          </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                  </div> <!-- end accordion -->
                </div>
              </div>
            </div>
          </div>
          <!-- end tab pane 3 -->
          <div class="tab-pane" id="3">
            <div class="row">
              <form class="form-horizontal">
                <fieldset>
                      <span class="icon-button pull-right"><a class="icon-print printbutton" href="" onclick="window.print()"> Prindi</a></span>
                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="selectDate">Kuupäev</label>
                    <div class="controls">
                      <a href="#" class="editableinline" id="selectDate5" data-type="date" data-name="kp" data-original-title="Muuda">08.10.2013</a>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Kutsesobivuskomisjoni koosseis</label>
                    <div class="controls">
                     <a href="#" class="committee" data-type="checklist" data-value="1,3,4,6,8" data-original-title="Vali liikmed"></a>
                   </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Eksami liik</label>
                  <div class="controls">
                    <span>Vandeadvokaadi eksam</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Valdkond</label>
                  <div class="controls">
                    <span>Eraõigus ja tsiviilkohtumenetlus</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Testi tulemus</label>
                  <div class="controls">
                    <span>75%</span>
                  </div>
                </div>
                        <!--<div class="control-group">
                            <label class="control-label">Kaasuse tulemus</label>
                            <div class="controls">
                                <span>80%</span>
                            </div>
                          </div>-->
                          <div class="control-group">
                            <label class="control-label" for="selectCaseGrade">Kaasusülesande lahenduse hinne</label>
                            <div class="controls">
                              <select name="selectCaseGrade" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectOralGrade">Suulise eksami hinne</label>
                            <div class="controls">
                              <select id="selectOralGrade" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>Mitte ilmunud</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectSuitability">Isikusobivus</label>
                            <div class="controls">
                              <select id="selectSuitability" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>Sobiv</option>
                                <option>Mittesobiv</option>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectDecision">Eksami sooritamise otsus</label>
                            <div class="controls">
                              <select id="selectDecision" class="selectpicker show-tick">
                                <option>Vali</option>
                                <option>Sooritatud</option>
                                <option>Mittesooritatud</option>
                              </select>
                            </div>
                          </div>
                          <hr />


                          <!-- Button (Double) -->
                          <div class="form-actions" style="background: none; border: none;">
                            <a href="#users" name="" class="btn btn-default">Katkesta</a>
                            <a href="#users-finish" name="" class="btn btn-primary">Koosta otsus</a>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div> <!-- end tab pane 4 -->
                  
                </div> <!-- end tab content -->
              </div> <!-- end tab -->
                


            </section>

    <!--         <div class="control-group pull-right">

          <div class="controls">
            <a id="singlebutton" href="#student-exam-info" name="singlebutton" type="button" class="btn btn-default">Tagasi</a>
            <a id="singlebutton" href="#exam-result" name="singlebutton" type="button" class="btn btn-primary">Sisesta eksami tulemus</a>
          </div>
        </div> -->
