

  <section class="content" id="users-finish">
    <div class="pagename">
      <h1><a href="#oral-change-gen-exam" class="tip icon-angle-left" data-toggle="tooltip"  data-original-title="Tagasi"></a>    Aadu Aas </h1>
    </div>


    <div class="well clearfix" style="margin-bottom: 30px;">
      <h4 class="wellhead">Vandeadvokaadi abi eksam 02.01.2014</h4>
      <div id="nav-wizard">
        <ul class="nav-wizard">
          <li class="completed"><a href='#step1' data-toggle="tab">Testi tulemus</a></li> 
          <li  class="completed"><a href='#step2' data-toggle="tab">Kaasusülesande tulemus</a></li> 
          <li class="completed"><a>Suulise eksami tulemus</a></li> 
          <li class="active"><a>Eksamikomisjoni otsus</a></li> 
        </ul>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Kirjalik eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.01.2014</p>
          <p><small>Valdkond: </small>Eraõigus ja tsiviilkohtumenetlus</p>
          <p><small>Testi tulemus:</small> 75% arvestatud</p>
          <p><small>Kaasuse tulemus:</small> 9</p>
        </div>
        <div class="span4">
          <h4>Suuline eksam</h4>
          <hr class="closer">
          <p><small>Toimumise kuupäev:</small> 02.02.2014</p>
          <p><small>Tulemus:</small> 9</p>
        </div>
        <div class="span4">
          <h4>Otsus</h4>
          <hr class="closer">
          <p><small>Kuupäev:</small> 02.02.2014</p>
          <p><small>Otsuse nr:</small> 12</p>
          <p><small>Isikusobivus:</small> Sobib</p>
          <p><small>Eksamikomisjoni otsus:</small> Sooritatud</p>
        </div>
      </div>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        
        
        
        <li><a href="#4" data-toggle="tab">Kaasusülesande lahendus</a></li>
        <li class="active"><a href="#5" data-toggle="tab">Otsus</a></li>
        <li><a href="#userfinish5" data-toggle="tab">Kõik eksamid</a></li>
      </ul>


      <div class="tab-content">
        
    <div class="tab-pane" id="4">
      <div class="row">
        <div class="label simple pull-right">
          <span>Kaasusülesande lahenduse hinne:</span>
          Arvestatud
        </div>
      </div><br />
      <div class="span4">
        <p class="pull-right">45/50</p>
        <h4>Test</h4>
        <div class="pull-right">
          <table class="table">
            <tr>
              <th>eraõigus ja<br />
                tsiviilkohtumenetlus</th>
                <td>14</td>
              </tr>
              <tr>
                <th>riigi põhikord, avalik õigus ja<br />
                  halduskohtumenetlus</th>
                  <td>13</td>
                </tr>
                <tr>
                  <th>karistusõigus ja<br />
                    kriminaalmenetlus</th>
                    <td>15</td>
                  </tr>
                  <tr>
                    <th>Advokatuur</th>
                    <td>3</td>
                  </tr>
                </table>
              </div>
              <h4>Kaasuse kommentaarid</h4>
              <div class="accordion" id="comment-accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion2" href="#comment-accordion-collapse1One">Aadu Luberg, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse1One" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Kutsesobivuskomisjoni liikme kommentaar

                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion2" href="#comment-accordion-collapse2Two">Mari-Ann Simovart, 02.01.2014 13:30
                    </a>
                  </div>
                  <div id="comment-accordion-collapse2Two" class="accordion-body collapse">
                    <div class="accordion-inner">
                      Kutsesobivuskomisjoni liikme kommentaar 2
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion2" href="#comment-accordion-collapse3Three">Lisa oma kommentaar
                    </a>
                  </div>
                  <div id="comment-accordion-collapse3Three" class="accordion-body collapse">
                    <div class="accordion-inner">
                      Viimati lisatud kutsesobivuskomisjoni liikme kommentaar
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span8">
              <div class="row">
                <div class="span8">
                  <div class="accordion" id="case-accordion2">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion2" href="#case-accordion-collapse1One">Kaasusülesanne eraõiguse ja tsiviilkohtumenetluse valdkonnas</a>
                      </div>
                      <div id="case-accordion-collapse1One" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla. </p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p>Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque.  </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion2" href="#case-accordion-collapse2Two">Kaasuse näidislahendus</a>
                      </div>
                      <div id="case-accordion-collapse2Two" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.</p>
                          <p>Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.</p>
                          <p>Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.</p>
                          <p>Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.</p>
                          <p> Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. </p>
                        </div> <!-- end accordion inner -->
                      </div> <!-- end accordion-body collapse -->
                    </div> <!-- end accordion group -->
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#case-accordion2" href="#case-accordion-collapse3Three">Aadu Aas kaasusülesande lahendus</a>
                      </div>
                      <div id="case-accordion-collapse3Three" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis nisi diam, nec iaculis elit accumsan et. Vivamus rutrum commodo pharetra. Integer blandit mollis ante, eu aliquam diam sagittis eget. Nulla cursus risus at sagittis aliquet. Nunc tincidunt augue sed nisl convallis hendrerit. In elementum et ligula ut porttitor. Integer dapibus mollis metus, nec accumsan enim rhoncus in. Etiam eleifend, sapien vel faucibus congue, nibh augue varius neque, gravida sollicitudin neque urna eu massa.

                          </p>
                          <p>
                            Phasellus ac ligula rutrum, vestibulum mi quis, luctus purus. Aenean at metus quis sem facilisis imperdiet. Vivamus suscipit commodo hendrerit. Nullam hendrerit tortor in sapien egestas, tincidunt fermentum tellus consectetur. Maecenas euismod consequat arcu, hendrerit suscipit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam fermentum augue sed accumsan. Aliquam in nibh vel est blandit dapibus. Integer enim nisl, scelerisque ut tempus sed, malesuada pretium tortor. Sed neque erat, volutpat nec arcu ac, sollicitudin scelerisque sapien. Duis pretium dignissim convallis. Suspendisse luctus, quam vel iaculis volutpat, tortor diam tincidunt orci, vel vehicula metus sem vel nulla.

                          </p>
                          <p>
                            Phasellus faucibus ante a erat fermentum, nec consequat elit fermentum. Aliquam vitae congue est. Quisque ut mi nec eros dapibus accumsan. Integer nisl nibh, sagittis non ante nec, tincidunt adipiscing quam. Etiam eget libero nec urna egestas vestibulum viverra consequat lorem. Vestibulum laoreet ornare urna non bibendum. Suspendisse varius sodales risus vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at molestie orci. Vivamus hendrerit sem a purus ornare laoreet nec sit amet elit. Curabitur sed sagittis augue. In ut sem est. Praesent sodales viverra neque, in consequat leo tincidunt eu.

                          </p>
                          <p>
                            Aliquam magna diam, semper ut nisl eu, commodo tincidunt tellus. Pellentesque rhoncus nisi vestibulum odio pretium varius. Curabitur scelerisque eros eros, semper rhoncus ligula pharetra in. Pellentesque mollis tempus mollis. Nunc accumsan eleifend sem, ac egestas mi ornare eu. Etiam mattis dui vitae tempor varius. Curabitur bibendum felis in ipsum ultricies congue. Nullam tristique dui nec purus tempus vehicula. Nulla facilisi. Sed ullamcorper blandit mattis. Morbi luctus odio non ligula consequat, a facilisis ipsum posuere.

                          </p>
                          <p>
                            Donec vulputate imperdiet diam at vehicula. Nulla facilisi. Duis pellentesque, erat non pulvinar aliquam, turpis elit tempus eros, eget hendrerit nisl ligula id tortor. Morbi bibendum, erat lacinia vulputate facilisis, nisl nisi gravida odio, scelerisque dignissim velit tellus in metus. Sed bibendum augue porttitor nibh porttitor ultricies sed quis odio. Aliquam erat volutpat. Vestibulum interdum magna arcu, sed commodo nibh faucibus a. Donec cursus vestibulum velit a dapibus. Nulla lorem arcu, commodo sit amet blandit non, venenatis ut sapien. Donec venenatis massa eu erat euismod, a varius quam pharetra. Nunc non felis ut velit tempus aliquet at at nunc. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec purus non sapien condimentum vestibulum. Etiam ante urna, auctor a tellus vitae, porta pretium neque. 

                          </p>
                        </div>
                      </div>
                    </div> <!-- end accordion group -->
                  </div> <!-- end accordion -->
                </div>
              </div>
            </div>
          </div>
          <!-- end tab pane 3 -->
          <div class="tab-pane active" id="5">
            <div class="row">
                <span class="icon-button pull-right"><a class="icon-print printbutton" href="#users-finish" onclick="window.print()"> Prindi</a></span>
              <div class="print" style="margin: 0 auto; max-width:700px;padding:30px;">
	                <div class="header-picture" style="text-align:center;">
                        <img src="../../img/image001.jpg" style="width:inherit;height:inherit;"/>
                        <h1 style="margin:0 0 0 0;">EESTI ADVOKATUUR</h1>
                        <hr style="margin:0 0 0 0;" />
                        <h4 style="margin:0 0 0 0;">KUTSESOBIVUSKOMISJON</h4>
                    </div>
	                <p style="text-align:right;margin:20px 0 20px 0;">02. veebruar 2014</p>
	                <p style="margin:10px 0 10px 0;"><strong>OTSUS</strong> nr 12</p>
	                <p style="margin:10px 0 10px 0;"><strong>ADVOKAADIEKSAMI TULEMUSED</strong></p>
	                <p>Eesti Advokatuuri kutsesobivuskomisjon kooseisus:<br />
	                Aadu Luberg, Toomas Taube, Mariann Simovart, Jaan Naaber, Marko Aavik<br />
	                hindas <strong>Aadu Aas</strong> vandeadvokaadi abi eksami tulemusi järgmiselt:</p>
	                <p style="margin:30px 0 0 0;"><strong>1. KIRJALIKU EKSAMI HINNE</strong> (kaasus nr 123) <span style="margin-left:140px;">9</span></p>
                    <p>Eraõigus ja tsiviilkohtumenetlus valdkonnas</p>

                    <p style="margin:10px 0 0 0;"><strong>2. SUULISE EKSAMI HINDED</strong></p>
                    <p>(pilet nr 4 / valdkond Eraõigus ja tsiviilkohtumenetlus)</p>
                    <p>................................................................................ <span style="margin-left:100px;">..................</span></p>
                    <p>................................................................................ <span style="margin-left:100px;">..................</span></p>
                    <p>................................................................................ <span style="margin-left:100px;">..................</span></p>
                    <p>................................................................................ <span style="margin-left:100px;">..................</span></p>
                    <p>................................................................................ <span style="margin-left:100px;">..................</span></p>
	                <p style="margin:10px 0 10px 0;"><strong>3. ADVOKATUURI ASTUJA ISIKUSOBIVUS</strong><span style="margin-left:160px;">Sobiv</span></p>
                    <p>Eksami tulemuste alusel Eesti Advokatuuri kutsesobivuskomisjon, juhindudes advokatuuriseaduse<br /> §-dest 30, 31, 32, 33, 43, Eesti Advokatuuri kodukorra §-dest 54, 56, 57, 58, 59, 60</p>
                    <p style="margin:30px 0 10px 0;"><strong>OTSUSTAB:</strong></p>
                    <p>Tunnistada, et <strong>Aadu Aas</strong> on sooritanud vandeadvokaadi abi eksami.</p>
                    <p style="margin:20px 0 10px 0;">Kutsesobivuskomisjoni liikmete allkirjad:</p>

                </div>
               <!--<form class="form-horizontal">
                <fieldset>
                  
                  <div class="control-group">
                    <label class="control-label" for="selectDate">Kuupäev</label>
                    <div class="controls">
                      08.10.2013
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Kutsesobivuskomisjoni koosseis</label>
                    <div class="controls">
                     <ul style="list-style:none;margin-left:1px;">
                         <li>Aadu Luberg</li>
                         <li>Gunnar Vaikmaa</li>
                         <li>Heli Sepp</li>
                     </ul>
                   </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Eksami liik</label>
                  <div class="controls">
                    <span>Vandeadvokaadi eksam</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Valdkond</label>
                  <div class="controls">
                    <span>Eraõigus ja tsiviilkohtumenetlus</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Testi tulemus</label>
                  <div class="controls">
                    <span>75%</span>
                  </div>
                </div>
                       <div class="control-group">
                            <label class="control-label">Kaasuse tulemus</label>
                            <div class="controls">
                                <span>80%</span>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectCaseGrade">Kaasusülesande lahenduse hinne</label>
                            <div class="controls">
                              <span>7</span>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectOralGrade">Suulise eksami hinne</label>
                            <div class="controls">
                              <span>8</span>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectSuitability">Isikusobivus</label>
                            <div class="controls">
                              <span>Sobiv</span>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="selectDecision">Eksami sooritamise otsus</label>
                            <div class="controls">
                              <span>Sooritatud</span>
                            </div>
                          </div>
                          <span class="icon-button"><a class="icon-print printbutton" href="" onclick="window.print()"> Prindi</a></span>
                          <span class="icon-button"><a class="icon-file printbutton" href=""> PDF</a></span>



                          
                        </fieldset>
                      </form>-->
                
                    </div>
                  </div> <!-- end tab pane 4 -->
                   <div class="tab-pane" id="userfinish5">
                    <form class="form-inline">
                      <fieldset>
                        <div class="well">

                          <span class="inline-group">
                            <select id="selectbasic" name="selectbasic" class="selectpicker show-tick">
                              <option>Vali eksami liik</option>
                              <option>Eksamineeritav</option>
                              <option>Administraator</option>
                              <option>Kutsesobivuskomisjoni liige</option>
                              <option>Advokatuuri kantselei töötaja</option>
                            </select>
                          </span>
                          <span class="inline-group">
                            <select id="select1" name="select1" class="selectpicker show-tick">
                              <option>Vali soorituse staatus</option>
                              <option>Test sooritatud</option>
                              <option>Kaasus esitatud</option>
                              <option>Eksam sooritatud</option>
                            </select>
                          </span>
                          <span class="inline-group">
                            <input type="checkbox" id="" name="exam-second">
                            <label for="xam-second">Korduseksam</label>

                          </span>
                          <span class="pull-right">
                            <a class="btn" href="#">Tühjenda</a>
                            <a class="btn btn-primary" href="#user-list">Filtreeri</a>
                          </span>
                        </div>
                        <div class="row">
                          <div class="span4">
                            <small>Kokku eksameid 4</small>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    <table class="table sortable">
                      <tr>
                        <th>Kirjaliku <br> eksami kuupäev</th>
                        <th>Suulise <br> eksami kuupäev</th>
                        <th>Eksami liik</th>
                        <th>Soorituse staatus</th>
                        <th></th>
                     <tr>
                        <td>02.01.2014</td>
                        <td>02.02.2014</td>
                        <td>Vandeadvokaadi</td>
                        <td>Sooritatud</td>

                        <td>
                          <!--<span class="icon-button"><a class="tip icon-chevron-right" href="#exam-decision" data-toggle="tooltip"  data-original-title="Jätka"></a></span>-->
                          
                        </td>
                      </tr>
                      <tr>
                        <td>20.06.2010</td>
                        <td>27.06.2010</td>
                        <td>Vandeadvokaadi</td>
                        <td>Sooritatud</td>

                        <td>
                          <span class="icon-button"><a class="tip icon-chevron-right" href="#exam-decision" data-toggle="tooltip"  data-original-title="Jätka"></a></span>
                          
                        </td>
                      </tr>

                    </table>

                  </div>
                </div> <!-- end tab content -->
              </div> <!-- end tab -->



            </section>

    <!--         <div class="control-group pull-right">

          <div class="controls">
            <a id="singlebutton" href="#student-exam-info" name="singlebutton" type="button" class="btn btn-default">Tagasi</a>
            <a id="singlebutton" href="#exam-result" name="singlebutton" type="button" class="btn btn-primary">Sisesta eksami tulemus</a>
          </div>
        </div> -->
