    <div id="footer">
      <div class="container">
        <ul class="inline">
            <li class="nav-header"></li>
            <li><a href="comission-index.html">Komisjoni liige</a></li>
            <li class="active"><a href="index.html">Registreerimine</a></li>
            <li><a href="examinant-test.html">Valikvastustega eksam</a></li>
            <li><a href="administrator_index.html">Administraatori vaade</a></li>
        </ul>

      </div>
    </div>

<!-- bootstrap -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap-affix.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.et.js"></script>
<script src="js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<!-- vendor -->
      <script src="js/bootbox.min.js"></script>
      <script src="js/downCount-master/jquery.downCount.js"></script>
      <script src="js/prettyCheckable/prettyCheckable.js"></script>
      <script src="js/onepage-scroll-master/jquery.onepage-scroll.min.js"></script>
      <script src="js/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>
      <script src="js/bootstrap-switch-master/static/js/bootstrap-switch.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<!-- document scripts -->
      <script src="js/advokatuur-angular-rules.js"></script>
      <script src="js/advokatuur-jquery-plugins.js"></script>

  </body>
</html>