    <div id="footer">
      <div class="container">
        <ul class="inline">
            <li ><a href="components.html"><i class="icon-dashboard"></i></a></li>
            <li><a href="comission-index.html">Komisjoni liige</a></li>
            <li><a href="index.html">Registreerimine</a></li>
            <li><a href="examinant-test.html">Valikvastustega eksam</a></li>
            <li><a href="examinant-written-test.html">Kaasuseksam</a></li>
            <li><a href="administrator_index.html">Administraator</a></li>
        </ul>
      </div>
    </div>

<!-- bootstrap -->
<!-- <script src="js/wysihtml5/wysihtml5-0.3.0.min.js"></script> -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap-affix.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.et.js"></script>

<!-- vendor -->
<script src="js/wysihtml5/wysihtml5-0.3.0.min.js"></script>
      <script src="js/bootbox.min.js"></script> <!-- Pretty alerts -->
      <script src="js/downCount-master/jquery.downCount.js"></script> <!-- Can be replaced serverside -->
      <script src="js/prettyCheckable/prettyCheckable.js"></script>  <!-- Not pretty, will be excluded -->
      <script src="js/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>
      <script src="js/bootstrap-switch-master/static/js/bootstrap-switch.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> <!-- Drop with ng tags in build -->
      <script src="js/wysihtml5/bootstrap-wysihtml5.js"></script> 
      <script src="js/widearea-0.3.0/minified/widearea.min.js"></script> <!-- Needs rebuilding -->
      <script src="js/bootstrap-sortable-master/Scripts/bootstrap-sortable.js"></script>
      <script src="js/jquery-sortable-min.js"></script>
      <script src="js/x-editable-master/dist/bootstrap-editable/js/bootstrap-editable.js"></script> <!-- Change to local -->
      <script src="js/mockjax.js"></script> <!-- Fakes ajax request -->
      <script src="js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
      <script src="js/DataTables-1.9.4/media/js/jquery.datatables.paging.js"></script>

<!-- document scripts -->
      <script src="js/advokatuur-angular-rules.js"></script>
      <script src="js/advokatuur-jquery-plugins.js"></script>

  </body>
</html>