<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta charset="utf-8">
    <title>Advokatuur eksamikeskkond</title>
    <meta name="viewport" content="width=997">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="js/prettyCheckable/prettyCheckable.css">
    <link href="css/advokatuur.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="all">
    <link href="js/silviomoreto-bootstrap-select/bootstrap-select.css" rel="stylesheet" media="screen">
    <link href="js/bootstrap-wysihtml5-master/src/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">
    <link href="js/bootstrap-wysiwyg-master/index.css" rel="stylesheet" media="screen">
    <link href="js/widearea-0.3.0/minified/widearea.min.css" rel="stylesheet" media="screen">
    <link href="js/bootstrap-sortable-master/Contents/bootstrap-sortable.css" rel="stylesheet" media="screen">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

 <!-- @reload -->
  </head>
  <body>
    


