
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="navbar-inner">
        <div id="navwrapper">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="javascript:void(0);"> EKSAMIKESKKOND</a>
              </li>
            </ul> 
              <ul class="nav head-nav pull-right">
                <li><a href="#">Eksamineeritav Ants Jürisalu</a></li>
                <li><a class="tip icon-off" href="#" data-toggle="tooltip" data-original-title="Välju" data-placement="bottom"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="header-container" class="header-container clearfix">
      <div class="header-inner">
        <a href="/est/avaleht">
          <img class="logo" src="img/logo3.png" alt="">
        </a>
