<section id="registered">

  <!--<div class="span12 well">
    <h3>Täname!</h3>
    <p>Eksamit saad siinsamas keskkkonnas tühistada <b>kuni xx.xx.xxxx</b>. Kui pärast seda kuupäeva selgub, et Sa ei saa mingil põhjusel tulla, teavita sellest kindlasti Advokatuuri telefonil 662 0665 või meilitsi <a href="mailto:advokatuur@advokatuur.ee">advokatuur@advokatuur.ee</a>. Kui jätad eksamile ilmumata, aga pole seda tühistanud, <b>läheb eksami tulemus kirja mitterahuldavana</b>.</p> 
    <p>Uue eksamiaja saad valida peale eelmise eksami tühistamist.</p>
  </div>-->
  <div class="span12">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Oled registreeritud kirjalikule eksamile</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Eksami liik</label>
          <div class="controls">
            <span class="help-inline" style="line-height: 30px;">Vandeadvokaadi eksam</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textinput">Kaasuse valdkond</label>
          <div class="controls">
            <span class="help-inline" style="line-height: 30px;">Riigi põhikord, avalik õigus ja halduskohtumenetlus</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textinput">Toimumisaeg</label>
          <div class="controls">
            <span class="help-inline" style="line-height: 30px;">30.01.2014 kell 14.00</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textinput">Toimumiskoht</label>
          <div class="controls">
            <span class="help-inline" style="line-height: 30px;">Rävala pst 3, ruum 3</span>
          </div>
        </div>
        <hr />
        <!-- Button -->
        <div class="form-actions" style="background: none; border: none;">
          <button type="button" class="btn" id="js-delete-reg">Tühista</button>
          <button type="submit" class="btn btn-primary" id="js-exit-reg" onclick="window.location.href='https://www.advokatuur.ee/est/avaleht';">Välju</button>
        </div>

      </fieldset>
    </form>
  </div>

</section>