<section id="register">

  <div class="span12 well afterheader">
    <h3>Tere, Ants Jürisalu</h3>
     <p>Siin saad valida endale sobiva kirjaliku eksami aja. Kirjalik eksam koosneb testist kestvusega 90 min ja kaasusülesandest kestvusega 5h. Suulisele eksamile pääsevad kirjaliku eksami sooritanud, teade suulisele eksamile pääsemise kohta saadetakse sulle e-mailile. Kontrolli, et sinu e-posti aadress oleks õige: sellele saadame kogu järgneva eksamiga seonduva info.</p>  
    <p> Meie andmetel tuleb sul sooritada <b>vandeadvokaadi eksam</b>. Kui see pole nii, palun võta ühendust Advokatuuriga telefonil 662 0665 või saada kiri <a href="mailto:advokatuur@advokatuur.ee">advokatuur@advokatuur.ee</a></p>
  </div>
  <div class="span12">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Registreerimine vandeadvokaadi eksamile</legend>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Toimumisaeg</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>23.01.2014 kl 14.00</option>
              <option>30.01.2014 kl 13.00</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Toimumiskoht</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>Tallinn, Rävala pst 30, ruum 3 (30 kohta, vabu 2)</option>
              <option>Tallinn, Rävala pst 30, ruum 2 (15 kohta, vabu 5)</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Kaasuse valdkond</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>Eraõigus ja tsiviilkohtu menetlus</option>
              <option>Riigi põhikord, avalik õigus ja halduskohtumenetlus</option>
              <option>Karistusõigus ja kriminaalmenetlus</option>
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">E-posti aadress</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="nimi@server.ee" class="input-xlarge">
            <!--           <p class="help-block">help</p> -->
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group error">
          <label class="control-label" for="textinput">E-posti aadress uuesti</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="nimi@server.ee" class="input-xlarge">
            <span class="help-inline">E-posti aadressid ei kattu </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Eksami liik</label>
          <div class="controls">
            <label class="checkbox inline" for="checkboxes-0">
              <input type="checkbox" name="checkboxes"  id="checkboxes-0" value="1">
            </label>
            <span class="help-inline">Kinnitan, et soovin sooritada vandeadvokaadi eksamit </span> 
          </div>
        </div>

        <hr>
        <!-- Button -->
        <div class="form-actions" style="background: none; border: none;">
          <button type="button" class="btn" id="js-cancel-reg">Loobu</button>
          <a class="btn btn-primary" id="js-confirm-reg">Kinnita</a>
        </div>

      </fieldset>
    </form>
  </div>
</section>