<section id="register">

  <div class="span12 well">
    <h3>Tere, Ants Juristu</h3>
    <p>Sul on maagilisel kombel kätte jõudnud aeg kirjalikku eksamit teha. Vedas Sul, et sa õigel ajal ikka märkasid siia vaatama tulla! </p> <p> Eksam koosneb kahest osast - <b>kirjalikust ja suulisest</b>. Siin saad registreeruda kirjalikule eksamile, mis omakorda jaguneb kaheks - testiks kestvusega 90 min ja kaasusülesandeks kestvusega 5h. Suulisele eksamile pääsevad kirjaliku eksami sooritanud, teade suulisele eksamile pääsemise kohta saadetakse Sulle e-mailile. </p>  
    <p> Kas korduseksamit saab ka teha? See olgu üllatuseks!</p>
  </div>
  <div class="span12">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Registreerimine</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Eksami liik</label>
          <div class="controls">
            <label class="checkbox inline" for="checkboxes-0">
              <input type="checkbox" name="checkboxes" class="check-lg" id="checkboxes-0" value="1">
            </label>
            <span class="help-inline">Vandeadvokaadi eksam </span> 
            <a href="javascript:void(0);" data-toggle="popover" class="icon-info-sign" title="" data-content="Lihtsalt kontroll, ega me mingit näpuviga teinud pole. Kui Sa tegelikult pead mingit muud eksamit tegema, helista meile ja ütle." ></a>
          </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="control-group">
          <label class="control-label" for="checkboxes">Korduseksam</label>
          <div class="controls">
            <label class="checkbox inline" for="checkboxes-1">
              <input type="checkbox" name="checkboxes" class="check-lg" id="checkboxes-1" value="2">
            </label>
            <span class="help-inline">Jah</span>
            <a href="javascript:void(0);" data-toggle="popover" class="icon-info-sign" title="" data-content="Kui eelmine kord eksam viltu läks, saad seda kaks korda uuesti proovida. Edasi vali palun mõni teine elukutse." ></a>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Kaasuse valdkond</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>Eraõigus ja tsiviilkohtu menetlus</option>
              <option>Riigi põhikord, avalik õigus ja halduskohtumenetlus</option>
              <option>Karistusõigus ja kriminaalmenetlus</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Eksami toimumise koht ja aeg</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>Tallinn, Rävala pst 30, ruum 3 (30 kohta) 23.01.2014 kl 14.00</option>
              <option>30.01.2014</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Ruum</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="span5 selectpicker">
              <option>3 (30 kohta)</option>
              <option>4 (2 kohta)</option>
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">E-posti aadress</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="nimi@server.ee" class="input-xlarge">
            <!--           <p class="help-block">help</p> -->
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">E-posti aadress uuesti</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="nimi@server.ee" class="input-xlarge">
          </div>
        </div>


        <!-- Button -->
        <div class="form-actions" style="background: none; border: none;">
          <button type="button" class="btn" id="js-cancel-reg">Loobu</button>
          <a class="btn btn-primary" id="js-confirm-reg">Kinnita</a>
        </div>

      </fieldset>
    </form>
  </div>
</section>