
  <section id="test"   ng-controller="QuestionListCtrl"><!--  data-spy="scroll" data-target=".pagination" data-offset-top="400" -->
    <div class="span9" >
      <form class="form-horizontal" novalidate ng-controller="QuestionListCtrl">
        <fieldset ng-repeat="test in tests | limitTo:100">
          <legend>{{test.field}}</legend>
          
          <!-- STABLE VERSION -->
          <div class="control-group"  >
            <label class="control-label " for="{{test.question}}" id="question{{$index + 1}}" >{{$index + 1}}. {{test.question}}</label>

            <div class="controls" >
              <label class="radio testquestion" for="{{value}}" ng-repeat="(key, value) in test.answers">
                <input type="radio" name="{{test.question}}" id="{{value}}" value="{{key}}" checked="checked" ng-model="tests">
                {{value}}
              </label>
              <div class="flagged checkbox">
                  <input type="checkbox" data-color="blue" class="check-lg" id="mark"/> <label for="mark">Märgista
                </label>
              </div>
            </div>
            <hr>
          </div>
        </fieldset>
        <p class="text-center"> <a id="js-end-test" class="btn btn-primary" href="#">Esitan testi</a> </p>
      </form>
    </div>
    <div class="span3">
      <div class="test-sidenav affix-bottom" data-spy="affix" data-offset-top="100" data-offset-bottom="100">
        <div class="pagination" id="pagenav">
          <p>Vastatud: 1/{{tests.length}}</p>
          <ul class="nav">
            <li ><a class="btn" href="#">1</a></li>
            <li ><a class="btn-info" href="#">2</a></li>
            <li ng-repeat="test in tests"><a href="#question{{$index + 1}}">{{$index + 1}}</a></li>
          </ul>
          <p>Kui sa pole mõnes vastuses kindel, märgista see, et saaksid hiljem selle juurde tagasi pöörduda: loetelus on ta siis oranzhi värvi.</p>

        <span class="navbar-text countdown">
          Aega jäänud <br><span class="btn"><span class="hours">00</span> : <span class="minutes">00</span> : <span class="seconds">00</span></span>
        </span>
                </div>
      </div>
    </div>
</section>