  <section class="content" id="test-end">
    <br><br><br>
    <div class="span12 hero-unit">
      <h1 class="text-center"> Oled testi edukalt sooritanud! </h1>

      <div class="span12">
        <div class=" span7 offset2">
          <ul class="unstyled">
            <li>45 õiget vastust 50-st <span class="pull-right b">75%</span>
              <div class="progress progress-important">
                <div class="bar" style="width: 75%;"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="span4 text-right">Õigeid vastuseid</div>
      <div class="span6">
        <ul class="unstyled">
          <!--           <li>45 küsimust (50st), sh:</li> -->
          <li><b>14</b>/20 eraõigus ja tsiviilkohtumenetlus</li>
          <li><b>5</b>/20 riigi põhikord, avalik õigus ja halduskohtumenetlus</li>
          <li><b>14</b>/20 karistusõigus ja kriminaalmenetlus ning</li>
          <li><b>2</b>/5 advokatuuri valdkond</li>
        </ul>

        <!--<p>Aega läbivaatamiseks <span class="btn">00:10:00</span></p>-->
      </div>
    </div>

    <div class="span12">
          <div class="row">
            <div class="span8 pull-left">
              <span class="label label-success"><i class="icon-ok"></i></span> Sinu vastus &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>Paksu tekstiga</b>&nbsp;&nbsp;Õige vastus
            </div>
            
          </div>
          <div class="row">
            <form class="form-horizontal left-less-intent">
              <fieldset style="margin-top: 20px;">
                <legend>1. Eraõigus ja tsiviilkohtumenetlus</legend>

                <div class="control-group">
                  <label for="Käsipant, samuti õiguste pant lõpeb" id="question1"><b>1.1 Käsipant, samuti õiguste pant lõpeb pandiga tagatud nõude loovutamisel </b></label>

                  <div class="controls">
                    <label class="radio testquestion" for="Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada">
                     <span class="label label-success"><i class="icon-ok"></i></span> <b>Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada</b>
                   </label>
                   <label class="radio testquestion" for="kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest"> <span class="label label-empty">&nbsp;</span>
                    kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest 
                  </label>
                  <label class="radio testquestion" for="pandi registrist kustutamisel"><span class="label label-empty">&nbsp;</span>
                    pandi registrist kustutamisel
                  </label>
                  <label class="radio testquestion" for="pandi eseme üleandmisel"><span class="label label-empty">&nbsp;</span>
                    pandi eseme üleandmisel
                  </label>
                </div>
                <hr>
              </div>
              <div class="control-group">
                <label for="Käsipant, samuti õiguste pant" id="question2"><b>1.2 Nõude aegumine peatub</b></label>

                <div class="controls">

                  <label class="radio testquestion" for="hagiavalduse esitamisega"><span class="label label-empty">&nbsp;</span>
                    <b>hagiavalduse esitamisega</b>
                  </label>

                  <label class="radio testquestion" for="nõude tunnustamisega kohustatud isiku poolt"><span class="label label-empty">&nbsp;</span>
                    nõude tunnustamisega kohustatud isiku poolt
                  </label>

                  <label class="radio testquestion" for="läbirääkimiste pidamisega läbirääkimiste toimumise ajaks"><span class="label label-success"><i class="icon-ok"></i></span>
                   läbirääkimiste pidamisega läbirääkimiste toimumise ajaks
                 </label>

                 <label class="radio testquestion" for="nõude loovutamisega"> <span class="label label-empty">&nbsp;</span>
                   nõude loovutamisega
                 </label>
               </div>

               <hr>
             </div>
             <div class="control-group">
              <label for="Käsipant, samuti õiguste pant lõpeb" id="Label1"><b>1.3 Tsiviilasjades võib maakohtu otsuse peale apellatsioonkaebuse esitada</b></label>

              <div class="controls">
                <label class="radio testquestion" for="10 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  10 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>

                <label class="radio testquestion" for="15 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  <b>15 päeva jooksul alates otsuse apellandile kättetoimetamisest</b>
                </label>

                <label class="radio testquestion" for="20 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-success"><i class="icon-ok"></i></span>
                  20 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>


                <label class="radio testquestion" for="25 päeva jooksul alates otsuse apellandile kättetoimetamisest">
                  <span class="label label-empty">&nbsp;</span>
                  25 päeva jooksul alates otsuse apellandile kättetoimetamisest
                </label>
              </div>
              <hr>
            </div>
            <div class="control-group">
              <label for="Käsipant, samuti õiguste pant lõpeb" id="Label2"><b>1.4 Müügilepingu sõlmimisega</b></label>

              <div class="controls">

                <label class="radio testquestion" for="tekib ostjal õigus nõuda müügieseme omandi ülekandmist">
                  <span class="label label-empty">&nbsp;</span>
                  tekib ostjal õigus nõuda müügieseme omandi ülekandmist
                </label>

                <label class="radio testquestion" for="läheb müügieseme omand üle ostjale juhul, kui ta on müügihinna täielikult tasunud">
                  <span class="label label-empty">&nbsp;</span>
                  läheb müügieseme omand üle ostjale juhul, kui ta on müügihinna täielikult tasunud
                </label>

                <label class="radio testquestion" for="läheb müügieseme omand üle ostjale, välja arvatud juhul, kui on kokku lepitud omandireservatsioonis">
                  <span class="label label-empty">&nbsp;</span>
                  läheb müügieseme omand üle ostjale, välja arvatud juhul, kui on kokku lepitud omandireservatsioonis
                </label>

                <label class="radio testquestion" for="täidab ostja oma ostuhinna tasumise kohustuse">
                  <span class="label label-success"><i class="icon-ok"></i></span>
                  <b>täidab ostja oma ostuhinna tasumise kohustuse</b>
                </label>
              </div>
              <hr>
            </div>
          </fieldset>
        </form>
      </div>

    </div>

 <div class="span12">
   <p class="text-center"> <a id="start-test" class="btn btn-primary" href="#" onclick=" $('#test-end').hide(); $('#written-start').show();">Olen tutvunud</a> </p>
 </div>

 <!-- span12 -->
</section>