  <section id="test-end">
    <br><br><br>
    <div class="span12 hero-unit">
      <h1 class="text-center"> Oled testi edukalt sooritanud! </h1>

      <div class="span12">
        <div class=" span7 offset2">
            <ul class="unstyled">
      <li>45 õiget vastust 50-st <span class="pull-right b">75%</span>
          <div class="progress progress-important">
              <div class="bar" style="width: 75%;"></div>
          </div>
      </li>
  </ul>
      </div>
</div>
      <div class="span4 text-right">Õigeid vastuseid</div>
      <div class="span6">
        <ul class="unstyled">
<!--           <li>45 küsimust (50st), sh:</li> -->
          <li><b>14</b> 20-st eraõiguse ja tsiviilkohtumenetluses</li>
          <li><b>5</b> 20-st riigi põhikorra, avaliku õiguse ja halduskohtumenetluses</li>
          <li><b>14</b> 20-st karistusõiguse ja kriminaalmenetluses ning</li>
          <li><b>2</b> 5-st advokatuuri valdkonnas</li>
        </ul>

        <p>Aega läbivaatamiseks <span class="btn">00:10:00</span></p>
      </div>
    </div>

<div class="span12">
  <form class="form-horizontal">
    <fieldset>
          <legend>Eraõigus ja tsiviilkohtumenetlus</legend>
          
          <!-- STABLE VERSION -->
          <div class="control-group">
            <label for="Käsipant, samuti õiguste pant lõpeb" id="question1"><span class="label label-important"><i class="icon-remove"></i></span> 1. Käsipant, samuti õiguste pant lõpeb pandiga tagatud nõude loovutamisel </label>

            <div class="controls">
              
             
              <label class="radio testquestion" for="kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest"><span class="label">Sinu vastus</span>
                
                 ...kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest <!-- ngRepeat: (key, value) in test.note -->
              </label>
            </div>
            <hr>
          </div>
          <div class="control-group">
            <label for="Käsipant, samuti õiguste pant" id="question2"><span class="label label-success"><i class="icon-ok"></i></span> 2. Käsipant, samuti õiguste pant lõpeb  pandiga tagatud nõude loovutamisel</label>


            <hr>
          </div>
          <div class="control-group">
            <label for="Käsipant, samuti õiguste pant lõpeb" id="question1"><span class="label label-important"><i class="icon-remove"></i></span> 3. Käsipant, samuti õiguste pant lõpeb pandiga tagatud nõude loovutamisel</label>

            <div class="controls">

              <label class="radio testquestion" for="kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest"><span class="label">Sinu vastus</span>
                
                 ...kui pandipidaja teatab pantijale kirjalikult pandi vabastamisest <!-- ngRepeat: (key, value) in test.note -->
              </label>
            </div>
            <hr>
          </div>
        </fieldset>
        </form>
</div>

      <div class="span12">
       <p class="text-center"> <a id="start-test" class="btn btn-primary" href="#" onclick=" $('#test-end').hide(); $('#written-start').show();">Jätka</a> </p>
       </div>

    <!-- span12 -->
  </section>