<section id="welcome">
  <div class="span8 offset2 well">
    <h3>Tere!</h3>
    <p>
    Siin saad registreeruda advokaadi abi või advokaadi eksamile. Loodame, et oled saanud Advokatuurist kutse siia lehele - vastasel korral ei pruugi sulle olla ligipääsuõigust veel antud. Kui leiad, et sul peaks olema ligipääsud, aga sa ei pääse eksamikeskkonda sisse, teavita meid telefonil 662 0665 või saada kiri <a href="mailto:advokatuur@advokatuur.ee">advokatuur@advokatuur.ee</a>. </p> 
     <p>Sisenemiseks palun logi sisse ID-kaardi või mobiil-ID-ga.</p>
     <br>
     <div class="offset2">
      <a href="#" id="js-login-id-button"><img src="img/login-id.png" alt=""></a>
      <a href="#" id="js-login-mobile-button"><img src="img/login-mid.png" alt=""></a>
    </div>
    <br>
  </div>
  <div class="clear"></div>
</section>