<section id="welcome">
  <div class="span8 offset2 well afterheader">
    <h3>Tere!</h3>
    <p>
    Kui oled saanud Advokatuurist kutse, saad siin registreeruda advokaadi abi või advokaadi eksamile. Kuni sul kutset pole, pole sul veel ligipääsuõigusi. Kui leiad, et sul peaks olema ligipääsud, aga sa ei pääse eksamikeskkonda sisse, teavita meid telefonil 662 0665 või saada kiri <a href="mailto:advokatuur@advokatuur.ee">advokatuur@advokatuur.ee</a>. </p> 
     <p>Sisenemiseks palun logi sisse ID-kaardi või mobiil-ID-ga.</p>
     <br>
     <div class="offset2">
      <a href="#" id="js-login-id-button"><img src="img/login-id.png" alt=""></a>
      <a href="#" id="js-login-mobile-button"><img src="img/login-mid.png" alt=""></a>
    </div>
    <br>
  </div>
  <div class="clear"></div>
</section>