  <section id="written-test-start">
      <div class="span12">
        <div class="well">
          <h1>Kaasusülesanne </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, laudantium, velit, nobis, excepturi exercitationem impedit distinctio a eveniet dolorum nemo inventore possimus rerum nulla nihil totam ducimus veritatis sint quia!<br>Soovime Sulle palju edu! </p>
          <p class="text-center"> <a id="start-test" class="btn btn-primary" href="#" onclick=" $('#test-start').hide(); $('#test').show();">Alusta kaasusülesandega</a> </p>
        </div>
        <!-- well -->
      </div>
      <!-- span12 -->
  </section>

  <section id="written-test">
      <div class="span12">
        <div class="accordion" id="comment-accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse1">Aadu Luberg, 02.01.2014 13:30
                    </a>
                </div>
                <div id="comment-accordion-collapse1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        Kutsesobivuskomisjoni liikme kommentaar
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse2">Mari-Ann Simovart, 02.01.2014 13:30
                    </a>
                </div>
                <div id="comment-accordion-collapse2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <textarea rows="6">Kutsesobivuskomisjoni liikme kommentaar 2</textarea>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#comment-accordion" href="#comment-accordion-collapse3">Kommentaar
                    </a>
                </div>
                <div id="comment-accordion-collapse3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <textarea rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- well -->
      </div>
      <!-- span12 -->
  </section>
