  <section class="content" id="written-start">
    <br><br><br>
      <div class="span12">
        <div class="well">
          <h1 class="text-center"> Lõunapaus </h1>
          <p> Aeg lõunat süüa! Siin lähedal saab Radissonis meeldivalt einestada, Kaubamaja kõrval on Muah! ja Postimehe kohvik on ka hea. Kohtume taas siinsamas kell 15.00, logi ennast ID-kaardiga sisse kui oled valmis.</p>
          <p class="text-center">Kaasuse lahendamiseks on aega 5 tundi</p>
          <p class="text-center"> <a id="start-test" class="btn btn-primary" href="#" onclick="window.location.href='https://www.advokatuur.ee/est/avaleht';">Välju</a> </p>
        </div>
        <!-- well -->
      </div>
      <!-- span12 -->
  </section>